FORMAT: 1A
HOST: http://itas.apiary.io/
VERSION: 2.6

# ITAS API 2.6
<strong>Release notes</strong> (3rd August 2016)

<div>~ New endpoints added in this release :</div>
<div>
<ul>
<li>Client Reference Data <strong>Delta Update ClientAccount</strong>: Update ClientAccount data with only ClientAccountId mandatory. <a href="/#reference/client-reference-data/clientaccount/delta-update-clientaccount"> Link</a></li>
<li>Nominal Reference Data <strong>Delta Update NominalAccount</strong>: Update NominalAccount data with only NominalAccountId mandatory. <a href="/#reference/nominal-reference-data/nominalaccount/delta-update-nominalaccount"> Link</a></li>
<li>Accounting <strong>Delta Update Transaction Header</strong>: Update Transaction Header. <a href="/#reference/accounting-transactions/transaction-header/delta-update-transaction-header"> Link</a></li>
</ul>
</div>
<br />
<div>~ Updated endpoints changed in this release :</div>
<ul>
<li>All Apiary documentation reference titles which included a backslash have now been amended to include a hyphen instead, eg: Contract/Physical now Contract-Physical, this is purely for documentation URL purposes and does not affect API endpoints.</li>
<li>Nominal Reference Data <strong>Update NominalAccount</strong>: Removed MainGroupingDescription and DetailDescription properties as they are not supported for update</li>
<li>Accounting-Transaction <strong>Read UnPosted Transaction</strong>: API response now displays DocumentCurrency for Currency object.</li>
<li>Accounting-Transaction <strong>Update Transaction Header</strong>: Removed PostedDate and DocumentDate properties as they are not supported for update.</li>
<li>Accounting-Transaction <strong>List Transaction Headers</strong>: Additional properties DocumentReversed and AssociateDocument now included in list.</li>
<li>Contract-Physical <strong>List Physical Trades</strong>: Additional property AllocationReference now inlcuded in list</li>
</ul>
<br />
<div>** ends ** </div>


## AccessToken [/AT]
Model Header containing AccessToken

+ Model 
    + Header

            Authorization: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1bmlxdWVfbmFtZSI6ImRlZXBhayIsInN1YiI6ImRlZXBhayIsInJvbGUiOlsiNzk5YjhhNDEtYWI0ZS00MTBhLWI5MTktYzU3ZWFlMmFlMDI5IiwiZGVlcGFrIiwiQVNQLk5FVCBJZGVudGl0eSIsIjViNDE4ODE2LTI3ZjQtNGRlOC1iNmMyLTJlZTcxNjI3ZmJmYyIsIkFkbWluIiwiU3VwZXJBZG1pbiJdLCJpc3MiOiJodHRwOi8vbG9jYWxob3N0OjgwMjciLCJhdWQiOiI4MjkzNjk0MjJmNzA0NTIzODUxZDk4NTU2YjZkNTQyYiIsImV4cCI6MTQ1OTQzMjk0MSwibmJmIjoxNDU5NDMxMTQxfQ.JgPGxt0Ok5baKx0YMXlO6D9kUYrCWM-Kma9b9iMW8tg

# Group Client Reference Data
Codes relating to the Client Ledger and related endpoints.

## ClientAccount List [/ReferenceData/{TradingEntityId}/ClientLedger/ClientAccount/{Property}/{PropertyValue}]
Client Ledger Account profile.
### List ClientAccounts [GET]

|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|ClientAccountId|Client Account Code|`string`|10|||
|Title|Client Account Title|`string`|200|||
|ClientTypeCode|Client Account Type Code|`string`|1|||
|Status|Account Status|`string`|1||`O` or `F`|
|PrivilegeLevel|Account Privilege Level|`number`|1||`0` to `9`|
|CanBeBuyer|Is Client a Buyer|`boolean`|5|||
|CanBeSeller|Is Client a Seller|`boolean`|5|||
|CanBeAgent|Is Client an Agent|`boolean`|5|||
|CanBeShipper|Is Client a Shipper|`boolean`|5|||
|CanBeDerivativeClient|Is Client a Derivitive Client|`boolean`|5|||
|CanBeDerivativeBroker|Is Client a Derivitive Broker|`boolean`|5|||
|EDICode|Account EDI Code|`string`|50|||


+ Request
    [AccessToken][]
    
+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity.
    + Property (optional, enum[string]) 
       + Members
            + Status
            + CanBeBuyer
            + CanBeSeller 
            + CanBeAgent
            + CanBeShipper
            + CanBeDerivativeClient 
            + CanBeDerivativeBroker 
            + EDICode
    + PropertyValue (optional, string, `O`) 

+ Response 200 (application/json; charset=utf-8)
    + Attributes (object)
        + Data (array [ClientAccount List])
        + Pagination (Pagination)
        + Response (200 SuccessResponse)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)    

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 BadPropertyResponse)
    


## ClientAccount [/ReferenceData/{TradingEntityId}/ClientLedger/ClientAccount/{ClientAccountId}]
Client Ledger Account profile.
### Read ClientAccount [GET]

|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|ClientAccountId|Client Account Code|`string`|10||Required|
|Title|Client Account Title|`string`|200|||
|ClientType|see <b><a href="/#reference/client-reference-data/clienttype-list">Client Type List</a></b> endpoint|`object`||||
|Status|Account Status|`string`|1||`O` or `F`|
|PrivilegeLevel|Account Privilege Level|`number`|1||`0` to `9`|
|CanBeBuyer|Is Client a Buyer|`boolean`|5|||
|CanBeSeller|Is Client a Seller|`boolean`|5|||
|CanBeAgent|Is Client an Agent|`boolean`|5|||
|CanBeShipper|Is Client a Shipper|`boolean`|5|||
|CanBeDerivativeClient|Is Client a Derivitive Client|`boolean`|5|||
|CanBeDerivativeBroker|Is Client a Derivitive Broker|`boolean`|5|||
|GlobalTraderProgramMember|Is Client a Global Trader Program Member|`boolean`|5|||
|GroupAccountMember|Is Client a Group Account Member|`boolean`|5|||
|HeadOfFamilyAccountCode|Head of Family Account Code|`string`|10|||
|EDICode|Account EDI Code|`string`|50|||
|ContactDetails|see <b><a href="/#reference/data-object-definitions/address">Address</a></b> object|`object`||||
|<strong>Client Limits</strong>|
|ClientDateLimitsApproved|Date Client Limits Approved|`datetime`|20|||
|ClientLimitsCurrency|see <b><a href="/#reference/global-reference-data/currency-list/list-currencies">Currency List</a></b> endpoint|`object`||||
|ClientPaymentLimit|Client Payment Limit|`decimal`||||
|ClientMarketDefaultRiskLimit|Client Market Default Risk Limit|`decimal`||||
|ClientCommitmentLimit|Client Commitment Limit|`decimal`||||
|<strong>Family Limits</strong>|
|FamilyDateLimitsApproved|Date Family Limit Approved|`datetime`|20|||
|FamilyLimitsCurrency|see <b><a href="/#reference/global-reference-data/currency-list/list-currencies">Currency List</a></b> endpoint|`object`||||
|FamilyPaymentLimit|Family Payment Limit|`decimal`||||
|FamilyMarketDefaultRiskLimit|Family Market Default Risk Limit|`decimal`||||
|FamilyCommitmentLimit|Family Commitment Limit|`decimal`||||


+ Request
    [AccessToken][]
    
+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity. 
    + ClientAccountId (required, string, `ABCDEF.P`) ... Code of client account to read.

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (ClientAccount)
        + Response (200 SuccessResponse)
    
+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)



### Create Update ClientAccount [PUT]
For Update requests the field `ClientAccountId` is used to check the corresponding value in the URI

|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|ClientAccountId|Client Account Code|`string`|10||Required. Unique Key|
|Title|Client Account Title|`string`|200||Required|
|ClientTypeCode|Client Account Type Code|`string`|1||Required|
|Status|Account Status|`string`|1||`O` or `F`|
|PrivilegeLevel|Account Privilege Level|`number`|1||`0` to `9`|
|CanBeBuyer|Is Client a Buyer|`boolean`|5|||
|CanBeSeller|Is Client a Seller|`boolean`|5|||
|CanBeAgent|Is Client an Agent|`boolean`|5|||
|CanBeShipper|Is Client a Shipper|`boolean`|5|||
|CanBeDerivativeClient|Is Client a Derivitive Client|`boolean`|5|||
|CanBeDerivativeBroker|Is Client a Derivitive Broker|`boolean`|5|||
|GlobalTraderProgramMember|Is Client a Global Trader Program Member|`boolean`|5|||
|GroupAccountMember|Is Client a Group Account Memeber|`boolean`|5|||
|HeadOfFamilyAccountCode|Head of Family Account Code|`string`|10|||
|EDICode|Account EDI Code|`string`|50|||
|<strong>Contact Details</strong>|
|AddressLine1|Address Line 1|`string`|60|||
|AddressLine2|Address Line 2|`string`|60|||
|AddressLine3|Address Line 3|`string`|60|||
|AddressLine4|Address Line 4|`string`|60|||
|ZipCode|Zip Code|`string`|40|||
|CountryCode|Country Code|`string`|3||Required|
|EmailAddress|Email Address|`string`|100|||
|PhoneNumber|Phone Number|`string`|40|||
|FaxNumber|Fax Number|`string`|40|||
|<strong>Client Limits</strong>|
|ClientDateLimitsApproved|Date Client Limits Approved|`datetime`|20|||
|ClientLimitsCurrencyCode|Client Limits Currency Code|`string`|3|||
|ClientPaymentLimit|Client Payment Limits|`decimal`||||
|ClientMarketDefaultRiskLimit|Client Market Default Risk Limit|`decimal`||||
|ClientCommitmentLimit|Client Commitment Limit|`decimal`||||
|<strong>Family Limits</strong>|
|FamilyDateLimitsApproved|Date Family Limits Approved|`datetime`|20|||
|FamilyLimitsCurrencyCode|Family Limit Currency Code|`string`|3|||
|FamilyPaymentLimit|Family Payment Limit|`decimal`||||
|FamilyMarketDefaultRiskLimit|Family Market Default Risk Limit|`decimal`||||
|FamilyCommitmentLimit|Family Commitment Limit|`decimal`||||


+ Request (application/json)
    + Header

            AccessToken:Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1bmlxdWVfbmFtZSI6ImRlZXBhayIsInN1YiI6ImRlZXBhayIsInJvbGUiOlsiNzk5YjhhNDEtYWI0ZS00MTBhLWI5MTktYzU3ZWFlMmFlMDI5IiwiZGVlcGFrIiwiQVNQLk5FVCBJZGVudGl0eSIsIjViNDE4ODE2LTI3ZjQtNGRlOC1iNmMyLTJlZTcxNjI3ZmJmYyIsIkFkbWluIiwiU3VwZXJBZG1pbiJdLCJpc3MiOiJodHRwOi8vbG9jYWxob3N0OjgwMjciLCJhdWQiOiI4MjkzNjk0MjJmNzA0NTIzODUxZDk4NTU2YjZkNTQyYiIsImV4cCI6MTQ1OTQzMjk0MSwibmJmIjoxNDU5NDMxMTQxfQ.JgPGxt0Ok5baKx0YMXlO6D9kUYrCWM-Kma9b9iMW8tg

    + Attributes (ClientAccount CreateUpdate)

+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity.
    + ClientAccountId (required, string, `ABCDEF.P`) ... Code for client account to create or update.

+ Response 201 (application/json; charset=utf-8)
    + Attributes 
        + Data
            + ClientAccountID: ABCDEF.P (string)
        + Response (201 CreateResponse)

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data
            + ClientAccountID: ABCDEF.P (string)
        + Response (200 UpdateResponse)
    
+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 Response)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

### Delta Update ClientAccount [PATCH]
Delta Update is to be used to update ClientAcount, where the field `ClientAccountId` is the only required field, it cannot be updated but is used to cross reference the Id in the URI

|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|ClientAccountId|Client Account Code|`string`|10||Required|
|Title|Client Account Title|`string`|200|||
|ClientTypeCode|Client Account Type Code|`string`|1|||
|Status|Account Status|`string`|1||`O` or `F`|
|PrivilegeLevel|Account Privilege Level|`number`|1||`0` to `9`|
|CanBeBuyer|Is Client a Buyer|`boolean`|5|||
|CanBeSeller|Is Client a Seller|`boolean`|5|||
|CanBeAgent|Is Client an Agent|`boolean`|5|||
|CanBeShipper|Is Client a Shipper|`boolean`|5|||
|CanBeDerivativeClient|Is Client a Derivitive Client|`boolean`|5|||
|CanBeDerivativeBroker|Is Client a Derivitive Broker|`boolean`|5|||
|GlobalTraderProgramMember|Is Client a Global Trader Program Member|`boolean`|5|||
|GroupAccountMember|Is Client a Group Account Memeber|`boolean`|5|||
|HeadOfFamilyAccountCode|Head of Family Account Code|`string`|10|||
|EDICode|Account EDI Code|`string`|50|||
|<strong>Contact Details</strong>|
|AddressLine1|Address Line 1|`string`|60|||
|AddressLine2|Address Line 2|`string`|60|||
|AddressLine3|Address Line 3|`string`|60|||
|AddressLine4|Address Line 4|`string`|60|||
|ZipCode|Zip Code|`string`|40|||
|CountryCode|Country Code|`string`|3|||
|EmailAddress|Email Address|`string`|100|||
|PhoneNumber|Phone Number|`string`|40|||
|FaxNumber|Fax Number|`string`|40|||
|<strong>Client Limits</strong>|
|ClientDateLimitsApproved|Date Client Limits Approved|`datetime`|20|||
|ClientLimitsCurrencyCode|Client Limits Currency Code|`string`|3|||
|ClientPaymentLimit|Client Payment Limits|`decimal`||||
|ClientMarketDefaultRiskLimit|Client Market Default Risk Limit|`decimal`||||
|ClientCommitmentLimit|Client Commitment Limit|`decimal`||||
|<strong>Family Limits</strong>|
|FamilyDateLimitsApproved|Date Family Limits Approved|`datetime`|20|||
|FamilyLimitsCurrencyCode|Family Limit Currency Code|`string`|3|||
|FamilyPaymentLimit|Family Payment Limit|`decimal`||||
|FamilyMarketDefaultRiskLimit|Family Market Default Risk Limit|`decimal`||||
|FamilyCommitmentLimit|Family Commitment Limit|`decimal`||||

+ Request (application/json)
    + Header

            AccessToken:Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1bmlxdWVfbmFtZSI6ImRlZXBhayIsInN1YiI6ImRlZXBhayIsInJvbGUiOlsiNzk5YjhhNDEtYWI0ZS00MTBhLWI5MTktYzU3ZWFlMmFlMDI5IiwiZGVlcGFrIiwiQVNQLk5FVCBJZGVudGl0eSIsIjViNDE4ODE2LTI3ZjQtNGRlOC1iNmMyLTJlZTcxNjI3ZmJmYyIsIkFkbWluIiwiU3VwZXJBZG1pbiJdLCJpc3MiOiJodHRwOi8vbG9jYWxob3N0OjgwMjciLCJhdWQiOiI4MjkzNjk0MjJmNzA0NTIzODUxZDk4NTU2YjZkNTQyYiIsImV4cCI6MTQ1OTQzMjk0MSwibmJmIjoxNDU5NDMxMTQxfQ.JgPGxt0Ok5baKx0YMXlO6D9kUYrCWM-Kma9b9iMW8tg

    + Attributes (ClientAccount Update)

+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity.
    + ClientAccountId (required, string, `ABCDEF.P`) ... Code for client account to update.

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data
            + ClientAccountID: ABCDEF.P (string)
        + Response (200 UpdateResponse)
    
+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 Response)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

## ClientType List [/ReferenceData/{TradingEntityId}/ClientLedger/ClientType/{Property}/{PropertyValue}]
User-defined list of codes used for classification purposes on Client Account profile.
### List ClientTypes [GET]
|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|ClientTypeId|Client Type Code|`string`|1|||
|ClientTypeDescription|Client Type Description|`string`|50|||


+ Request
    [AccessToken][]
    
+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity.
    + Property (optional, enum[string]) ... identify property name to filter by 
       + Members
            + ClientTypeId
    + PropertyValue (optional, string, `H`) 

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (array [ClientType List])
        + Pagination (Pagination)
        + Response (200 SuccessResponse)


    
+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 BadPropertyResponse)
  
+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)


# Group Global Reference Data
Global (system-wide) codes 

## Country List [/ReferenceData/Global/Country/{Property}/{PropertyValue}]
Country codes.
### List Countries [GET]
|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|CountryId|Country Code|`string`|3|||
|CountryDescription|Country Code Description|`string`|50|||

+ Request
    [AccessToken][]

+ Parameters
    + Property (optional, enum[string]) 
       + Members
            + CountryId
    + PropertyValue (optional, string, `GB`)

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (array [Country])
        + Pagination (Pagination)
        + Response (200 SuccessResponse)
    

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 BadPropertyResponse)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

## Currency List [/ReferenceData/Global/Currency/{Property}/{PropertyValue}]
Currency codes.
### List Currencies [GET]
|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|CurrencyId|Currency Code|`string`|3|||
|CurrencyDescription|Currency Code Description|`string`|20|||

+ Request
    [AccessToken][]

+ Parameters
    + Property (optional, enum[string]) 
       + Members
            + CurrencyId
    + PropertyValue (optional, string, `GBP`)

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (array [Currency])
        + Pagination (Pagination)
        + Response (200 SuccessResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 BadPropertyResponse)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

## UserAccount List  [/ReferenceData/Global/UserAccount/{Property}/{PropertyValue}]
ITAS User Account profiles.
### List User Accounts [GET]



|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|UserAccountId|User Account Initials|`string`|3|||
|UserAccountName|User Account Username|`string`|255|||
|UserAccountDescription|User Account Full Name|`string`|40|||


+ Request
    [AccessToken][]

+ Parameters
    + Property (optional, enum[string]) 
       + Members
            + UserAccountId
            + UserAccountName
    + PropertyValue (optional, string, `JS`)

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (array [UserAccount])
        + Pagination (Pagination)
        + Response (200 SuccessResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 BadPropertyResponse)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)


# Group Nominal Reference Data
Codes relating to Nominal Ledger and related endpoints.

## Department List [/ReferenceData/{TradingEntityId}/NominalLedger/Department/{Property}/{PropertyValue}]
Codes used to segregate business sectors within a trading company, and can be applied to contracts and accounting transactions.
### List Departments [GET]

|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|DepartmentId|Department Code|`string`|4|||
|DepartmentDescription|Department Code Description|`string`|30|||
|NominalCategoryId|Nominal Category Code|`string`|2|||
|CountryId|Department Country Code|`string`|3|||
|EDICode|Department EDI Code|`string`|15|||
|Status|Department Status|`string`|1||`O` or `F`|

+ Request
    [AccessToken][]
    
+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity.
    + Property (optional, enum[string]) ... identify property name to filter by 
       + Members
            + Status
            + DepartmentId
            + EDICode
    + PropertyValue (optional, string, `F`)


+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (array[Department List])
        + Pagination (Pagination)
        + Response (200 SuccessResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 BadPropertyResponse)
    
+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

## Department [/ReferenceData/{TradingEntityId}/NominalLedger/Department/{DepartmentId}]
Codes used to segregate business sectors within a trading company, and can be applied to contracts and accounting transactions.
### Read Department [GET]
|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|DepartmentId|Department Code|`string`|4||Required|
|DepartmentDescription|Department Description|`string`|30|||
|NominalCategory|see <b><a href="/#reference/nominal-reference-data/nominalcategory-list/list-nominalcategories">Nominal Category List</a></b> endpoint|`object`||||
|Country|see <b><a href="/#reference/global-reference-data/country-list/list-countries">Countries List</a></b> endpoint|`object`||||
|EDICode|Department EDI Code|`string`|15|||
|Status|Department Status|`string`|1||`O` or `F`|

+ Request
    [AccessToken][]

+ Parameters
    + TradingEntityId (required, string, `JT`) ...  Specific trading entity.
    + DepartmentId (required, string, `5100`) ...  Property department id. 

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (Department)
        + Response (200 SuccessResponse)


+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 Response)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

## Expense List [/ReferenceData/{TradingEntityId}/NominalLedger/Expense/{Property}/{PropertyValue}]
Codes that are primarily used for accounting transaction analysis purposes.
### List Expenses [GET]


|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|ExpenseId|Expense Code|`string`|7|||
|ExpenseDescription|Expense Code Description|`string`|40|||
|EDICode|Expense EDI Code|`string`|15|||
|Status|Expense Status|`string`|1||`O` or `F`|


+ Request
    [AccessToken][]

+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity. 
    + Property (optional, enum[string])  
       + Members
            + Status
            + EDICode
            + ExpenseId 
    + PropertyValue (optional, string, `F`) 

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (array [Expense List])
        + Pagination (Pagination)
        + Response (200 SuccessResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 Response)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

## NominalAccount List [/ReferenceData/{TradingEntityId}/NominalLedger/NominalAccount/{Property}/{PropertyValue}]
Nominal (General) Ledger Account profile.
### List NominalAccounts [GET]
|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|NominalAccountId|Nominal Account Code|`string`|9|||
|MainGroupingDescription|Main Grouping Description|`string`|40|||
|DetailDescription|Detail Description|`string`|40|||
|BankAccount|Is a Bank Account|`boolean`|5|||
|PrivilegeLevel|Nominal Account Privilege Level|`number`|1||`0` to `9`|
|EDICode|Nominal Account EDI Code|`string`|30|||
|Status|Nominal Account Status|`string`|1||`O` or `F`|


+ Request
    [AccessToken][]

+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity.
    + Property (optional, enum[string]) ... identify property name to filter by 
       + Members
            + NominalAccountId
            + BankAccount
            + EDICode
            + Status 
    + PropertyValue (optional, string, `1234.5678`)


+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (array[NominalAccount])
        + Pagination (Pagination)
        + Response (200 SuccessResponse)


+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

## NominalAccount [/ReferenceData/{TradingEntityId}/NominalLedger/NominalAccount/{NominalAccountId}]
Nominal (General) Ledger Account profile.

### Read NominalAccount [GET]
|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|NominalAccountId|Nominal Account Code|`string`|9||Required|
|MainGroupingDescription|Main Grouping Description|`string`|40|||
|DetailDescription|Detail Description|`string`|40|||
|BankAccount|Is a Bank Account|`boolean`|5|||
|PrivilegeLevel|Nominal Account Privilege Level|`number`|1||`0` to `9`|
|EDICode|Nominal Account EDI Code|`string`|30|||
|Status|Nominal Account Status|`string`|1||`O` or `F`|

+ Request
    [AccessToken][]

+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity.
    + NominalAccountId (required, string, `1234.5678`) ... Code for nominal account to read. 


+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (NominalAccount)
        + Response (200 SuccessResponse)


+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)
    
### Update NominalAccount [PUT]
|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|NominalAccountId|Nominal Account Code|`string`|9||Required|
|BankAccount|Is a Bank Account|`boolean`|5|||
|PrivilegeLevel|Nominal Account Privilege Level|`number`|1||`0` to `9`|
|EDICode|Nominal Account EDI Code|`string`|30|||
|Status|Nominal Account Status|`string`|1||`O` or `F`|

+ Request (application/json)
    + Header

            AccessToken:Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1bmlxdWVfbmFtZSI6ImRlZXBhayIsInN1YiI6ImRlZXBhayIsInJvbGUiOlsiNzk5YjhhNDEtYWI0ZS00MTBhLWI5MTktYzU3ZWFlMmFlMDI5IiwiZGVlcGFrIiwiQVNQLk5FVCBJZGVudGl0eSIsIjViNDE4ODE2LTI3ZjQtNGRlOC1iNmMyLTJlZTcxNjI3ZmJmYyIsIkFkbWluIiwiU3VwZXJBZG1pbiJdLCJpc3MiOiJodHRwOi8vbG9jYWxob3N0OjgwMjciLCJhdWQiOiI4MjkzNjk0MjJmNzA0NTIzODUxZDk4NTU2YjZkNTQyYiIsImV4cCI6MTQ1OTQzMjk0MSwibmJmIjoxNDU5NDMxMTQxfQ.JgPGxt0Ok5baKx0YMXlO6D9kUYrCWM-Kma9b9iMW8tg

    + Attributes (NominalAccountUpdate)

+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity. 
    + NominalAccountId (required, string, `1234.5678`) ... Code for nominal account to update. 

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data
            + NominalAccountId: 1234.5678 (string)
        + Response (200 UpdateResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 Response)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

### Delta Update NominalAccount [PATCH]
|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|NominalAccountId|Nominal Account Code|`string`|9||Required|
|BankAccount|Is a Bank Account|`boolean`|5|||
|PrivilegeLevel|Nominal Account Privilege Level|`number`|1||`0` to `9`|
|EDICode|Nominal Account EDI Code|`string`|30|||
|Status|Nominal Account Status|`string`|1||`O` or `F`|

+ Request (application/json)
    + Header

            AccessToken:Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1bmlxdWVfbmFtZSI6ImRlZXBhayIsInN1YiI6ImRlZXBhayIsInJvbGUiOlsiNzk5YjhhNDEtYWI0ZS00MTBhLWI5MTktYzU3ZWFlMmFlMDI5IiwiZGVlcGFrIiwiQVNQLk5FVCBJZGVudGl0eSIsIjViNDE4ODE2LTI3ZjQtNGRlOC1iNmMyLTJlZTcxNjI3ZmJmYyIsIkFkbWluIiwiU3VwZXJBZG1pbiJdLCJpc3MiOiJodHRwOi8vbG9jYWxob3N0OjgwMjciLCJhdWQiOiI4MjkzNjk0MjJmNzA0NTIzODUxZDk4NTU2YjZkNTQyYiIsImV4cCI6MTQ1OTQzMjk0MSwibmJmIjoxNDU5NDMxMTQxfQ.JgPGxt0Ok5baKx0YMXlO6D9kUYrCWM-Kma9b9iMW8tg

    + Attributes (NominalAccountDelta)

+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity. 
    + NominalAccountId (required, string, `1234.5678`) ... Code for nominal account to update. 

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data
            + NominalAccountId: 1234.5678 (string)
        + Response (200 UpdateResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 Response)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

## NominalCategory List [/ReferenceData/{TradingEntityId}/NominalLedger/NominalCategory/{Property}/{PropertyValue}]
User-defined categorisation codes that can be applied to departments and bank accounts.
### List NominalCategories [GET]

|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|NominalCategoryId|Nominal Category Code|`string`|2|||
|NominalCategoryDescription|Nominal Category Code Description|`string`|50|||
|NominalGroup|Nominal Group|`string`|15|||


+ Request
    [AccessToken][]

+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity.
    + Property (optional, enum[string]) ... identify property name to filter by 
       + Members
            + NominalCategoryId
    + PropertyValue (optional, string, `AF`)


+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (array[NominalCategory])
        + Response (200 SuccessResponse)


+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 Response)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

## Vat Rate List [/ReferenceData/{TradingEntityId}/NominalLedger/VATRate/{Property}/{PropertyValue}]
Codes and rates applied as part of any VAT/GST accounting practise.
### List VATRates [GET]


|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|VatRateId|VAT Rate Code|`string`|2|||
|VatRateDescription|VAT Rate Code Description|`string`|40|||
|VatRate|VAT Rate|`decimal`||||
|Status|VAT Rate Status|`string`|1||`O` or `F`|

+ Request
    [AccessToken][]

+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity. 
    + Property (optional, enum[string]) 
       + Members
            + VATRateId
            + VATRate
            + Status
    + PropertyValue (optional, string, `GS`) 

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (array [VATRate])
        + Response (200 SuccessResponse)


+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 BadPropertyResponse)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)


# Group Physicals Reference Data
Codes relating to Physicals Trading and related endpoints.

## Commodity List [/ReferenceData/{TradingEntityId}/Physicals/Commodity/{Property}/{PropertyValue}]
Commodity/Product codes, used to identify goods
### List Commodities [GET]

|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|CommodityCodePart1|Commodity Code|`string`|3|||
|CommodityCodePart2|Commodity Origin|`string`|6|||
|CommodityCodePart3|Commodity Grade|`string`|6|||
|CommodityCodePart4|Commodity Code Section 4|`string`|6|||
|CommodityCodePart5|Commodity Code Section 5|`string`|6|||
|CommodityDescription|Commodity Description|`string`|250|||
|DocumentText|Document Text|`string`|4000|||
|CommodityGroup|Commodity Group Code|`string`|3|||
|CountryCode|Commodity Country Code|`string`|3|||
|EDICode|Commodity EDI Code|`string`|15|||
|Status|Commodity Status|`string`|1||`O` or `F`|

+ Request
    [AccessToken][]

+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity.
    + Property (optional, enum[string]) ... identify property name to filter by 
       + Members
            + Status (optional, string)
            + CommodityCodePart1 (optional, string) 
            + CommodityCodePart2 (optional, string)
            + CommodityCodePart3 (optional, string)
            + CommodityCodePart4 (optional, string)
            + CommodityCodePart5 (optional, string)
            + CommodityGroup (optional, string)
            + EDICode (optional, string)
    + PropertyValue (optional, string, `F`)

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (array[Commodity])
        + Pagination (Pagination)
        + Response (200 SuccessResponse)
    
+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 BadPropertyResponse)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

## Contract Term List [/ReferenceData/{TradingEntityId}/Physicals/ContractTerm/{Property}/{PropertyValue}]
Contract Terms (aka Incoterms) usually setup to represent pre-defined, internationally recognised, commercial terms of contract.
### List ContractTerms [GET]


|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|ContractTermId|Contract Term Code|`string`|8|||
|ContractTermDescription|Contract Term Code Description|`string`|50|||
|DocumentText|Contract Document Text|`string`|4000|||
|Status|Contract Status|`string`|1||`O` or `F`|
|EDICode|Contract EDI Code|`string`|50|||

+ Request
    [AccessToken][]

+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity.
    + Property (optional, enum[string])
       + Members
            + Status (optional, string)
            + ContractTermId (optional, string) 
            + EDICode (optional, string)
    + PropertyValue (optional, string, `F`)

+ Response 200 (application/json; charset=utf-8)
    + Attributes
        + Data (array[ContractTerm])
        + Pagination (Pagination)
        + Response (200 SuccessResponse)
    
+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 BadPropertyResponse)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

## PackingType List [/ReferenceData/{TradingEntityId}/Physicals/PackingType/{Property}/{PropertyValue}]
Codes used to describe the units of packing applied in physical contracts.
### List PackingTypes [GET]

|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|PackingTypeId|Packing Type Code|`string`|4|||
|PackingTypeDescription|Packing Type Code Description|`string`|70|||
|EDICode|Packing Type EDI Code|`string`|50|||
|Status|Packing Status|`string`|1||`O` or `F`|

+ Request
    [AccessToken][]

+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity.
    + Property (optional, enum[string]) ... identify property name to filter by 
       + Members
            + Status (optional, string)
            + PackingTypeId (optional, string) 
            + EDICode (optional, string)
    + PropertyValue (optional, string, `F`)

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (array[PackingType])
        + Pagination (Pagination)
        + Response (200 SuccessResponse)
    
+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 BadPropertyResponse)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

## PaymentTerm List [/ReferenceData/{TradingEntityId}/Physicals/PaymentTerm/{Property}/{PropertyValue}]


Codes used to describe terms of payment applied to physical contracts through to accounting
### List PaymentTerms [GET]
|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|PaymentTermId|Payment Term Code|`string`|8|||
|PaymentTermDescription|Payment Term Code Description|`string`|99|||
|DocumentText|Payment Term Document Text|`string`|8000|||
|EDICode|Payment Term EDI Code|`string`|20|||
|Status|Payment Term Status|`string`|1||`O` or `F`|
|NumberOfDaysCredit |Number of Days Credit|`number`||||


+ Request
    [AccessToken][]
    
+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity.
    + Property (optional, enum[string]) ... identify property name to filter by 
       + Members
            + Status (optional, string)
            + PaymentTermsId (optional, string) 
            + EDICode (optional, string)
    + PropertyValue (optional, string, `F`)

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (array[PaymentTerm])
        + Pagination (Pagination)
        + Response (200 SuccessResponse)
    
+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 BadPropertyResponse)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

## Port List [/ReferenceData/{TradingEntityId}/Physicals/Port/{Property}/{PropertyValue}]
Codes used to identify physical port locations.
### List Ports [GET]
|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|PortId|Port Code|`string`|8|||
|PortDescription|Port Code Description|`string`|60|||
|DocumentText|Port Document Text|`string`|4000|||
|CountryCode|Port Country Code|`string`|3|||
|EDICode|Port EDI Code|`string`|10|||
|Status|Port Status|`string`|1||`O` or `F`|

+ Request
    [AccessToken][]

+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity.
    + Property (optional, enum[string]) ... identify property name to filter by 
       + Members
            + Status (optional, string)
            + PortId (optional, string) 
            + CountryCode (optional, string)
    + PropertyValue (optional, string, `F`)

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (array [Port List])
        + Pagination (Pagination)
        + Response (200 SuccessResponse)
    
+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 BadPropertyResponse)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

## Sample List [/ReferenceData/{TradingEntityId}/Physicals/Sample/{Property}/{PropertyValue}]
Codes used to identify specific product qualities.
### List Samples [GET]

|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|SampleId|Sample Code|`string`|4|||
|SampleDescription|Sample Code Description|`string`|50|||
|DocumentText|Sample Document Text|`string`|4000|||
|NoOfCopiesRequired|Number of Copies Required|`number`|2|||


+ Request
    [AccessToken][]

+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity.
    + Property (optional, enum[string]) ... identify property name to filter by 
       + Members
            + SampleId (optional, string,) 
    + PropertyValue (optional, string, `abcd`)

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (array[Sample])
        + Pagination (Pagination)
        + Response (200 SuccessResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 BadPropertyResponse)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

## ShippingStatus List [/ReferenceData/{TradingEntityId}/Physicals/ShippingStatus/{Property}/{PropertyValue}]
Codes used to classify the status in terms of movement, useful for reporting purposes.
### List ShippingStatuses [GET]

|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|ShippingStatusId|Shipping Status Code|`string`|2|||
|ShippingStatusDescription|Shipping Status Code Description|`string`|50|||

+ Request
    [AccessToken][]

+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity.
    + Property (optional, enum[string]) ... identify property name to filter by 
       + Members
            + ShippingStatusId (optional, string,) 
    + PropertyValue (optional, string, `OR`)

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (array[ShippingStatus])
        + Pagination (Pagination)
        + Response (200 SuccessResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 BadPropertyResponse)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

## Terminal List [/ReferenceData/{TradingEntityId}/Physicals/Terminal/{Property}/{PropertyValue}]
Codes used to identify specific terminal location, useful for reporting purposes.
### List Terminals [GET]

|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|TerminalId|Terminal Code|`string`|4|||
|TerminalDescription|Terminal Code Description|`string`|50|||
|CountryId|Terminal Country Code|`string`|3|||


+ Request
    [AccessToken][]

+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity.
    + Property (optional, enum[string]) ... identify property name to filter by 
       + Members
            + TerminalId (optional, string) 
    + PropertyValue (optional, string, `ADEL`)

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (array[Terminal])
        + Pagination (Pagination)
        + Response (200 SuccessResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 BadPropertyResponse)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

## Vessel List [/ReferenceData/{TradingEntityId}/Physicals/Vessel/{Property}/{PropertyValue}]
List of Vessel names that can be applied as part of any physical logistics strategy
### List Vessels [GET]
|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|VesselId|Vessel Name|`string`|30|||
|VesselDescription|Vessel Description|`string`|50|||
|CountryCode|Vessel Country Code|`string`|3|||
|Status|Vessel Status|`string`|1||`O` or `F`|

+ Request
    [AccessToken][]

+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity.
    + Property (optional, enum[string]) ... identify property name to filter by 
       + Members
            + Status (optional, string)
            + VesselId (optional, string)
    + PropertyValue (optional, string, `F`)


+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (array [Vessel List])
        + Pagination (Pagination)
        + Response (200 SuccessResponse)
    
+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 BadPropertyResponse)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

## Weight List [/ReferenceData/{TradingEntityId}/Physicals/Weight/{Property}/{PropertyValue}]
Codes used to describe the units of measurement applied in physical contracts.
### List Weights [GET]

|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|WeightId|Weight Code|`string`|4|||
|WeightDescription|Weight Code Description|`string`|50|||
|DocumentText|Weight Document Text|`string`|4000|||
|DecimalPlacesPresentation|Number of Decimal Places|`number`|1|||
|ConversionFactorToKilos|Conversion Factor into Kilos|`decimal`||||
|EDICode|Weight EDI Code|`string`|50|||
|Status|Weight Status|`string`|1||`O` or `F`|

+ Request
    [AccessToken][]

+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity.
    + Property (optional, enum[string]) ... identify property name to filter by 
       + Members
            + WeightId (optional, string) 
            + EDICode (optional, string)
            + Status (optional, string)
    + PropertyValue (optional, string, `GA`)

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (array[Weight])
        + Pagination (Pagination)
        + Response (200 SuccessResponse)
    
+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 BadPropertyResponse)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)


# Group WIP Reference Data
WIP Ledger related reference data.

## Charter [/ReferenceData/{TradingEntityId}/WIPLedger/Charter/{CharterId}]
Charter profile – restricted by WIPAccountType of `C`.
### Read Charter [GET]



|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|CharterId|Charter Account Code|`string`|11||Required|
|CharterDescription|Charter Description|`string`|60|||
|Department|see <b><a href="/#reference/nominal-reference-data/department/department-list">Department</a></b> endpoint|`object`||||
|Commodity|see <b><a href="/#reference/physicals-reference-data/list-commodities">Commodies List</a></b> endpoint|`object`||||
|NominalAccount|Nominal Account delivered as an <b><a href="/#reference/data-object-definitions/accountheader">AccountHeader</a></b> object|`object`||||
|ShipmentStatus|see <b><a href="/#reference/physicals-reference-data/shippingstatus-list">ShippingStatus</a></b> endpoint|`object`||||
|VesselReference|Vessel Reference|`string`|30|||
|ShippingLine|Shipping Line delivered as an <b><a href="/#reference/data-object-definitions/accountheader">AccountHeader</a></b> object|`object`||||
|PrivilegeLevel|Charter Acccount Privilege Level|`number`|1||`0` to `9`|
|EDICode|Charter Account EDI Code|`string`|9|||
|Status|Charter Account Status|`string`|1||`O` or `F`|

+ Request
    [AccessToken][]
    
+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity. 
    + CharterId (required, string, `CHART01.000`) ... Code for charter to read.

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (Charter)
        + Response (200 SuccessResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 Response)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)


## Charter List [/ReferenceData/{TradingEntityId}/WipLedger/Charter/{Property}/{PropertyValue}]
List of charter profiles – restricted by WIPAccountType of `C`.
### List Charter [GET]


|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|CharterId|Charter Account Code|`string`|11|||
|CharterDescription|Charter Description|`string`|60|||
|DepartmentCode|Department Code|`string`|4|||
|CommodityFullCode|`Composite Key` delimited by double pipe "&#124;&#124;"|`string`|50|||
|NominalAccountCode|Nominal Account Code|`string`|9|||
|ShipmentStatusCode|Shipment Status Code|`string`|2|||
|VesselReference|Vessel Reference|`string`|30|||
|ShippingLineCode|Shipping Line Code|`string`|10|||
|PrivilegeLevel|Charter Account Privilege Level|`number`|1||`0` to `9`|
|EDICode|Charter Account EDI Code|`string`|9|||
|Status|Charter Account Status|`string`|1||`O` or `F`|


+ Request
    [AccessToken][]

+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity.
    + Property (optional, enum[string]) ... identify property name to filter by 
       + Members
            + CharterId (optional, string) 
            + ShipmentStatusCode (optional, string)
            + EDICode (optional, string)
            + Status (optional, string)
    + PropertyValue (optional, string, `CHART01.000`)

+ Response 200 (application/json; charset=utf-8)
    + Attributes (object)
        + Data (array [Charter List])
        + Pagination (Pagination)
        + Response (200 SuccessResponse)

    
+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 BadPropertyResponse)
    
+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)



## StockUnit [/ReferenceData/{TradingEntityId}/WipLedger/StockUnit/{StockUnitId}]
Stock Account profile - restricted by WIPAccountType of `S`.
### Read StockUnit [GET]

|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|StockUnitId|Stock Unit Account Code|`string`|11||Required|
|StockUnitDescription|Stock Unit Account Description|`string`|60|||
|Terminal|see <b><a href="/#reference/physicals-reference-data/terminal-list/list-terminals">Terminals List</a></b> endpoint|`object`||||
|Department|see <b><a href="/#reference/nominal-reference-data/department/department-list">Department</a></b> endpoint|`object`||||
|Commodity|see <b><a href="/#reference/physicals-reference-data/commodity-list/list-commodities">Commodity List</a></b> endpoint|`object`||||
|NominalAccount|Nominal Account delivered as an <b><a href="/#reference/data-object-definitions/accountheader">AccountHeader</a></b> object|`object`||||
|StockOwner|Stock Owner delivered as an <b><a href="/#reference/data-object-definitions/accountheader">AccountHeader</a></b> object|`object`||||
|ReleaseState|Release State|`number`|2|||
|CurrentStatus|Stock Unit Current Status|`number`|2|||
|PrivilegeLevel|Stock Unit Account Privilege Level|`number`|1||`0` to `9`|
|EDICode|Stock Unit Account EDI Code|`string`|9|||
|Status|Stock Unit Account Status|`string`|1||`O` or `F`|

+ Request
    [AccessToken][]
    
+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity. 
    + StockUnitId (required, string, `1111.MEP`) ... Code for stock unit to read.

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (StockUnit)
        + Response (200 SuccessResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 Response)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)


## StockUnit List [/ReferenceData/{TradingEntityId}/WipLedger/StockUnit/{Property}/{PropertyValue}]
Stock Account profile – restricted by WIPAccountType of `S`.
### List StockUnits [GET]

|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|StockUnitId|Stock Unit Account Code|`string`|11|||
|StockUnitDescription|Stock Unit Account Description|`string`|60|||
|TerminalCode|Terminal Code|`string`|4|||
|DepartmentCode|Department Code|`string`|4|||
|NominalAccountCode|Nominal Account Code|`string`|9|||
|CommodityCode|`Composite Key` delimited by double pipe "&#124;&#124;"|`string`|50|||
|StockOwnerCode|Stock Owner Account Code|`string`|50|||
|ReleaseState|Release State|`number`|2|||
|CurrentStatus|Stock Unit Current Status|`number`|2|||
|PrivilegeLevel|Stock Unit Account Privilege Level|`number`|1||`0` to `9`|
|EDICode|Stock Unit Account EDI Code|`string`|9|||
|Status|Stock Unit Account Status|`string`|1||`O` or `F`|

+ Request
    [AccessToken][]

+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity.
    + Property (optional, enum[string]) ... identify property name to filter by 
       + Members
            + StockUnitId (optional, string) 
            + TerminalCode (optional, string)
            + EDICode (optional, string)
            + Status (optional, string)
    + PropertyValue (optional, string, `1111.MEP`)

+ Response 200 (application/json; charset=utf-8)
    + Attributes
        + Data (array [StockUnitList])
        + Pagination (Pagination)
        + Response (200 SuccessResponse)
    
+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 BadPropertyResponse)
    
+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)



## WIP Account [/ReferenceData/{TradingEntityId}/WipLedger/WipAccount/{WipAccountId}]
Charter profile
### Read WIP Account [GET]


|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|WIPAccountId|WIP Account Code|`string`|11||Required|
|WIPAccountDescription|WIP Account Description|`string`|60|||
|WIPAccountType|WIP Account Type|`string`|1|||
|Department|see <b><a href="/#reference/nominal-reference-data/department/read-department">Department</a></b> object|`object`||||
|NominalAccount|see <b><a href="/#reference/data-object-definitions/accountheader">AccountHeader</a></b> object|`object`||||
|PrivilegeLevel|WIP Account Privilege Level|`number`|1||`0` to `9`|
|EDICode|WIP Account EDI Code|`string`|9|||
|Status|WIP Account Status|`string`|1||`O` or `F`|


+ Request
    [AccessToken][]
    
+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity. 
    + WipAccountId (required, string, `1111.MEP`) ... Code for WIP account to read.

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (WIPAccount)
        + Response (200 SuccessResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 Response)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)


## WIP Account List [/ReferenceData/{TradingEntityId}/WipLedger/WIPAccount/{Property}/{PropertyValue}]
List of charter profiles.
### List WIP Accounts [GET]


|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|WIPAccountId|WIP Account Code|`string`|11|||
|WIPAccountDescription|WIP Account Description|`string`|60|||
|WIPAccountType|WIP Account Type|`string`|1|||
|DepartmentCode|Department Code|`string`|4|||
|NominalAccountCode|Nominal Account Code|`string`|9|||
|PrivilegeLevel|WIP Account Privilege Level|`number`|1||`0` to `9`|
|EDICode|WIP Account EDI Code|`string`|9|||
|Status|WIP Account Status|`string`|1||`O` or `F`|



+ Request
    [AccessToken][]

+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity.
    + Property (optional, enum[string]) ... identify property name to filter by 
       + Members
            + WIPAccountId (optional, string) 
            + WIPAccountType (optional, string)
            + EDICode (optional, string)
            + Status (optional, string)
    + PropertyValue (optional, string, `1111.MEP`)

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (array[WIPAccount List])
        + Pagination (Pagination)
        + Response (200 SuccessResponse)
    
+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 BadPropertyResponse)
    
+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)


# Group Accounting-Transactions
Data Objects and endpoints providing access to accounting transactions generated through ITAS processes.

## Posted Transaction [/Accounting/{TradingEntityId}/Transaction/PostedTransaction/{DocumentReference}]
Provides access to full accounting ledger by Document Reference.
### Read Posted Transaction [GET]


|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|DocumentReference|Document Reference Code|`string`|9||Required|
|AccountLedgerType|Account Ledger Type Code|`string`|1||`C`, `N` or `K`|
|TransactionKey|`Composite Key` delimited by double pipe "&#124;&#124;"|`string`|50|||
|Account|see <b><a href="/#reference/data-object-definitions/accountheader">AccountHeader</a></b> object|`object`||||
|DocumentCurrency|see <b><a href="/#reference/global-reference-data/currency-list/list-currencies">Currency</a></b> endpoint|`object`||||
|AccountingPeriod|Transaction Accounting Period|`number`||||
|PostingDate|Transaction Posting Date|`number`||||
|PostingTime|Transaction Posting Time|`number`||||
|DocumentDate|Transaction Document Date|`datetime`|20|||
|ValueDate|Transaction Value Date|`datetime`|20|||
|FunctionalCurrency|see <b><a href="/#reference/global-reference-data/currency-list/list-currencies">Currency</a></b> endpoint|`object`||||
|AmountInDocumentCurrency|Transaction Amount in Document Currency|`decimal`||||
|AmountInFunctionalCurrency|Transaction Amount in Functional Currency|`decimal`||||
|AmountInLocalCurrency|Transaction Amount in Local Currency|`decimal`||||
|RateOfExchangeApplied|Transaction Rate of Exchange Applied|`decimal`||||
|RateOfExchangeType|Transaction Rate of Exchange Type Code|`string`|1||`M` or `D`|
|WeightInQtyCode|Weight in Quantity Code|`decimal`||||
|ContractReference|Contract Reference Code|`string`|10|||
|Expense|see <b><a href="/#reference/nominal-reference-data/expense-list/list-expenses">Expense</a></b> endpoint|`object`||||
|Department|see <b><a href="/#reference/nominal-reference-data/department">Department</a></b> endpoint|`object`||||
|PaymentTerm|see <b><a href="/#reference/physicals-reference-data/paymentterm-list">PaymentTerm</a></b> endpoint|`object`||||
|VatRate|see <b><a href="/#reference/nominal-reference-data/vat-rate-list">VATRate</a></b> endpoint|`object`||||
|ClientReference|Client Reference|`string`|25|||
|Narrative|Narrative|`string`|30|||
|MarketReference|Market Reference|`string`|8|||
|PromptMonth|Transaction Prompt Month|`datetime`|20|||
|OptionType|Transaction Option Type Code|`string`|1||`C`, `P` or `''`|
|CommodityReference|Transaction Commodity Reference|`string`|15|||
|TransactionIsMatched|Is Transaction Matched|`boolean`|5|||
|PreMatchDocumentReference|Pre Matched Document Reference Code|`string`|9|||


+ Request
    [AccessToken][]
    
+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity. 
    + DocumentReference (required, string, `PI1500000`) ... Code for posted transaction to read.

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (array [PostedTransaction])
        + Pagination (Pagination)
        + Response (200 SuccessResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 Response)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)



## UnPosted Transaction [/Accounting/{TradingEntityId}/Transaction/UnPostedTransaction/{DocumentReference}]
Provides access to financial transaction details yet to be posted to the ledgers (either held-authorised or not authorised) by Document Reference.
### Read Unposted Transaction [GET]


|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|DocumentReference|Transaction Document Reference|`string`|9||Required|
|AccountLedgerType|Account Ledger Type Code|`string`|1||`C`, `N` or `K`|
|DocumentDate|Transaction Document Date|`datetime`|20|||
|ValueDate|Transaction Value Date|`datetime`|20|||
|Account|see <b><a href="/#reference/data-object-definitions/accountheader">AccountHeader</a></b> object|`object`||||
|DocumentCurrency|see <b><a href="/#reference/global-reference-data/currency-list/list-currencies">Currency</a></b> endpoint|`object`||||
|AmountInDocumentCurrency|Transaction Amount in Document Currency|`decimal`||||
|FunctionalCurrency|see <b><a href="/#reference/global-reference-data/currency-list/list-currencies">Currency</a></b> endpoint|`object`||||
|AmountInFunctionalCurrency|Transaction Amount in Functional Currency|`decimal`||||
|AmountInLocalCurrency|Transaction Account in Local Currency|`decimal`||||
|RateOfExchangeApplied|Transaction Rate of Exchange Applied|`decimal`||||
|RateOfExchangeType|Transaction Rate of Exchange Type Code|`string`|1||`M` or `D`|
|WeightInQtyCode|Weight in Quantity Code|`decimal`||||
|ContractReference|Contract Reference Code|`string`|10|||
|Expense|see <b><a href="/#reference/nominal-reference-data/expense-list/list-expenses">Expense</a></b> endpoint|`object`||||
|Department|see <b><a href="/#reference/nominal-reference-data/department">Department</a></b> endpoint|`object`||||
|PaymentTerm|see <b><a href="/#reference/physicals-reference-data/paymentterm-list">PaymentTerm</a></b> endpoint|`object`||||
|VatRate|see <b><a href="/#reference/nominal-reference-data/vat-rate-list">VATRate</a></b> endpoint|`object`||||
|ClientReference|Client Reference|`string`|25|||
|Narrative|Narrative|`string`|30|||
|MarketReference|Market Referece|`string`|8|||
|PromptMonth|Transaction Prompt Month|`datetime`|20|||
|OptionType|Transaction Option Type|`string`|1||`C`, `P` or `''`|
|CommodityReference|Transaction Commodity Reference|`string`|15|||


+ Request
    [AccessToken][]
    
+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity.  
    + DocumentReference (required, string, `CN1600001`) ... Code for unposted transaction to read.

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (array [UnPostedTransaction])
        + Pagination (Pagination)
        + Response (200 SuccessResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 Response)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)


## Transaction Header [/Accounting/{TradingEntityId}/Transaction/TransactionHeader/{DocumentReference}]
Document summary information including properties specific to integration requirements.          
### Update Transaction Header [PUT]


|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|DocumentReference|Transaction Document Reference|`string`|9||Required|
|EDICode|Transaction EDI Code|`string`|25|||
|InterfaceStatus|Transaction Interface Status|`string`|1|||

+ Request (application/json)
    + Header

            AccessToken: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1bmlxdWVfbmFtZSI6ImRlZXBhayIsInN1YiI6ImRlZXBhayIsInJvbGUiOlsiNzk5YjhhNDEtYWI0ZS00MTBhLWI5MTktYzU3ZWFlMmFlMDI5IiwiZGVlcGFrIiwiQVNQLk5FVCBJZGVudGl0eSIsIjViNDE4ODE2LTI3ZjQtNGRlOC1iNmMyLTJlZTcxNjI3ZmJmYyIsIkFkbWluIiwiU3VwZXJBZG1pbiJdLCJpc3MiOiJodHRwOi8vbG9jYWxob3N0OjgwMjciLCJhdWQiOiI4MjkzNjk0MjJmNzA0NTIzODUxZDk4NTU2YjZkNTQyYiIsImV4cCI6MTQ1OTQzMjk0MSwibmJmIjoxNDU5NDMxMTQxfQ.JgPGxt0Ok5baKx0YMXlO6D9kUYrCWM-Kma9b9iMW8tg

    + Attributes (TransactionHeader)
    
+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity.  
    + DocumentReference (required, string, `CN1600001`) ... Code for transaction header to update.

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data
            + DocumentReference: CN1600001 (string)
        + Response (200 UpdateResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 Response)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

### Delta Update Transaction Header [PATCH]


|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|DocumentReference|Transaction Document Reference|`string`|9||Required|
|EDICode|Transaction EDI Code|`string`|25|||
|InterfaceStatus|Transaction Interface Status|`string`|1|||

+ Request (application/json)
    + Header

            AccessToken: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1bmlxdWVfbmFtZSI6ImRlZXBhayIsInN1YiI6ImRlZXBhayIsInJvbGUiOlsiNzk5YjhhNDEtYWI0ZS00MTBhLWI5MTktYzU3ZWFlMmFlMDI5IiwiZGVlcGFrIiwiQVNQLk5FVCBJZGVudGl0eSIsIjViNDE4ODE2LTI3ZjQtNGRlOC1iNmMyLTJlZTcxNjI3ZmJmYyIsIkFkbWluIiwiU3VwZXJBZG1pbiJdLCJpc3MiOiJodHRwOi8vbG9jYWxob3N0OjgwMjciLCJhdWQiOiI4MjkzNjk0MjJmNzA0NTIzODUxZDk4NTU2YjZkNTQyYiIsImV4cCI6MTQ1OTQzMjk0MSwibmJmIjoxNDU5NDMxMTQxfQ.JgPGxt0Ok5baKx0YMXlO6D9kUYrCWM-Kma9b9iMW8tg

    + Attributes (TransactionHeaderDelta)

+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity. 
    + DocumentReference (required, string, `CN1600001`) ... Code for transaction header to update.

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data
            + DocumentReference: CN1600001 (string)
        + Response (200 UpdateResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 Response)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

## Transaction Header List [/Accounting/{TradingEntityId}/Transaction/TransactionHeader/{Property}/{PropertyValue}]
Document summary information including properties specific to integration requirements.
### List Transaction Headers [GET]


|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|PostedDate|Transaction Posted Date|`datetime`|20|||
|DocumentDate|Transaction Docuement Date|`datetime`|20|||
|DocumentReference|Transaction Document Reference|`string`|9|||
|EDICode|Document EDI Code|`string`|25|||
|InterfaceStatus|Transaction Interface Status|`string`|1|||
|DocumentReversed|Document Reversed Reference|`string`|9|||
|AssociateDocument|Associate Document Reference|`string`|9|||

+ Request
    [AccessToken][]

+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity. 
    + Property (optional, enum[string])  
       + Members
            + DocumentReference (optional, string) 
            + EDICode (optional, string)
    + PropertyValue (optional, string, `CN1600001`)

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (array [TransactionHeader List])
        + Pagination (Pagination)
        + Response (200 SuccessResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 Response)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)


# Group Contract-Physical

## Physical Trade [/Contract/{TradingEntityId}/Physical/PhysicalTrade/{ContractId}]
Principle Physical Contract (agreement) details
### Read Physical Trade  [GET]


|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|ContractId|Contract Code|`string`|10||Required|
|ContractType|Contract Type Code|`string`|1||`P` or `S`|
|ContractDate|Contract Date|`datetime`|20|||
|Department|see <b><a href="/#reference/nominal-reference-data/department">Department</a></b> endpoint|`object`||||
|Trader|see <b><a href="/#reference/global-reference-data/useraccount-list">UserAccount List</a></b> endpoint|`object`||||
|ClientReference|Client Reference|`string`|40|||
|Buyer|see <b><a href="/#reference/data-object-definitions">Account Header</a></b> object|`object`||||
|Seller|see <b><a href="/#reference/data-object-definitions">Account Header</a></b> object|`object`||||
|Counterparty|see <b><a href="/#reference/data-object-definitions">Account Header</a></b> object|`object`||||
|Commodity|see <b><a href="/#reference/physicals-reference-data/commodity-list/list-commodities">Commodity List</a></b> endpoint|`object`||||
|PaymentTerm|see <b><a href="/#reference/physicals-reference-data/paymentterm-list/list-paymentterms">PaymentTerm List</a></b> endpoint|`object`||||
|ContractTerm|see <b><a href="/#reference/physicals-reference-data/contract-term-list/list-contractterms">ContractTerm List</a></b> endpoint|`object`||||
|ContractTermPort|see <b><a href="/#reference/physicals-reference-data/port-list/list-ports">Port List</a></b> endpoint|`object`||||
|UnitOfMeasurement|see <b><a href="/#reference/physicals-reference-data/weight-list/list-weights">Weight List</a></b> endpoint|`object`||||
|OriginalContractQuantity|Original Contract Quantity|`decimal`||||
|CurrentContractQuantity|Current Contract Quantity|`decimal`||||
|ContractStatus|Contract Status|`string`|1||`O`, `C` or `Q`|
|ContractApproved|Is Contract Approved|`boolean`|5|||
|AllocationReference|Allocation Reference|`string`|11|||


+ Request
    [AccessToken][]
    
+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity. 
    + ContractId (required, string, `P00004.000`) ... Code for physical trade to read.

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (PhysicalTrade)
        + Response (200 SuccessResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 Response)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

## Physical Trade List [/Contract/{TradingEntityId}/Physical/PhysicalTrade/{Property}/{PropertyValue}]
List of Principle Physical Contracts (agreements)
### List Physical Trades  [GET]


|Property|Description|Type|Max Length|Notes|Constraint|
|-------|-----------|----|----------|-----|----------|
|ContractId|Contract Code|`string`|10|||
|ContractType|Contract Type Code|`string`|1||`P` or `S`|
|ContractDate|Contract Date|`datetime`|20|||
|DepartmentCode|Department Code|`string`|4|||
|TraderCode|Trader Code|`string`|3|||
|ClientReference|Client Reference|`string`|40|||
|BuyerAccountCode|Buyer Account Code|`string`|10|||
|SellerAccountCode|Seller Account Code|`string`|10|||
|CounterpartyCode|Counterparty Code|`string`|10|||
|CommodityCode|`Composite Key` delimited by double pipe "&#124;&#124;"|`string`|50|||
|PaymentTermCode|Payment Term Code|`string`|8|||
|ContractTermCode|Contract Term Code|`string`|8|||
|ContractTermPortCode|Contract Term Port Code|`string`|8|||
|UnitOfMeasurementCode|Unit of Measurement Code|`string`|4|||
|OriginalContractQuantity|Original Contract Quantity|`decimal`||||
|CurrentContractQuantity|Current Contract Quantity|`decimal`||||
|ContractStatus|Contract Status|`string`|1||`O`, `C` or `Q`|
|ContractApproved|Is Contract Approved|`boolean`|5|||
|AllocationReference|Allocation Reference|`string`|11|||



+ Request
    [AccessToken][]

+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity. 
    + Property (optional, enum[string])  
       + Members
            + ContractId (optional, string) 
            + DepartmentCode (optional, string)
            + TraderCode (optional, string)
            + CounterpartyCode (optional, string)
            + ContractStatus (optional, string)
            + ContractApproved (optional, string)
    + PropertyValue (optional, string, `P00004.000`)

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (array [PhysicalTrade List])
        + Pagination (Pagination)
        + Response (200 SuccessResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 Response)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

## Physical Trade Commission [/Contract/{TradingEntityId}/Physical/PhysicalTradeCommission/{ContractId}]
Broker commissions held against Physical Contracts.
### Read Physical Trade Commission [GET]


|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|ContractId|Contract Code|`string`|10||Required|
|UniqueId|Unique ID Number|`number`|2|||
|AgentAccount|see <b><a href="/#reference/data-object-definitions">Account Header</a></b> object|`object`||||
|AgentReference|Agent Reference|`string`|40|||

+ Request
    [AccessToken][]
    
+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity. 
    + ContractId (required, string, `P00004.000`) ... Code for physical trade commission to read.

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (PhysicalTradeCommission)
        + Response (200 SuccessResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 Response)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

## Physical Trade Commissions List [/Contract/{TradingEntityId}/Physical/PhysicalTradeCommission/{Property}/{PropertyValue}]
List of Broker commissions held against Physical Contracts.
### List Physical Trade Commissions [GET]


|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|ContractId|Contract Code|`string`|10|||
|UniqueId|Unique ID Number|`number`|2|||
|AgentAccountCode|Agent Account Code|`string`|10|||
|AgentReference|Agent Reference|`string`|40|||

+ Request
    [AccessToken][]

+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity. 
    + Property (optional, enum[string])  
       + Members
            + ContractId (optional, string) 
            + AgentAccountCode (optional, string)
    + PropertyValue (optional, string, `P00004.000`)

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (array [PhysicalTradeCommission List])
        + Pagination (Pagination)
        + Response (200 SuccessResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 Response)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

## Physical Trade Shipments List [/Contract/{TradingEntityId}/Physical/PhysicalTradeShipment/{Property}/{PropertyValue}]
List of Logistics information for Physical Contracts.
### List Physical Trade Shipment [GET]

|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|ContractId|Contract Code|`string`|10|||
|VesselReference|Vessel Reference|`string`|30|||
|BillOfLadingDate|Bill of Lading Date|`datetime`|20|||
|BillOfLadingReference|Bill of Lading Reference|`string`|255|||
|DocumentsAcknowledged|Are Documents Aknowledged|`boolean`|5|||
|DocumentsAcknowledgedDate|Date Documents Aknowledged|`datetime`|20|||


+ Request
    [AccessToken][]

+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity. 
    + Property (optional, enum[string])  
       + Members
            + ContractId (optional, string) 
            + VesselReference (optional, string)
    + PropertyValue (optional, string, `P00004.000`)

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (array [PhysicalTradeShipment List])
        + Pagination (Pagination)
        + Response (200 SuccessResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 Response)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

# Group Finance-Cash
Data Objects and endpoints providing access to cash create, match and authorisation functionality.

## AuthoriseForPosting [/Finance/{TradingEntityId}/Cash/AuthoriseForPosting/{DocumentReference}]
Authorise an entity to be added to the Posting process.
### AuthoriseForPosting [PUT]


<strong>URI Parameters</strong>


|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|DocumentReference|Document Reference|`string`|9||Required|

<strong>Body Parameters</strong>
<br />
None.

+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity. 
    + DocumentReference (required, string, `CP1515151`)

+ Request (application/json)
    + Header

            AccessToken: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1bmlxdWVfbmFtZSI6ImRlZXBhayIsInN1YiI6ImRlZXBhayIsInJvbGUiOlsiNzk5YjhhNDEtYWI0ZS00MTBhLWI5MTktYzU3ZWFlMmFlMDI5IiwiZGVlcGFrIiwiQVNQLk5FVCBJZGVudGl0eSIsIjViNDE4ODE2LTI3ZjQtNGRlOC1iNmMyLTJlZTcxNjI3ZmJmYyIsIkFkbWluIiwiU3VwZXJBZG1pbiJdLCJpc3MiOiJodHRwOi8vbG9jYWxob3N0OjgwMjciLCJhdWQiOiI4MjkzNjk0MjJmNzA0NTIzODUxZDk4NTU2YjZkNTQyYiIsImV4cCI6MTQ1OTQzMjk0MSwibmJmIjoxNDU5NDMxMTQxfQ.JgPGxt0Ok5baKx0YMXlO6D9kUYrCWM-Kma9b9iMW8tg

    + Body 
    
            {
                none
            }



+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data
            + DocumentReference: CP1515151 (string)
        + Response (200 AuthoriseResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 Response)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

## PayableManual [/Finance/{TradingEntityId}/Cash/PayableManual]
Allows generic cash payments to be created between multiple accounts  
### Create PayableManual [POST]


|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|DocumentBody|see <b><a href="/#reference/data-object-definitions/documentdetails/documentdetails">Document Details</a></b> object|`object`|||Required|
|AccountDetails|see <b><a href="/#reference/data-object-definitions/accountpostingdetails/accountpostingdetails">Account Posting Details</a></b> object|[array] of `object`|||Required|

+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity. 

+ Request (application/json)
    + Header

            AccessToken: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1bmlxdWVfbmFtZSI6ImRlZXBhayIsInN1YiI6ImRlZXBhayIsInJvbGUiOlsiNzk5YjhhNDEtYWI0ZS00MTBhLWI5MTktYzU3ZWFlMmFlMDI5IiwiZGVlcGFrIiwiQVNQLk5FVCBJZGVudGl0eSIsIjViNDE4ODE2LTI3ZjQtNGRlOC1iNmMyLTJlZTcxNjI3ZmJmYyIsIkFkbWluIiwiU3VwZXJBZG1pbiJdLCJpc3MiOiJodHRwOi8vbG9jYWxob3N0OjgwMjciLCJhdWQiOiI4MjkzNjk0MjJmNzA0NTIzODUxZDk4NTU2YjZkNTQyYiIsImV4cCI6MTQ1OTQzMjk0MSwibmJmIjoxNDU5NDMxMTQxfQ.JgPGxt0Ok5baKx0YMXlO6D9kUYrCWM-Kma9b9iMW8tg

    + Attributes (PayableReceivableManual)

+ Response 201 (application/json; charset=utf-8)
    + Attributes 
        + Data (CashDocRefResponse)
        + Response (201 CreateResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 Response)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

## PayableOnAccount [/Finance/{TradingEntityId}/Cash/PayableOnAccount]
Allows cash payments to be created on account of existing (posted) accounting documents (e.g. Purchase Invoices) 
### Create PayableOnAccount [POST]


|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|DocumentBody|see <b><a href="/#reference/data-object-definitions/documentdetails/documentdetails">Document Details</a></b> object|`object`|||Required|
|BankDetails|see <b><a href="/#reference/data-object-definitions/accountpostingdetails/accountpostingdetails">Account Posting Details</a></b> object|`object`|||Required|
|TransactionsToMatch|see <b><a href="/#reference/data-object-definitions/onaccountdetails/onaccountdetails">On Account Details</a></b> object|[array] of `object`|||Required|
|OtherCosts|see <b><a href="/#reference/data-object-definitions/accountpostingdetails/accountpostingdetails">Account Posting Details</a></b> object|[array] of `object`||||


+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity. 

+ Request (application/json)
    + Header

            AccessToken: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1bmlxdWVfbmFtZSI6ImRlZXBhayIsInN1YiI6ImRlZXBhayIsInJvbGUiOlsiNzk5YjhhNDEtYWI0ZS00MTBhLWI5MTktYzU3ZWFlMmFlMDI5IiwiZGVlcGFrIiwiQVNQLk5FVCBJZGVudGl0eSIsIjViNDE4ODE2LTI3ZjQtNGRlOC1iNmMyLTJlZTcxNjI3ZmJmYyIsIkFkbWluIiwiU3VwZXJBZG1pbiJdLCJpc3MiOiJodHRwOi8vbG9jYWxob3N0OjgwMjciLCJhdWQiOiI4MjkzNjk0MjJmNzA0NTIzODUxZDk4NTU2YjZkNTQyYiIsImV4cCI6MTQ1OTQzMjk0MSwibmJmIjoxNDU5NDMxMTQxfQ.JgPGxt0Ok5baKx0YMXlO6D9kUYrCWM-Kma9b9iMW8tg

    + Attributes (PayableReceivableOnAccount)

+ Response 201 (application/json; charset=utf-8)
    + Attributes 
        + Data (CashDocRefResponse)
        + Response (201 CreateResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 Response)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)


## ReceivableManual [/Finance/{TradingEntityId}/Cash/ReceivableManual]
Allows generic cash receipts to be created between multiple accounts  
### Create ReceivableManual [POST]


|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|DocumentBody|see <b><a href="/#reference/data-object-definitions/documentdetails/documentdetails">Document Details</a></b> object|`object`|||Required|
|AccountDetails|see <b><a href="/#reference/data-object-definitions/accountpostingdetails/accountpostingdetails">Account Posting Details</a></b> object|[array] of `object`|||Required|

+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity. 

+ Request (application/json)
    + Header

            AccessToken: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1bmlxdWVfbmFtZSI6ImRlZXBhayIsInN1YiI6ImRlZXBhayIsInJvbGUiOlsiNzk5YjhhNDEtYWI0ZS00MTBhLWI5MTktYzU3ZWFlMmFlMDI5IiwiZGVlcGFrIiwiQVNQLk5FVCBJZGVudGl0eSIsIjViNDE4ODE2LTI3ZjQtNGRlOC1iNmMyLTJlZTcxNjI3ZmJmYyIsIkFkbWluIiwiU3VwZXJBZG1pbiJdLCJpc3MiOiJodHRwOi8vbG9jYWxob3N0OjgwMjciLCJhdWQiOiI4MjkzNjk0MjJmNzA0NTIzODUxZDk4NTU2YjZkNTQyYiIsImV4cCI6MTQ1OTQzMjk0MSwibmJmIjoxNDU5NDMxMTQxfQ.JgPGxt0Ok5baKx0YMXlO6D9kUYrCWM-Kma9b9iMW8tg

    + Attributes (PayableReceivableManual)

+ Response 201 (application/json; charset=utf-8)
    + Attributes 
        + Data (CashDocRefResponse)
        + Response (201 CreateResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 Response)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)


## ReceivableOnAccount [/Finance/{TradingEntityId}/Cash/ReceivableOnAccount]
Allows cash receipts to be created on account of existing (posted) accounting documents (e.g. Sales Invoices) 
### Create ReceivableOnAccount [POST]


|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|DocumentBody|see <b><a href="/#reference/data-object-definitions/documentdetails/documentdetails">Document Details</a></b> object|`object`|||Required|
|BankDetails|see <b><a href="/#reference/data-object-definitions/accountpostingdetails/accountpostingdetails">Account Posting Details</a></b> object|`object`|||Required|
|TransactionsToMatch|see <b><a href="/#reference/data-object-definitions/onaccountdetails/onaccountdetails">On Account Details</a></b> object|[array] of `object`|||Required|
|OtherCosts|see <b><a href="/#reference/data-object-definitions/accountpostingdetails/accountpostingdetails">Account Posting Details</a></b> object|[array] of `object`||||


+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity. 

+ Request (application/json)
    + Header

            AccessToken: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1bmlxdWVfbmFtZSI6ImRlZXBhayIsInN1YiI6ImRlZXBhayIsInJvbGUiOlsiNzk5YjhhNDEtYWI0ZS00MTBhLWI5MTktYzU3ZWFlMmFlMDI5IiwiZGVlcGFrIiwiQVNQLk5FVCBJZGVudGl0eSIsIjViNDE4ODE2LTI3ZjQtNGRlOC1iNmMyLTJlZTcxNjI3ZmJmYyIsIkFkbWluIiwiU3VwZXJBZG1pbiJdLCJpc3MiOiJodHRwOi8vbG9jYWxob3N0OjgwMjciLCJhdWQiOiI4MjkzNjk0MjJmNzA0NTIzODUxZDk4NTU2YjZkNTQyYiIsImV4cCI6MTQ1OTQzMjk0MSwibmJmIjoxNDU5NDMxMTQxfQ.JgPGxt0Ok5baKx0YMXlO6D9kUYrCWM-Kma9b9iMW8tg

    + Attributes (PayableReceivableOnAccount)

+ Response 201 (application/json; charset=utf-8)
    + Attributes 
        + Data (CashDocRefResponse)
        + Response (201 CreateResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 Response)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)



# Group Inventory-Physicals-Order Scheduling
Production Order scheduling services.

## DeliveryInOrder [/Inventory/{TradingEntityId}/Physicals/OrderScheduling/DeliveryInOrder/{ReleaseId}]
Orders (CallOffs) specifically representing incoming goods.
### Read DeliveryInOrder [GET]

|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|ReleaseId|Release Code|`number`|||Required|
|ExpedOrderDetails|see <b><a href="/#reference/inventory-physicals-order-scheduling/expedcalloff">ExpedCallOff</a></b> endpoint|`object`||||
|PumpingMemo|Pumping Memo|`string`|250|||
|ProcessComplete|Is Process Complete|`boolean`|5|||
|TargetStockUnit|see <b><a href="/#reference/wip-reference-data/stockunit">StockUnit</a></b> endpoint|`object`||||


+ Request
    [AccessToken][]
    
+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity. 
    + ReleaseId (required, number, `12345`)

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (DeliveryInOrder)
        + Response (200 SuccessResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 Response)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

## DeliveryOutOrder [/Inventory/{TradingEntityId}/Physicals/OrderScheduling/DeliveryOutOrder/{ReleaseId}]
Orders (CallOffs) specifically representing outgoing goods.
### Read DeliveryOutOrder [GET]

|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|ReleaseId|Release Code|`number`|||Required|
|ExpedOrderDetails|see <b><a href="/#reference/inventory-physicals-order-scheduling/expedcalloff">ExpedCallOff</a></b> endpoint|`object`||||
|PumpingMemo|Pumping Memo|`string`|250|||
|ProcessComplete|Is Process Complete|`boolean`|5|||
|SourceStockUnit|see <b><a href="/#reference/inventory-physicals-stock-processing/stockloading">StockLoading</a></b> endpoint|`[object]`||array of StockLoading objects||

+ Request
    [AccessToken][]
    
+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity. 
    + ReleaseId (required, number, `12345`)

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (DeliveryOutOrder)
        + Response (200 SuccessResponse)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

## ExpedCallOff [/Inventory/{TradingEntityId}/Physicals/OrderScheduling/ExpedCallOff/{ReleaseId}]
Orders (CallOffs) generated through EXPED
### Read ExpedCallOffs [GET]

|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|ReleaseId|Release Code|`number`|||Required|
|ContractType|Contract Type|`string`|1|||
|ContractDate|Contract Date|`datetime`|20|||
|DeliveryDate|Delivery Date|`datetime`|20|||
|Department|see <b><a href="/#reference/nominal-reference-data/departments">Departments List</a></b> endpoint|`object`||||
|Counterparty|see <b><a href="/#reference/data-object-definitions/read-expedcalloffss">Account Header</a></b> object|`object`||||
|Memorandum|Memorandum|`string`|4000|||
|InternalMemo|Internal Memorandum|`string`|4000|||
|OrderStatus|see <b><a href="/#reference/physicals-reference-data/shippingstatus-list">Shipping Status</a></b> endpoint|`object`||||
|<strong>References</strong>|
|ContractReference|Contract Reference|`string`|10|||
|ClientReference|Client Reference|`string`|40|||
|BuyerOrderNumber|Buyers Order Number|`string`|40|||
|BuyerSecondaryReference|Buyers Secondary Reference|`string`|40|||
|DeliveryClientOrderNumber|Delivery Client Order Number|`string`|40|||
|DeliveryClientSecondaryReference|Delivery Client Secondary Reference|`string`|40|||
|<strong>GoodsDetails</strong>|
|Terminal|see <b><a href="/#reference/physicals-reference-data/terminal-list">Terminals List</a></b> endpoint|`object`||||
|Commodity|see <b><a href="/#reference/physicals-reference-data/commodity-list">Commodies List</a></b> endpoint|`object`||||
|Sample|see <b><a href="/#reference/physicals-reference-data/sample-list">Samples List</a></b> endpoint|`object`||||
|UnitOfMeasurement|see <b><a href="/#reference/physicals-reference-data/weight-list">Weights List</a></b> endpoint|`object`||||
|Quantity|Quantity|`decimal`||||
|PackingType|see <b><a href="/#reference/physicals-reference-data/packingtype-list">PackingType List</a></b> endpoint|`object`||||
|<strong>TransportDetails</strong>|
|DeliveryClient|see <b><a href="/#reference/data-object-definitions/accountheader">Account Header</a></b> object|`object`||||
|Haulier|see <b><a href="/#reference/data-object-definitions/accountheader">Account Header</a></b> object|`object`||||
|Expeditor|see <b><a href="/#reference/data-object-definitions/accountheader">Account Header</a></b> object|`object`||||
|VehicleReference|Vehicle Reference|`string`|4|||
|VehicleRegistration|Vehicle Registration|`string`|50|||
|TrailerRegistration|Trailer Registration|`string`|50|||
|EarlyLoadAllowed|Is Early Load Allowed|`boolean`|5|||
|MaxLoadWeight|Maximum Load Weight|`decimal`||||

+ Request
    [AccessToken][]
    
+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity. 
    + ReleaseId (required, string, `123`)

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (ExpedCallOff)
        + Response (200 SuccessResponse)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

## ExpedCallOff List [/Inventory/{TradingEntityId}/Physicals/OrderScheduling/ExpedCallOff/{Property}/{PropertyValue}]
Orders (CallOffs) generated through EXPED
### List ExpedCallOff [GET]

|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|ReleaseId|Release Code|`number`||||
|ContractType|Contract Type|`string`|1|||
|ContractDate|Contract Date|`datetime`|20|||
|DeliveryDate|Delivery Date|`datetime`|20|||
|DepartmentCode|Department Code|`string`|4|||
|CounterpartyCode|Counterparty Code|`string`|10|||  
|Memorandum|Memorandum|`string`|4000|||
|InternalMemo|Internal Memorandum|`string`|4000|||
|OrderStatusCode|Order Status Code|`string`|2|||
|ContractReference|Contract Reference|`string`|10|||
|ClientReference|Client Reference|`string`|40|||
|BuyerOrderNumber|Buyers Order Number|`string`|40|||
|BuyerSecondaryReference|Buyers Secondary Reference|`string`|40|||
|DeliveryClientOrderNumber|Delivery Client Order Number|`string`|40|||
|DeliveryClientSecondaryReference|Delivery Client Secondary Reference|`string`|40|||
|TerminalCode|Terminal Code|`string`|4|||
|CommodityFullCode|`Composite Key` delimited by double pipe "&#124;&#124;"|`string`|50|||
|SampleCode|Sample Code|`string`|4|||
|UnitOfMeasurementCode|Unit of Measurement Code|`string`|4|||
|Quantity|Quantity|`decimal`||||
|PackingTypeCode|Packing Type Code|`string`|4|||
|DeliveryClientCode|Delivery Client Code|`string`|10|||
|HaulierCode|Haulier Code|`string`|10|||
|ExpeditorCode|Expeditor Code|`string`|10|||
|VehicleReference|Vehicle Reference|`string`|4|||
|VehicleRegistration|Vehicle Registration|`string`|50|||
|TrailerRegistration|Trailer Registration|`string`|50|||
|EarlyLoadAllowed|Is Early Load Allowed|`boolean`|5|||
|MaxLoadWeight|Maximum Load Weight|`decimal`||||

+ Request
    [AccessToken][]
    
+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity. 
    + Property (optional, enum[string]) ... identify property name to filter by 
       + Members
            + ReleaseId 
            + DepartmentId
            + CounterpartyId
            + ContractReference
            + TerminaId
    + PropertyValue (optional, string, `12345`) ... required if property specified.

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (array [ExpedCallOff List])
        + Pagination (Pagination)
        + Response (200 SuccessResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 BadPropertyResponse)
    
+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

## StockToStockOrder [/Inventory/{TradingEntityId}/Physicals/OrderScheduling/StockToStockOrder/{ReleaseId}]
Orders specifically representing movements of goods between Stock Units (aka Manufacturing Orders).
### Read StockToStockOrder [GET]

|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|ReleaseId|Release Code|`number`|||Required|
|TargetStockUnitCode|see <b><a href="/#reference/wip-reference-data/stockunit">StockUnit</a></b> endpoint|`object`||||
|Quantity|Quantity|`decimal`||||
|TargetDate|Target Date|`datetime`|20|||
|PumpingMemo|Pumping Memorandum|`string`|250|||
|ProcessComplete|Is Process Complete|`boolean`|5|||
|SourceStockUnitCodes|see <b><a href="/#reference/inventory-physicals-stock-processing/stockloading">StockLoading</a></b> endpoint|`[object]`||array of StockLoading objects||


+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity. 
    + ReleaseId (required, number, `12345`)

+ Request (application/json)
    + Header

            AccessToken: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1bmlxdWVfbmFtZSI6ImRlZXBhayIsInN1YiI6ImRlZXBhayIsInJvbGUiOlsiNzk5YjhhNDEtYWI0ZS00MTBhLWI5MTktYzU3ZWFlMmFlMDI5IiwiZGVlcGFrIiwiQVNQLk5FVCBJZGVudGl0eSIsIjViNDE4ODE2LTI3ZjQtNGRlOC1iNmMyLTJlZTcxNjI3ZmJmYyIsIkFkbWluIiwiU3VwZXJBZG1pbiJdLCJpc3MiOiJodHRwOi8vbG9jYWxob3N0OjgwMjciLCJhdWQiOiI4MjkzNjk0MjJmNzA0NTIzODUxZDk4NTU2YjZkNTQyYiIsImV4cCI6MTQ1OTQzMjk0MSwibmJmIjoxNDU5NDMxMTQxfQ.JgPGxt0Ok5baKx0YMXlO6D9kUYrCWM-Kma9b9iMW8tg


+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (StockToStockOrder)
        + Response (200 SuccessResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 Response)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)



# Group Inventory-Physicals-Stock Management
Management activities of Stock Units (where represented by WIP Accounts).

## StockBatch [/Inventory/{TradingEntityId}/Physicals/StockManagement/StockBatch/{StockBatchId}]
Batch record information by Stock Unit.
### Read StockBatch [GET]

|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|StockBatchId|Stock Batch Code|`string`|20||Required|
|StockUnitCode|see <b><a href="/#reference/wip-reference-data/stockunit">StockUnit</a></b> endpoint|`object`||||
|BatchCreateDate|Date Batch Created|`datetime`|20|||
|BatchText|Batch Text|`string`|1000|||


+ Request
    [AccessToken][]
    
+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity. 
    + StockBatchId (required, string, `abc123`)

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (StockBatch)
        + Response (200 SuccessResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 Response)
    
+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

## StockBatch List [/Inventory/{TradingEntityId}/Physicals/StockManagement/StockBatch/{Property}/{PropertyValue}]
Batch record information by Stock Unit.
### List StockBatches [GET]

|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|StockBatchId|Stock Batch Code|`string`|20|||
|StockUnitCode|Stock Unit Code|`string`|11|||
|BatchCreateDate|Date Batch Created|`datetime`|20|||
|BatchText|Batch Text|`string`|1000|||


+ Request
    [AccessToken][]
    
+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity. 
    + Property (optional, enum[string]) ... identify property name to filter by 
       + Members
            + StockBatchId 
            + StockUnitCode
    + PropertyValue (optional, string, `abc123`) ... required if property specified.

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (StockBatch List)
        + Pagination (Pagination)
        + Response (200 SuccessResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 BadPropertyResponse)
    
+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)


# Group Inventory-Physicals-Stock Processing
Production Order processing services.

## MarkOrderAsProcessed [/Inventory/{TradingEntityId}/Physicals/OrderProcessing/MarkOrderAsProcessed/{ReleaseId}]
Trigger call to complete an order (e.g. create stock journals etc)
### Update MarkOrderAsProcessed [PUT]


<strong>URI Parameters</strong>

|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|ReleaseId|Release Number|`number`||||

<strong>Body Parameters</strong>
<br />
None.

+ Request (application/json)
    + Header

            AccessToken: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1bmlxdWVfbmFtZSI6ImRlZXBhayIsInN1YiI6ImRlZXBhayIsInJvbGUiOlsiNzk5YjhhNDEtYWI0ZS00MTBhLWI5MTktYzU3ZWFlMmFlMDI5IiwiZGVlcGFrIiwiQVNQLk5FVCBJZGVudGl0eSIsIjViNDE4ODE2LTI3ZjQtNGRlOC1iNmMyLTJlZTcxNjI3ZmJmYyIsIkFkbWluIiwiU3VwZXJBZG1pbiJdLCJpc3MiOiJodHRwOi8vbG9jYWxob3N0OjgwMjciLCJhdWQiOiI4MjkzNjk0MjJmNzA0NTIzODUxZDk4NTU2YjZkNTQyYiIsImV4cCI6MTQ1OTQzMjk0MSwibmJmIjoxNDU5NDMxMTQxfQ.JgPGxt0Ok5baKx0YMXlO6D9kUYrCWM-Kma9b9iMW8tg

    + Body 
    
            {
                none
            }

+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity. 
    + ReleaseId (required, number, `123`)

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data
            + ReleaseId: 123 (number)
        + Response (200 UpdateResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 Response)
    
+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

## StockLoading [/Inventory/{TradingEntityId}/Physicals/OrderProcessing/StockLoading/{ReleaseId}]
Information specific to the source of the goods generated during any movement (Delivery Out or Stock to Stock).
### Read StockLoading [GET]

|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|ReleaseId|Release Number|`number`|||Required|
|SourceStockUnitCode|see <b><a href="/#reference/wip-reference-data/stockunit">StockUnit</a></b> endpoint|`object`|||||
|Weight|Stock Unit Weight|`decimal`||||

+ Request
    [AccessToken][]

+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity. 
    + ReleaseId (required, number, `123`)

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (array [StockLoading])
        + Response (200 SuccessResponse)
    
+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 Response)
    
+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

### Create StockLoading [PUT]
Remove current suggestions for Tanks and Create Stock Loadings


|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|ReleaseId|Release Number|`number`|||Required. Unique Key|
|SourceStockUnitCode|Source Stock Unit Code|`string`|11||Required|
|Weight|Stock Unit Weight|`decimal`|||Required|

+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity. 
    + ReleaseId (required, number, `123`)

+ Request (application/json)
    + Header

            AccessToken: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1bmlxdWVfbmFtZSI6ImRlZXBhayIsInN1YiI6ImRlZXBhayIsInJvbGUiOlsiNzk5YjhhNDEtYWI0ZS00MTBhLWI5MTktYzU3ZWFlMmFlMDI5IiwiZGVlcGFrIiwiQVNQLk5FVCBJZGVudGl0eSIsIjViNDE4ODE2LTI3ZjQtNGRlOC1iNmMyLTJlZTcxNjI3ZmJmYyIsIkFkbWluIiwiU3VwZXJBZG1pbiJdLCJpc3MiOiJodHRwOi8vbG9jYWxob3N0OjgwMjciLCJhdWQiOiI4MjkzNjk0MjJmNzA0NTIzODUxZDk4NTU2YjZkNTQyYiIsImV4cCI6MTQ1OTQzMjk0MSwibmJmIjoxNDU5NDMxMTQxfQ.JgPGxt0Ok5baKx0YMXlO6D9kUYrCWM-Kma9b9iMW8tg

    + Attributes (array [StockLoadingFlat])

+ Response 201 (application/json; charset=utf-8)
    + Attributes 
        + Attributes 
        + Data
            + ReleaseId: 123 (number)
        + Response (201 CreateResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 Response)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)


## StockMovement [/Inventory/{TradingEntityId}/Physicals/OrderProcessing/StockMovement/{ReleaseId}]
Information relating to the processing of the Order. 
### Read StockMovement [GET]

|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|TargetStockUnit|see <b><a href="/#reference/wip-reference-data/stockunit">StockUnit</a></b> endpoint|`object`||||
|ReleaseId|Release Number|`number`|||Required|
|OrderAcknowledged|Has Order Been Acknowledged|`boolean`|5|||
|NetLoadedWeight|Net Loaded Weight|`decimal`||||
|NetPumpedWeight|Net Pumped Weight|`decimal`||||
|NetDeliveredWeight|Net Delivered Weight|`decimal`||||
|LoadedDate|Date Loaded|`datetime`|20|||
|PumpedDate|Date Pumped|`datetime`|20|||
|ArrivalDate|Arrival Date|`datetime`|20|||
|ArrivalMemo|Arrival Memorandum|`string`|250|||
|ArrivalWeight|Arrival Weight|`decimal`||||
|LoadingStartDate|Loading Start Date|`datetime`|20|||
|LoadingStartMemo|Loading Start Memorandum|`string`|250|||
|LoadingEndDate|Loading End Date|`datetime`|20|||
|LoadingPoint|Loading Point|`string`|250|||
|FirstWeight|First Weight|`decimal`||||
|FirstWeightWeighbridgeId|First Weight Weighbridge ID|`string`|10|||
|FirstWeightId|First Weight ID|`string`|10|||
|SecondWeight|Second Weight|`decimal`||||
|SecondWeightWeighbridgeId|Second Weight Weighbridge ID|`string`|10|||
|SecondWeightId|Second Weight ID|`string`|10|||

+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity. 
    + ReleaseId (required, number, `123`)

+ Request (application/json)
    + Header

[...]
