FORMAT: 1A
HOST: http://itas.apiary.io/
VERSION: 2.6

# ITAS API 2.6
<strong>Release notes</strong> (1st August 2016)

<div>~ New endpoints added in this release :</div>
<div>
<ul>
<li>Client Reference Data <strong>Delta Update ClientAccount</strong>: Update ClientAccount data with only ClientAccountId mandatory. <a href="/#reference/client-reference-data/clientaccount/delta-update-clientaccount"> Link</a></li>
<li>Nominal Reference Data <strong>Delta Update NominalAccount</strong>: Update NominalAccount data with only NominalAccountId mandatory. <a href="/#reference/nominal-reference-data/nominalaccount/delta-update-nominalaccount"> Link</a></li>
<li>Accounting <strong>Delta Update Transaction Header</strong>: Update Transaction Header. <a href="/#reference/accounting-transactions/transaction-header/delta-update-transaction-header"> Link</a></li>
</ul>
</div>
<br /> 
<br />
<div>** ends ** </div>


## AccessToken [/AT]
Model Header containing AccessToken

+ Model 
    + Header

            Authorization: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1bmlxdWVfbmFtZSI6ImRlZXBhayIsInN1YiI6ImRlZXBhayIsInJvbGUiOlsiNzk5YjhhNDEtYWI0ZS00MTBhLWI5MTktYzU3ZWFlMmFlMDI5IiwiZGVlcGFrIiwiQVNQLk5FVCBJZGVudGl0eSIsIjViNDE4ODE2LTI3ZjQtNGRlOC1iNmMyLTJlZTcxNjI3ZmJmYyIsIkFkbWluIiwiU3VwZXJBZG1pbiJdLCJpc3MiOiJodHRwOi8vbG9jYWxob3N0OjgwMjciLCJhdWQiOiI4MjkzNjk0MjJmNzA0NTIzODUxZDk4NTU2YjZkNTQyYiIsImV4cCI6MTQ1OTQzMjk0MSwibmJmIjoxNDU5NDMxMTQxfQ.JgPGxt0Ok5baKx0YMXlO6D9kUYrCWM-Kma9b9iMW8tg

# Group Client Reference Data
Codes relating to the Client Ledger and related endpoints.

## ClientAccount List [/ReferenceData/{TradingEntityId}/ClientLedger/ClientAccount/{Property}/{PropertyValue}]
Client Ledger Account profile.
### List ClientAccounts [GET]

|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|ClientAccountId|Client Account Code|`string`|10|||
|Title|Client Title|`string`|200|||
|ClientTypeCode|Client Account Type Code|`string`|1|||
|Status|Account Status|`string`|1||`O` or `F`|
|PrivilegeLevel|Account Privilege Level|`number`|1||`0` to `9`|
|CanBeBuyer|Is Client a Buyer|`boolean`||||
|CanBeSeller|Is Client a Seller|`boolean`||||
|CanBeAgent|Is Client an Agent|`boolean`||||
|CanBeShipper|Is Client a Shipper|`boolean`||||
|CanBeDerivativeClient|Is Client a Derivitive Client|`boolean`||||
|CanBeDerivativeBroker|Is Client a Derivitive Broker|`boolean`||||
|EDICode|Account EDI Code|`string`|50|||


+ Request
    [AccessToken][]
    
+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity.
    + Property (optional, enum[string]) 
       + Members
            + Status
            + CanBeBuyer
            + CanBeSeller 
            + CanBeAgent
            + CanBeShipper
            + CanBeDerivativeClient 
            + CanBeDerivativeBroker 
            + EDICode
    + PropertyValue (optional, string, `O`) 

+ Response 200 (application/json; charset=utf-8)
    + Attributes (object)
        + Data (array [ClientAccount List])
        + Pagination (Pagination)
        + Response (200 SuccessResponse)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)    

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 BadPropertyResponse)
    


## ClientAccount [/ReferenceData/{TradingEntityId}/ClientLedger/ClientAccount/{ClientAccountId}]
Client Ledger Account profile.
### Read ClientAccount [GET]

|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|ClientAccountId|Client Account Code|`string`|10||Required|
|Title|Client Title|`string`|200|||
|ClientType|see <b><a href="/#reference/client-reference-data/clienttype-list">Client Type List</a></b> endpoint|`object`||||
|Status|Account Status|`string`|1||`O` or `F`|
|PrivilegeLevel|Account Privilege Level|`number`|1||`0` to `9`|
|CanBeBuyer|Is Client a Buyer|`boolean`||||
|CanBeSeller|Is Client a Seller|`boolean`||||
|CanBeAgent|Is Client an Agent|`boolean`||||
|CanBeShipper|Is Client a Shipper|`boolean`||||
|CanBeDerivativeClient|Is Client a Derivitive Client|`boolean`||||
|CanBeDerivativeBroker|Is Client a Derivitive Broker|`boolean`||||
|GlobalTraderProgramMember|Is Client a Global Trader Program Member|`boolean`||||
|GroupAccountMember|Is Client a Group Account Member|`boolean`||||
|HeadOfFamilyAccountCode|Head of Family Account Code|`string`|10|||
|EDICode|Account EDI Code|`string`|50|||
|ContactDetails|see <b><a href="/#reference/data-object-definitions/address">Address</a></b> object|`object`||||
|<strong>Client Limits</strong>|
|ClientDateLimitsApproved|Date Client Limits Approved|`datetime`||||
|ClientLimitsCurrency|see <b><a href="/#reference/global-reference-data/currency-list/list-currencies">Currency List</a></b> endpoint|`object`||||
|ClientPaymentLimit|Client Payment Limit|`number`|18,8|||
|ClientMarketDefaultRiskLimit|Client Market Default Risk Limit|`number`|18,8|||
|ClientCommitmentLimit|Client Commitment Limit|`number`|18,8|||
|<strong>Family Limits</strong>|
|FamilyDateLimitsApproved|Date Family Limit Approved|`datetime`||||
|FamilyLimitsCurrency|see <b><a href="/#reference/global-reference-data/currency-list/list-currencies">Currency List</a></b> endpoint|`object`||||
|FamilyPaymentLimit|Family Payment Limit|`number`||||
|FamilyMarketDefaultRiskLimit|Family Market Default Risk Limit|`number`||||
|FamilyCommitmentLimit|Family Commitment Limit|`number`||||


+ Request
    [AccessToken][]
    
+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity. 
    + ClientAccountId (required, string, `ABCDEF.P`) ... Code of client account to read.

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (ClientAccount)
        + Response (200 SuccessResponse)
    
+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)



### Create Update ClientAccount [PUT]
For Update requests the field `ClientAccountId` is used to check the corresponding value in the URI

|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|ClientAccountId|Client Account Code|`string`|10||Required. Unique Key|
|Title|Client Title|`string`|200||Required|
|ClientTypeCode|Client Account Type Code|`string`|1||Required|
|Status|Account Status|`string`|1||`O` or `F`|
|PrivilegeLevel|Account Privilege Level|`number`|1||`0` to `9`|
|CanBeBuyer|Is Client a Buyer|`boolean`||||
|CanBeSeller|Is Client a Seller|`boolean`||||
|CanBeAgent|Is Client an Agent|`boolean`||||
|CanBeShipper|Is Client a Shipper|`boolean`||||
|CanBeDerivativeClient|Is Client a Derivitive Client|`boolean`||||
|CanBeDerivativeBroker|Is Client a Derivitive Broker|`boolean`||||
|GlobalTraderProgramMember|Is Client a Global Trader Program Member|`boolean`||||
|GroupAccountMember|Is Client a Group Account Memeber|`boolean`||||
|HeadOfFamilyAccountCode|Head of Family Account Code|`string`|10|||
|EDICode|Account EDI Code|`string`|50|||
|<strong>Contact Details</strong>|
|AddressLine1|Address Line 1|`string`|60|||
|AddressLine2|Address Line 2|`string`|60|||
|AddressLine3|Address Line 3|`string`|60|||
|AddressLine4|Address Line 4|`string`|60|||
|ZipCode|Zip Code|`string`|40|||
|CountryCode|Country Code|`string`|3||Required|
|EmailAddress|Email Address|`string`|100|||
|PhoneNumber|Phone Number|`string`|40|||
|FaxNumber|Fax Number|`string`|40|||
|<strong>Client Limits</strong>|
|ClientDateLimitsApproved|Date Client Limits Approved|`datetime`||||
|ClientLimitsCurrencyCode|Client Limits Currency Code|`string`|3|||
|ClientPaymentLimit|Client Payment Limits|`number`|18,8|||
|ClientMarketDefaultRiskLimit|Client Market Default Risk Limit|`number`|18,8|||
|ClientCommitmentLimit|Client Commitment Limit|`number`|18,8|||
|<strong>Family Limits</strong>|
|FamilyDateLimitsApproved|Date Family Limits Approved|`datetime`||||
|FamilyLimitsCurrencyCode|Family Limit Currency Code|`string`|3|||
|FamilyPaymentLimit|Family Payment Limit|`number`||||
|FamilyMarketDefaultRiskLimit|Family Market Default Risk Limit|`number`||||
|FamilyCommitmentLimit|Family Commitment Limit|`number`||||


+ Request (application/json)
    + Header

            AccessToken:Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1bmlxdWVfbmFtZSI6ImRlZXBhayIsInN1YiI6ImRlZXBhayIsInJvbGUiOlsiNzk5YjhhNDEtYWI0ZS00MTBhLWI5MTktYzU3ZWFlMmFlMDI5IiwiZGVlcGFrIiwiQVNQLk5FVCBJZGVudGl0eSIsIjViNDE4ODE2LTI3ZjQtNGRlOC1iNmMyLTJlZTcxNjI3ZmJmYyIsIkFkbWluIiwiU3VwZXJBZG1pbiJdLCJpc3MiOiJodHRwOi8vbG9jYWxob3N0OjgwMjciLCJhdWQiOiI4MjkzNjk0MjJmNzA0NTIzODUxZDk4NTU2YjZkNTQyYiIsImV4cCI6MTQ1OTQzMjk0MSwibmJmIjoxNDU5NDMxMTQxfQ.JgPGxt0Ok5baKx0YMXlO6D9kUYrCWM-Kma9b9iMW8tg

    + Attributes (ClientAccount CreateUpdate)

+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity.
    + ClientAccountId (required, string, `ABCDEF.P`) ... Code for client account to create or update.

+ Response 201 (application/json; charset=utf-8)
    + Attributes 
        + Data
            + ClientAccountID: ABCDEF.P (string)
        + Response (201 CreateResponse)

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data
            + ClientAccountID: ABCDEF.P (string)
        + Response (200 UpdateResponse)
    
+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 Response)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

### Delta Update ClientAccount [PATCH]
Delta Update is to be used to update ClientAcount, where the field `ClientAccountId` is the only required field, it cannot be updated but is used to cross reference the Id in the URI

|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|ClientAccountId|Client Account Code|`string`|10||Required|
|Title|Client Title|`string`|200|||
|ClientTypeCode|Client Account Type Code|`string`|1|||
|Status|Account Status|`string`|1||`O` or `F`|
|PrivilegeLevel|Account Privilege Level|`number`|1||`0` to `9`|
|CanBeBuyer|Is Client a Buyer|`boolean`||||
|CanBeSeller|Is Client a Seller|`boolean`||||
|CanBeAgent|Is Client an Agent|`boolean`||||
|CanBeShipper|Is Client a Shipper|`boolean`||||
|CanBeDerivativeClient|Is Client a Derivitive Client|`boolean`||||
|CanBeDerivativeBroker|Is Client a Derivitive Broker|`boolean`||||
|GlobalTraderProgramMember|Is Client a Global Trader Program Member|`boolean`||||
|GroupAccountMember|Is Client a Group Account Memeber|`boolean`||||
|HeadOfFamilyAccountCode|Head of Family Account Code|`string`|10|||
|EDICode|Account EDI Code|`string`|50|||
|<strong>Contact Details</strong>|
|AddressLine1|Address Line 1|`string`|60|||
|AddressLine2|Address Line 2|`string`|60|||
|AddressLine3|Address Line 3|`string`|60|||
|AddressLine4|Address Line 4|`string`|60|||
|ZipCode|Zip Code|`string`|40|||
|CountryCode|Country Code|`string`|3|||
|EmailAddress|Email Address|`string`|100|||
|PhoneNumber|Phone Number|`string`|40|||
|FaxNumber|Fax Number|`string`|40|||
|<strong>Client Limits</strong>|
|ClientDateLimitsApproved|Date Client Limits Approved|`datetime`||||
|ClientLimitsCurrencyCode|Client Limits Currency Code|`string`|3|||
|ClientPaymentLimit|Client Payment Limits|`number`|18,8|||
|ClientMarketDefaultRiskLimit|Client Market Default Risk Limit|`number`|18,8|||
|ClientCommitmentLimit|Client Commitment Limit|`number`|18,8|||
|<strong>Family Limits</strong>|
|FamilyDateLimitsApproved|Date Family Limits Approved|`datetime`||||
|FamilyLimitsCurrencyCode|Family Limit Currency Code|`string`|3|||
|FamilyPaymentLimit|Family Payment Limit|`number`||||
|FamilyMarketDefaultRiskLimit|Family Market Default Risk Limit|`number`||||
|FamilyCommitmentLimit|Family Commitment Limit|`number`||||

+ Request (application/json)
    + Header

            AccessToken:Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1bmlxdWVfbmFtZSI6ImRlZXBhayIsInN1YiI6ImRlZXBhayIsInJvbGUiOlsiNzk5YjhhNDEtYWI0ZS00MTBhLWI5MTktYzU3ZWFlMmFlMDI5IiwiZGVlcGFrIiwiQVNQLk5FVCBJZGVudGl0eSIsIjViNDE4ODE2LTI3ZjQtNGRlOC1iNmMyLTJlZTcxNjI3ZmJmYyIsIkFkbWluIiwiU3VwZXJBZG1pbiJdLCJpc3MiOiJodHRwOi8vbG9jYWxob3N0OjgwMjciLCJhdWQiOiI4MjkzNjk0MjJmNzA0NTIzODUxZDk4NTU2YjZkNTQyYiIsImV4cCI6MTQ1OTQzMjk0MSwibmJmIjoxNDU5NDMxMTQxfQ.JgPGxt0Ok5baKx0YMXlO6D9kUYrCWM-Kma9b9iMW8tg

    + Attributes (ClientAccount Update)

+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity.
    + ClientAccountId (required, string, `ABCDEF.P`) ... Code for client account to update.

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data
            + ClientAccountID: ABCDEF.P (string)
        + Response (200 UpdateResponse)
    
+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 Response)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

## ClientType List [/ReferenceData/{TradingEntityId}/ClientLedger/ClientType/{Property}/{PropertyValue}]
User-defined list of codes used for classification purposes on Client Account profile.
### List ClientTypes [GET]
|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|ClientTypeId|Client Type Code|`string`|1|||
|ClientTypeDescription|Client Type Description|`string`|50|||


+ Request
    [AccessToken][]
    
+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity.
    + Property (optional, enum[string]) ... identify property name to filter by 
       + Members
            + ClientTypeId
    + PropertyValue (optional, string, `H`) 

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (array [ClientType List])
        + Pagination (Pagination)
        + Response (200 SuccessResponse)


    
+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 BadPropertyResponse)
  
+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)


# Group Global Reference Data
Global (system-wide) codes 

## Country List [/ReferenceData/Global/Country/{Property}/{PropertyValue}]
Country codes.
### List Countries [GET]
|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|CountryId|Country Code|`string`|3|||
|CountryDescription|Country Code Description|`string`|50|||

+ Request
    [AccessToken][]

+ Parameters
    + Property (optional, enum[string]) 
       + Members
            + CountryId
    + PropertyValue (optional, string, `GB`)

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (array [Country])
        + Pagination (Pagination)
        + Response (200 SuccessResponse)
    

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 BadPropertyResponse)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

## Currency List [/ReferenceData/Global/Currency/{Property}/{PropertyValue}]
Currency codes.
### List Currencies [GET]
|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|CurrencyId|Currency Code|`string`|3|||
|CurrencyDescription|Currency Code Description|`string`|20|||

+ Request
    [AccessToken][]

+ Parameters
    + Property (optional, enum[string]) 
       + Members
            + CurrencyId
    + PropertyValue (optional, string, `GBP`)

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (array [Currency])
        + Pagination (Pagination)
        + Response (200 SuccessResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 BadPropertyResponse)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

## UserAccount List  [/ReferenceData/Global/UserAccount/{Property}/{PropertyValue}]
ITAS User Account profiles.
### List User Accounts [GET]



|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|UserAccountId|User Account Initials|`string`|3|||
|UserAccountName|User Account Username|`string`|255|||
|UserAccountDescription|User Account Full Name|`string`|40|||


+ Request
    [AccessToken][]

+ Parameters
    + Property (optional, enum[string]) 
       + Members
            + UserAccountId
            + UserAccountName
    + PropertyValue (optional, string, `JS`)

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (array [UserAccount])
        + Pagination (Pagination)
        + Response (200 SuccessResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 BadPropertyResponse)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)


# Group Nominal Reference Data
Codes relating to Nominal Ledger and related endpoints.

## Department List [/ReferenceData/{TradingEntityId}/NominalLedger/Department/{Property}/{PropertyValue}]
Codes used to segregate business sectors within a trading company, and can be applied to contracts and accounting transactions.
### List Departments [GET]

|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|DepartmentId|Department Code|`string`|4|||
|DepartmentDescription|Department Code Description|`string`|30|||
|NominalCategoryId|Nominal Category Code|`string`|2|||
|CountryId|Department Country Code|`string`|3|||
|EDICode|Department EDI Code|`string`|15|||
|Status|Department Status|`string`|1||`O` or `F`|

+ Request
    [AccessToken][]
    
+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity.
    + Property (optional, enum[string]) ... identify property name to filter by 
       + Members
            + Status
            + DepartmentId
            + EDICode
    + PropertyValue (optional, string, `F`)


+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (array[Department List])
        + Pagination (Pagination)
        + Response (200 SuccessResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 BadPropertyResponse)
    
+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

## Department [/ReferenceData/{TradingEntityId}/NominalLedger/Department/{DepartmentId}]
Codes used to segregate business sectors within a trading company, and can be applied to contracts and accounting transactions.
### Read Department [GET]
|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|DepartmentId|Department Code|`string`|4||Required|
|DepartmentDescription|Department Description|`string`|30|||
|NominalCategory|see <b><a href="/#reference/nominal-reference-data/nominalcategory-list/list-nominalcategories">Nominal Category List</a></b> endpoint|`object`||||
|Country|see <b><a href="/#reference/global-reference-data/country-list/list-countries">Countries List</a></b> endpoint|`object`||||
|EDICode|Department EDI Code|`string`|15|||
|Status|Department Status|`string`|1||`O` or `F`|

+ Request
    [AccessToken][]

+ Parameters
    + TradingEntityId (required, string, `JT`) ...  Specific trading entity.
    + DepartmentId (required, string, `5100`) ...  Property department id. 

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (Department)
        + Response (200 SuccessResponse)


+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 Response)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

## Expense List [/ReferenceData/{TradingEntityId}/NominalLedger/Expense/{Property}/{PropertyValue}]
Codes that are primarily used for accounting transaction analysis purposes.
### List Expenses [GET]


|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|ExpenseId|Expense Code|`string`|7|||
|ExpenseDescription|Expense Code Description|`string`|40|||
|EDICode|Expense EDI Code|`string`|15|||
|Status|Expense Status|`string`|1||`O` or `F`|


+ Request
    [AccessToken][]

+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity. 
    + Property (optional, enum[string])  
       + Members
            + Status
            + EDICode
            + ExpenseId 
    + PropertyValue (optional, string, `F`) 

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (array [Expense List])
        + Pagination (Pagination)
        + Response (200 SuccessResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 Response)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

## NominalAccount List [/ReferenceData/{TradingEntityId}/NominalLedger/NominalAccount/{Property}/{PropertyValue}]
Nominal (General) Ledger Account profile.
### List NominalAccounts [GET]
|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|NominalAccountId|Nominal Account Code|`string`|9|||
|MainGroupingDescription|Main Grouping Description|`string`|40|||
|DetailDescription|Detail Description|`string`|40|||
|BankAccount|Is a Bank Account|`boolean`||||
|PrivilegeLevel|Nominal Account Privilege Level|`number`|1||`0` to `9`|
|EDICode|Nominal Account EDI Code|`string`|30|||
|Status|Nominal Account Status|`string`|1||`O` or `F`|


+ Request
    [AccessToken][]

+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity.
    + Property (optional, enum[string]) ... identify property name to filter by 
       + Members
            + NominalAccountId
            + BankAccount
            + EDICode
            + Status 
    + PropertyValue (optional, string, `1234.5678`)


+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (array[NominalAccount])
        + Pagination (Pagination)
        + Response (200 SuccessResponse)


+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

## NominalAccount [/ReferenceData/{TradingEntityId}/NominalLedger/NominalAccount/{NominalAccountId}]
Nominal (General) Ledger Account profile.
<div>Note: If the fields MainGroupingDescription or DetailDescription are included, they will not be updated as they are not supported for update.</div> 
### Read NominalAccount [GET]
|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|NominalAccountId|Nominal Account Code|`string`|9||Required|
|MainGroupingDescription|Main Grouping Description|`string`|40|||
|DetailDescription|Detail Description|`string`|40|||
|BankAccount|Is a Bank Account|`boolean`||||
|PrivilegeLevel|Nominal Account Privilege Level|`number`|1||`0` to `9`|
|EDICode|Nominal Account EDI Code|`string`|30|||
|Status|Nominal Account Status|`string`|1||`O` or `F`|

+ Request
    [AccessToken][]

+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity.
    + NominalAccountId (required, string, `1234.5678`) ... Code for nominal account to read. 


+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (NominalAccount)
        + Response (200 SuccessResponse)


+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)
    
### Update NominalAccount [PUT]
|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|NominalAccountId|Nominal Account Code|`string`|9||Required|
|BankAccount|Is a Bank Account|`boolean`||||
|PrivilegeLevel|Nominal Account Privilege Level|`number`|1||`0` to `9`|
|EDICode|Nominal Account EDI Code|`string`|30|||
|Status|Nominal Account Status|`string`|1||`O` or `F`|

+ Request (application/json)
    + Header

            AccessToken:Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1bmlxdWVfbmFtZSI6ImRlZXBhayIsInN1YiI6ImRlZXBhayIsInJvbGUiOlsiNzk5YjhhNDEtYWI0ZS00MTBhLWI5MTktYzU3ZWFlMmFlMDI5IiwiZGVlcGFrIiwiQVNQLk5FVCBJZGVudGl0eSIsIjViNDE4ODE2LTI3ZjQtNGRlOC1iNmMyLTJlZTcxNjI3ZmJmYyIsIkFkbWluIiwiU3VwZXJBZG1pbiJdLCJpc3MiOiJodHRwOi8vbG9jYWxob3N0OjgwMjciLCJhdWQiOiI4MjkzNjk0MjJmNzA0NTIzODUxZDk4NTU2YjZkNTQyYiIsImV4cCI6MTQ1OTQzMjk0MSwibmJmIjoxNDU5NDMxMTQxfQ.JgPGxt0Ok5baKx0YMXlO6D9kUYrCWM-Kma9b9iMW8tg

    + Attributes (NominalAccountUpdate)

+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity. 
    + NominalAccountId (required, string, `1234.5678`) ... Code for nominal account to update. 

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data
            + NominalAccountId: 1234.5678 (string)
        + Response (200 UpdateResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 Response)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

### Delta Update NominalAccount [PATCH]
|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|NominalAccountId|Nominal Account Code|`string`|9||Required|
|BankAccount|Is a Bank Account|`boolean`||||
|PrivilegeLevel|Nominal Account Privilege Level|`number`|1||`0` to `9`|
|EDICode|Nominal Account EDI Code|`string`|30|||
|Status|Nominal Account Status|`string`|1||`O` or `F`|

+ Request (application/json)
    + Header

            AccessToken:Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1bmlxdWVfbmFtZSI6ImRlZXBhayIsInN1YiI6ImRlZXBhayIsInJvbGUiOlsiNzk5YjhhNDEtYWI0ZS00MTBhLWI5MTktYzU3ZWFlMmFlMDI5IiwiZGVlcGFrIiwiQVNQLk5FVCBJZGVudGl0eSIsIjViNDE4ODE2LTI3ZjQtNGRlOC1iNmMyLTJlZTcxNjI3ZmJmYyIsIkFkbWluIiwiU3VwZXJBZG1pbiJdLCJpc3MiOiJodHRwOi8vbG9jYWxob3N0OjgwMjciLCJhdWQiOiI4MjkzNjk0MjJmNzA0NTIzODUxZDk4NTU2YjZkNTQyYiIsImV4cCI6MTQ1OTQzMjk0MSwibmJmIjoxNDU5NDMxMTQxfQ.JgPGxt0Ok5baKx0YMXlO6D9kUYrCWM-Kma9b9iMW8tg

    + Attributes (NominalAccountDelta)

+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity. 
    + NominalAccountId (required, string, `1234.5678`) ... Code for nominal account to update. 

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data
            + NominalAccountId: 1234.5678 (string)
        + Response (200 UpdateResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 Response)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

## NominalCategory List [/ReferenceData/{TradingEntityId}/NominalLedger/NominalCategory/{Property}/{PropertyValue}]
User-defined categorisation codes that can be applied to departments and bank accounts.
### List NominalCategories [GET]

|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|NominalCategoryId|Nominal Category Code|`string`|2|||
|NominalCategoryDescription|Nominal Category Code Description|`string`|50|||
|NominalGroup|Nominal Group|`string`|15|||


+ Request
    [AccessToken][]

+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity.
    + Property (optional, enum[string]) ... identify property name to filter by 
       + Members
            + NominalCategoryId
    + PropertyValue (optional, string, `AF`)


+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (array[NominalCategory])
        + Response (200 SuccessResponse)


+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 Response)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

## Vat Rate List [/ReferenceData/{TradingEntityId}/NominalLedger/VATRate/{Property}/{PropertyValue}]
Codes and rates applied as part of any VAT/GST accounting practise.
### List VATRates [GET]


|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|VatRateId|VAT Rate Code|`string`|2|||
|VatRateDescription|VAT Rate Code Description|`string`|40|||
|VatRate|VAT Rate|`float`|8|||
|Status|VAT Rate Status|`string`|1||`O` or `F`|

+ Request
    [AccessToken][]

+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity. 
    + Property (optional, enum[string]) 
       + Members
            + VATRateId
            + VATRate
            + Status
    + PropertyValue (optional, string, `GS`) 

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (array [VATRate])
        + Response (200 SuccessResponse)


+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 BadPropertyResponse)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)


# Group Physicals Reference Data
Codes relating to Physicals Trading and related endpoints.

## Commodity List [/ReferenceData/{TradingEntityId}/Physicals/Commodity/{Property}/{PropertyValue}]
Commodity/Product codes, used to identify goods
### List Commodities [GET]

|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|CommodityCodePart1|Commodity Code|`string`|3|||
|CommodityCodePart2|Commodity Origin|`string`|6|||
|CommodityCodePart3|Commodity Grade|`string`|6|||
|CommodityCodePart4|Commodity Code Section 4|`string`|6|||
|CommodityCodePart5|Commodity Code Section 5|`string`|6|||
|CommodityDescription|Commodity Description|`string`|250|||
|DocumentText|Document Text|`string`|4000|||
|CommodityGroup|Commodity Group Code|`string`|3|||
|CountryCode|Commodity Country Code|`string`|3|||
|EDICode|Commodity EDI Code|`string`|15|||
|Status|Commodity Status|`string`|1||`O` or `F`|

+ Request
    [AccessToken][]

+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity.
    + Property (optional, enum[string]) ... identify property name to filter by 
       + Members
            + Status (optional, string)
            + CommodityCodePart1 (optional, string) 
            + CommodityCodePart2 (optional, string)
            + CommodityCodePart3 (optional, string)
            + CommodityCodePart4 (optional, string)
            + CommodityCodePart5 (optional, string)
            + CommodityGroup (optional, string)
            + EDICode (optional, string)
    + PropertyValue (optional, string, `F`)

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (array[Commodity])
        + Pagination (Pagination)
        + Response (200 SuccessResponse)
    
+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 BadPropertyResponse)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

## Contract Term List [/ReferenceData/{TradingEntityId}/Physicals/ContractTerm/{Property}/{PropertyValue}]
Contract Terms (aka Incoterms) usually setup to represent pre-defined, internationally recognised, commercial terms of contract.
### List ContractTerms [GET]


|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|ContractTermId|Contract Term Code|`string`|8|||
|ContractTermDescription|Contract Term Code Description|`string`|50|||
|DocumentText|Contract Document Text|`string`|4000|||
|Status|Contract Status|`string`|1||`O` or `F`|
|EDICode|Contract EDI Code|`string`|50|||

+ Request
    [AccessToken][]

+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity.
    + Property (optional, enum[string])
       + Members
            + Status (optional, string)
            + ContractTermId (optional, string) 
            + EDICode (optional, string)
    + PropertyValue (optional, string, `F`)

+ Response 200 (application/json; charset=utf-8)
    + Attributes
        + Data (array[ContractTerm])
        + Pagination (Pagination)
        + Response (200 SuccessResponse)
    
+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 BadPropertyResponse)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

## PackingType List [/ReferenceData/{TradingEntityId}/Physicals/PackingType/{Property}/{PropertyValue}]
Codes used to describe the units of packing applied in physical contracts.
### List PackingTypes [GET]

|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|PackingTypeId|Packing Type Code|`string`|4|||
|PackingTypeDescription|Packing Type Code Description|`string`|70|||
|EDICode|Packing Type EDI Code|`string`|50|||
|Status|Packing Status|`string`|1||`O` or `F`|

+ Request
    [AccessToken][]

+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity.
    + Property (optional, enum[string]) ... identify property name to filter by 
       + Members
            + Status (optional, string)
            + PackingTypeId (optional, string) 
            + EDICode (optional, string)
    + PropertyValue (optional, string, `F`)

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (array[PackingType])
        + Pagination (Pagination)
        + Response (200 SuccessResponse)
    
+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 BadPropertyResponse)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

## PaymentTerm List [/ReferenceData/{TradingEntityId}/Physicals/PaymentTerm/{Property}/{PropertyValue}]


Codes used to describe terms of payment applied to physical contracts through to accounting
### List PaymentTerms [GET]
|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|PaymentTermId|Payment Term Code|`string`|8|||
|PaymentTermDescription|Payment Term Code Description|`string`|99|||
|DocumentText|Payment Term Document Text|`string`|8000|||
|EDICode|Payment Term EDI Code|`string`|20|||
|Status|Payment Term Status|`string`|1||`O` or `F`|
|NumberOfDaysCredit |Number of Days Credit|`number`||||


+ Request
    [AccessToken][]
    
+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity.
    + Property (optional, enum[string]) ... identify property name to filter by 
       + Members
            + Status (optional, string)
            + PaymentTermsId (optional, string) 
            + EDICode (optional, string)
    + PropertyValue (optional, string, `F`)

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (array[PaymentTerm])
        + Pagination (Pagination)
        + Response (200 SuccessResponse)
    
+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 BadPropertyResponse)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

## Port List [/ReferenceData/{TradingEntityId}/Physicals/Port/{Property}/{PropertyValue}]
Codes used to identify physical port locations.
### List Ports [GET]
|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|PortId|Port Code|`string`|8|||
|PortDescription|Port Code Description|`string`|60|||
|DocumentText|Port Document Text|`string`|4000|||
|CountryCode|Port Country Code|`string`|3|||
|EDICode|Port EDI Code|`string`|10|||
|Status|Port Status|`string`|1||`O` or `F`|

+ Request
    [AccessToken][]

+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity.
    + Property (optional, enum[string]) ... identify property name to filter by 
       + Members
            + Status (optional, string)
            + PortId (optional, string) 
            + CountryCode (optional, string)
    + PropertyValue (optional, string, `F`)

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (array [Port List])
        + Pagination (Pagination)
        + Response (200 SuccessResponse)
    
+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 BadPropertyResponse)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

## Sample List [/ReferenceData/{TradingEntityId}/Physicals/Sample/{Property}/{PropertyValue}]
Codes used to identify specific product qualities.
### List Samples [GET]

|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|SampleId|Sample Code|`string`|4|||
|SampleDescription|Sample Code Description|`string`|50|||
|DocumentText|Sample Document Text|`string`|4000|||
|NoOfCopiesRequired|Number of Copies Required|`number`||||


+ Request
    [AccessToken][]

+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity.
    + Property (optional, enum[string]) ... identify property name to filter by 
       + Members
            + SampleId (optional, string,) 
    + PropertyValue (optional, string, `abcd`)

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (array[Sample])
        + Pagination (Pagination)
        + Response (200 SuccessResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 BadPropertyResponse)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

## ShippingStatus List [/ReferenceData/{TradingEntityId}/Physicals/ShippingStatus/{Property}/{PropertyValue}]
Codes used to classify the status in terms of movement, useful for reporting purposes.
### List ShippingStatuses [GET]

|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|ShippingStatusId|Shipping Status Code|`string`|2|||
|ShippingStatusDescription|Shipping Status Code Description|`string`|50|||

+ Request
    [AccessToken][]

+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity.
    + Property (optional, enum[string]) ... identify property name to filter by 
       + Members
            + ShippingStatusId (optional, string,) 
    + PropertyValue (optional, string, `OR`)

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (array[ShippingStatus])
        + Pagination (Pagination)
        + Response (200 SuccessResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 BadPropertyResponse)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

## Terminal List [/ReferenceData/{TradingEntityId}/Physicals/Terminal/{Property}/{PropertyValue}]
Codes used to identify specific terminal location, useful for reporting purposes.
### List Terminals [GET]

|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|TerminalId|Terminal Code|`string`|4|||
|TerminalDescription|Terminal Code Description|`string`|50|||
|CountryId|Terminal Country Code|`string`|3|||


+ Request
    [AccessToken][]

+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity.
    + Property (optional, enum[string]) ... identify property name to filter by 
       + Members
            + TerminalId (optional, string) 
    + PropertyValue (optional, string, `ADEL`)

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (array[Terminal])
        + Pagination (Pagination)
        + Response (200 SuccessResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 BadPropertyResponse)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

## Vessel List [/ReferenceData/{TradingEntityId}/Physicals/Vessel/{Property}/{PropertyValue}]
List of Vessel names that can be applied as part of any physical logistics strategy
### List Vessels [GET]
|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|VesselId|Vessel Name|`string`|30|||
|VesselDescription|Vessel Description|`string`|50|||
|CountryCode|Vessel Country Code|`string`|3|||
|Status|Vessel Status|`string`|1||`O` or `F`|

+ Request
    [AccessToken][]

+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity.
    + Property (optional, enum[string]) ... identify property name to filter by 
       + Members
            + Status (optional, string)
            + VesselId (optional, string)
    + PropertyValue (optional, string, `F`)


+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (array [Vessel List])
        + Pagination (Pagination)
        + Response (200 SuccessResponse)
    
+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 BadPropertyResponse)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

## Weight List [/ReferenceData/{TradingEntityId}/Physicals/Weight/{Property}/{PropertyValue}]
Codes used to describe the units of measurement applied in physical contracts.
### List Weights [GET]

|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|WeightId|Weight Code|`string`|4|||
|WeightDescription|Weight Code Description|`string`|50|||
|DocumentText|Weight Document Text|`string`|4000|||
|DecimalPlacesPresentation|Number of Decimal Places|`number`||||
|ConversionFactorToKilos|Conversion Factor into Kilos|`number`|24,17|||
|EDICode|Weight EDI Code|`string`|50|||
|Status|Weight Status|`string`|1||`O` or `F`|

+ Request
    [AccessToken][]

+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity.
    + Property (optional, enum[string]) ... identify property name to filter by 
       + Members
            + WeightId (optional, string) 
            + EDICode (optional, string)
            + Status (optional, string)
    + PropertyValue (optional, string, `GA`)

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (array[Weight])
        + Pagination (Pagination)
        + Response (200 SuccessResponse)
    
+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 BadPropertyResponse)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)


# Group WIP Reference Data
WIP Ledger related reference data.

## Charter [/ReferenceData/{TradingEntityId}/WIPLedger/Charter/{CharterId}]
Charter profile – restricted by WIPAccountType of `C`.
### Read Charter [GET]



|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|CharterId|Charter Account Code|`string`|11||Required|
|CharterDescription|Charter Description|`string`|60|||
|Department|see <b><a href="/#reference/nominal-reference-data/department/department-list">Department</a></b> endpoint|`object`||||
|Commodity|see <b><a href="/#reference/physicals-reference-data/list-commodities">Commodies List</a></b> endpoint|`object`||||
|NominalAccount|Nominal Account delivered as an <b><a href="/#reference/data-object-definitions/accountheader">AccountHeader</a></b> object|`object`||||
|ShipmentStatus|see <b><a href="/#reference/physicals-reference-data/shippingstatus-list">ShippingStatus</a></b> endpoint|`object`||||
|VesselReference|Vessel Reference|`string`|30|||
|ShippingLine|Shipping Line delivered as an <b><a href="/#reference/data-object-definitions/accountheader">AccountHeader</a></b> object|`object`||||
|PrivilegeLevel|Charter Acccount Privilege Level|`number`|1||`0` to `9`|
|EDICode|Charter Account EDI Code|`string`|9|||
|Status|Charter Account Status|`string`|1||`O` or `F`|

+ Request
    [AccessToken][]
    
+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity. 
    + CharterId (required, string, `CHART01.000`) ... Code for charter to read.

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (Charter)
        + Response (200 SuccessResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 Response)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)


## Charter List [/ReferenceData/{TradingEntityId}/WipLedger/Charter/{Property}/{PropertyValue}]
List of charter profiles – restricted by WIPAccountType of `C`.
### List Charter [GET]


|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|CharterId|Charter Account Code|`string`|11|||
|CharterDescription|Charter Description|`string`|60|||
|DepartmentCode|Department Code|`string`|4|||
|CommodityFullCode|`Composite Key` delimited by double pipe "&#124;&#124;"|`string`|50|||
|NominalAccountCode|Nominal Account Code|`string`|9|||
|ShipmentStatusCode|Shipment Status Code|`string`|2|||
|VesselReference|Vessel Reference|`string`|30|||
|ShippingLineCode|Shipping Line Code|`string`|10|||
|PrivilegeLevel|Charter Account Privilege Level|`number`|1||`0` to `9`|
|EDICode|Charter Account EDI Code|`string`|9|||
|Status|Charter Account Status|`string`|1||`O` or `F`|


+ Request
    [AccessToken][]

+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity.
    + Property (optional, enum[string]) ... identify property name to filter by 
       + Members
            + CharterId (optional, string) 
            + ShipmentStatusCode (optional, string)
            + EDICode (optional, string)
            + Status (optional, string)
    + PropertyValue (optional, string, `CHART01.000`)

+ Response 200 (application/json; charset=utf-8)
    + Attributes (object)
        + Data (array [Charter List])
        + Pagination (Pagination)
        + Response (200 SuccessResponse)

    
+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 BadPropertyResponse)
    
+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)



## StockUnit [/ReferenceData/{TradingEntityId}/WipLedger/StockUnit/{StockUnitId}]
Stock Account profile - restricted by WIPAccountType of `S`.
### Read StockUnit [GET]

|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|StockUnitId|Stock Unit Account Code|`string`|11||Required|
|StockUnitDescription|Stock Unit Account Description|`string`|60|||
|Terminal|see <b><a href="/#reference/physicals-reference-data/terminal-list/list-terminals">Terminals List</a></b> endpoint|`object`||||
|Department|see <b><a href="/#reference/nominal-reference-data/department/department-list">Department</a></b> endpoint|`object`||||
|Commodity|see <b><a href="/#reference/physicals-reference-data/commodity-list/list-commodities">Commodity List</a></b> endpoint|`object`||||
|NominalAccount|Nominal Account delivered as an <b><a href="/#reference/data-object-definitions/accountheader">AccountHeader</a></b> object|`object`||||
|StockOwner|Stock Owner delivered as an <b><a href="/#reference/data-object-definitions/accountheader">AccountHeader</a></b> object|`object`||||
|ReleaseState|Release State|`number`||||
|CurrentStatus|Stock Unit Current Status|`number`||||
|PrivilegeLevel|Stock Unit Account Privilege Level|`number`|1||`0` to `9`|
|EDICode|Stock Unit Account EDI Code|`string`|9|||
|Status|Stock Unit Account Status|`string`|1||`O` or `F`|

+ Request
    [AccessToken][]
    
+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity. 
    + StockUnitId (required, string, `1111.MEP`) ... Code for stock unit to read.

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (StockUnit)
        + Response (200 SuccessResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 Response)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)


## StockUnit List [/ReferenceData/{TradingEntityId}/WipLedger/StockUnit/{Property}/{PropertyValue}]
Stock Account profile – restricted by WIPAccountType of `S`.
### List StockUnits [GET]

|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|StockUnitId|Stock Unit Account Code|`string`|11|||
|StockUnitDescription|Stock Unit Account Description|`string`|60|||
|TerminalCode|Terminal Code|`string`|4|||
|DepartmentCode|Department Code|`string`|4|||
|NominalAccountCode|Nominal Account Code|`string`|9|||
|CommodityCode|`Composite Key` delimited by double pipe "&#124;&#124;"|`string`|50|||
|StockOwnerCode|Stock Owner Account Code|`string`|50|||
|ReleaseState|Release State|`number`||||
|CurrentStatus|Stock Unit Current Status|`number`||||
|PrivilegeLevel|Stock Unit Account Privilege Level|`number`|1||`0` to `9`|
|EDICode|Stock Unit Account EDI Code|`string`|9|||
|Status|Stock Unit Account Status|`string`|1||`O` or `F`|

+ Request
    [AccessToken][]

+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity.
    + Property (optional, enum[string]) ... identify property name to filter by 
       + Members
            + StockUnitId (optional, string) 
            + TerminalCode (optional, string)
            + EDICode (optional, string)
            + Status (optional, string)
    + PropertyValue (optional, string, `1111.MEP`)

+ Response 200 (application/json; charset=utf-8)
    + Attributes
        + Data (array [StockUnitList])
        + Pagination (Pagination)
        + Response (200 SuccessResponse)
    
+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 BadPropertyResponse)
    
+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)



## WIP Account [/ReferenceData/{TradingEntityId}/WipLedger/WipAccount/{WipAccountId}]
Charter profile
### Read WIP Account [GET]


|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|WIPAccountId|WIP Account Code|`string`|11||Required|
|WIPAccountDescription|WIP Account Description|`string`|60|||
|WIPAccountType|WIP Account Type|`string`|1|||
|Department|see <b><a href="/#reference/nominal-reference-data/department/read-department">Department</a></b> object|`object`||||
|NominalAccount|see <b><a href="/#reference/data-object-definitions/accountheader">AccountHeader</a></b> object|`object`||||
|PrivilegeLevel|WIP Account Privilege Level|`number`|1||`0` to `9`|
|EDICode|WIP Account EDI Code|`string`|9|||
|Status|WIP Account Status|`string`|1||`O` or `F`|


+ Request
    [AccessToken][]
    
+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity. 
    + WipAccountId (required, string, `1111.MEP`) ... Code for WIP account to read.

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (WIPAccount)
        + Response (200 SuccessResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 Response)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)


## WIP Account List [/ReferenceData/{TradingEntityId}/WipLedger/WIPAccount/{Property}/{PropertyValue}]
List of charter profiles.
### List WIP Accounts [GET]


|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|WIPAccountId|WIP Account Code|`string`|11|||
|WIPAccountDescription|WIP Account Description|`string`|60|||
|WIPAccountType|WIP Account Type|`string`|1|||
|DepartmentCode|Department Code|`string`|4|||
|NominalAccountCode|Nominal Account Code|`string`|9|||
|PrivilegeLevel|WIP Account Privilege Level|`number`|1||`0` to `9`|
|EDICode|WIP Account EDI Code|`string`|9|||
|Status|WIP Account Status|`string`|1||`O` or `F`|



+ Request
    [AccessToken][]

+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity.
    + Property (optional, enum[string]) ... identify property name to filter by 
       + Members
            + WIPAccountId (optional, string) 
            + WIPAccountType (optional, string)
            + EDICode (optional, string)
            + Status (optional, string)
    + PropertyValue (optional, string, `1111.MEP`)

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (array[WIPAccount List])
        + Pagination (Pagination)
        + Response (200 SuccessResponse)
    
+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 BadPropertyResponse)
    
+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)


# Group Accounting-Transactions
Data Objects and endpoints providing access to accounting transactions generated through ITAS processes.

## Posted Transaction [/Accounting/{TradingEntityId}/Transaction/PostedTransaction/{DocumentReference}]
Provides access to full accounting ledger by Document Reference.
### Read Posted Transaction [GET]


|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|DocumentReference|Document Reference Code|`string`|9||Required|
|AccountLedgerType|Account Ledger Type Code|`string`|1||`C`, `N` or `K`|
|TransactionKey|`Composite Key` delimited by double pipe "&#124;&#124;"|`string`|50|filter||
|Account|see <b><a href="/#reference/data-object-definitions/accountheader">AccountHeader</a></b> object|`object`||||
|DocumentCurrency|see <b><a href="/#reference/global-reference-data/currency-list/list-currencies">Currency</a></b> endpoint|`object`||||
|AccountingPeriod|Transaction Accounting Period|`number`||||
|PostingDate|Transaction Posting Date|`number`||||
|PostingTime|Transaction Posting Time|`number`||||
|DocumentDate|Transaction Document Date|`datetime`||||
|ValueDate|Transaction Value Date|`datetime`||||
|FunctionalCurrency|see <b><a href="/#reference/global-reference-data/currency-list/list-currencies">Currency</a></b> endpoint|`object`||||
|AmountInDocumentCurrency|Transaction Amount in Document Currency|`number`||||
|AmountInFunctionalCurrency|Transaction Amount in Functional Currency|`number`||||
|AmountInLocalCurrency|Transaction Amount in Local Currency|`number`||||
|RateOfExchangeApplied|Transaction Rate of Exchange Applied|`number`|18,8|||
|RateOfExchangeType|Transaction Rate of Exchange Type Code|`string`|1||`M` or `D`|
|WeightInQtyCode|Weight in Quantity Code|`number`||||
|ContractReference|Contract Reference Code|`string`|10|||
|Expense|see <b><a href="/#reference/nominal-reference-data/expense-list/list-expenses">Expense</a></b> endpoint|`object`||||
|Department|see <b><a href="/#reference/nominal-reference-data/department">Department</a></b> endpoint|`object`||||
|PaymentTerm|see <b><a href="/#reference/physicals-reference-data/paymentterm-list">PaymentTerm</a></b> endpoint|`object`||||
|VatRate|see <b><a href="/#reference/nominal-reference-data/vat-rate-list">VATRate</a></b> endpoint|`object`||||
|ClientReference|Client Reference|`string`|25|||
|Narrative|Narrative|`string`|30|||
|MarketReference|Market Reference|`string`|8|||
|PromptMonth|Transaction Prompt Month|`number`||||
|OptionType|Transaction Option Type Code|`string`|1||`C`, `P` or `''`|
|CommodityReference|Transaction Commodity Reference|`string`|15|||
|TransactionIsMatched|Is Transaction Matched|`boolean`||||
|PreMatchDocumentReference|Pre Matched Document Reference Code|`string`|9|||


+ Request
    [AccessToken][]
    
+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity. 
    + DocumentReference (required, string, `PI1500000`) ... Code for posted transaction to read.

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (array [PostedTransaction])
        + Pagination (Pagination)
        + Response (200 SuccessResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 Response)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)



## UnPosted Transaction [/Accounting/{TradingEntityId}/Transaction/UnPostedTransaction/{DocumentReference}]
Provides access to financial transaction details yet to be posted to the ledgers (either held-authorised or not authorised) by Document Reference.
### Read Unposted Transaction [GET]


|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|DocumentReference|Transaction Document Reference|`string`|9||Required|
|AccountLedgerType|Account Ledger Type Code|`string`|1||`C`, `N` or `K`|
|DocumentDate|Transaction Document Date|`datetime`||||
|ValueDate|Transaction Value Date|`datetime`||||
|Account|see <b><a href="/#reference/data-object-definitions/accountheader">AccountHeader</a></b> object|`object`||||
|Currency|see <b><a href="/#reference/global-reference-data/currency-list/list-currencies">Currency</a></b> endpoint|`object`||||
|AmountInDocumentCurrency|Transaction Amount in Document Currency|`number`||||
|FunctionalCurrency|see <b><a href="/#reference/global-reference-data/currency-list/list-currencies">Currency</a></b> endpoint|`object`||||
|AmountInFunctionalCurrency|Transaction Amount in Functional Currency|`number`||||
|AmountInLocalCurrency|Transaction Account in Local Currency|`number`||||
|RateOfExchangeApplied|Transaction Rate of Exchange Applied|`number`|18,8|||
|RateOfExchangeType|Transaction Rate of Exchange Type Code|`string`|1||`M` or `D`|
|WeightInQtyCode|Weight in Quantity Code|`number`||||
|ContractReference|Contract Reference Code|`string`|10|||
|Expense|see <b><a href="/#reference/nominal-reference-data/expense-list/list-expenses">Expense</a></b> endpoint|`object`||||
|Department|see <b><a href="/#reference/nominal-reference-data/department">Department</a></b> endpoint|`object`||||
|PaymentTerm|see <b><a href="/#reference/physicals-reference-data/paymentterm-list">PaymentTerm</a></b> endpoint|`object`||||
|VatRate|see <b><a href="/#reference/nominal-reference-data/vat-rate-list">VATRate</a></b> endpoint|`object`||||
|ClientReference|Client Reference|`string`|25|||
|Narrative|Narrative|`string`|30|||
|MarketReference|Market Referece|`string`|8|||
|PromptMonth|Transaction Prompt Month|`number`||||
|OptionType|Transaction Option Type|`string`|1||`C`, `P` or `''`|
|CommodityReference|Transaction Commodity Reference|`string`|15|||


+ Request
    [AccessToken][]
    
+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity.  
    + DocumentReference (required, string, `CN1600001`) ... Code for unposted transaction to read.

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (array [UnPostedTransaction])
        + Pagination (Pagination)
        + Response (200 SuccessResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 Response)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)



## Transaction Header [/Accounting/{TradingEntityId}/Transaction/TransactionHeader/{DocumentReference}]
Document summary information including properties specific to integration requirements.          
<div>Note: If the fields PostedDate or DocumentDate are included, they will not be updated as they are not supported for update.</div>
### Update Transaction Header [PUT]


|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|DocumentReference|Transaction Document Reference|`string`|9||Required|
|EDICode|Transaction EDI Code|`string`|25|||
|InterfaceStatus|Transaction Interface Status|`string`|1|||
|DocumentReversed|Document Reversed Reference|`string`|9|||
|AssociateDocument|Associate Document Reference|`string`|9|||

+ Request (application/json)
    + Header

            AccessToken: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1bmlxdWVfbmFtZSI6ImRlZXBhayIsInN1YiI6ImRlZXBhayIsInJvbGUiOlsiNzk5YjhhNDEtYWI0ZS00MTBhLWI5MTktYzU3ZWFlMmFlMDI5IiwiZGVlcGFrIiwiQVNQLk5FVCBJZGVudGl0eSIsIjViNDE4ODE2LTI3ZjQtNGRlOC1iNmMyLTJlZTcxNjI3ZmJmYyIsIkFkbWluIiwiU3VwZXJBZG1pbiJdLCJpc3MiOiJodHRwOi8vbG9jYWxob3N0OjgwMjciLCJhdWQiOiI4MjkzNjk0MjJmNzA0NTIzODUxZDk4NTU2YjZkNTQyYiIsImV4cCI6MTQ1OTQzMjk0MSwibmJmIjoxNDU5NDMxMTQxfQ.JgPGxt0Ok5baKx0YMXlO6D9kUYrCWM-Kma9b9iMW8tg

    + Attributes (TransactionHeader)
    
+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity.  
    + DocumentReference (required, string, `CN1600001`) ... Code for transaction header to update.

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data
            + DocumentReference: CN1600001 (string)
        + Response (200 UpdateResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 Response)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

### Delta Update Transaction Header [PATCH]


|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|DocumentReference|Transaction Document Reference|`string`|9||Required|
|EDICode|Transaction EDI Code|`string`|25|||
|InterfaceStatus|Transaction Interface Status|`string`|1|||
|DocumentReversed|Document Reversed Reference|`string`|9|||
|AssociateDocument|Associate Document Reference|`string`|9|||

+ Request (application/json)
    + Header

            AccessToken: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1bmlxdWVfbmFtZSI6ImRlZXBhayIsInN1YiI6ImRlZXBhayIsInJvbGUiOlsiNzk5YjhhNDEtYWI0ZS00MTBhLWI5MTktYzU3ZWFlMmFlMDI5IiwiZGVlcGFrIiwiQVNQLk5FVCBJZGVudGl0eSIsIjViNDE4ODE2LTI3ZjQtNGRlOC1iNmMyLTJlZTcxNjI3ZmJmYyIsIkFkbWluIiwiU3VwZXJBZG1pbiJdLCJpc3MiOiJodHRwOi8vbG9jYWxob3N0OjgwMjciLCJhdWQiOiI4MjkzNjk0MjJmNzA0NTIzODUxZDk4NTU2YjZkNTQyYiIsImV4cCI6MTQ1OTQzMjk0MSwibmJmIjoxNDU5NDMxMTQxfQ.JgPGxt0Ok5baKx0YMXlO6D9kUYrCWM-Kma9b9iMW8tg

    + Attributes (TransactionHeaderDelta)

+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity. 
    + DocumentReference (required, string, `CN1600001`) ... Code for transaction header to update.

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data
            + DocumentReference: CN1600001 (string)
        + Response (200 UpdateResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 Response)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

## Transaction Header List [/Accounting/{TradingEntityId}/Transaction/TransactionHeader/{Property}/{PropertyValue}]
Document summary information including properties specific to integration requirements.
### List Transaction Headers [GET]


|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|PostedDate|Transaction Posted Date|`datetime`||||
|DocumentDate|Transaction Docuement Date|`datetime`||||
|DocumentReference|Transaction Document Reference|`string`|9||Required|
|EDICode|Document EDI Code|`string`|25|||
|InterfaceStatus|Transaction Interface Status|`string`|1|||
|DocumentReversed|Document Reversed Reference|`string`|9|||
|AssociateDocument|Associate Document Reference|`string`|9|||

+ Request
    [AccessToken][]

+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity. 
    + Property (optional, enum[string])  
       + Members
            + DocumentReference (optional, string) 
            + EDICode (optional, string)
    + PropertyValue (optional, string, `CN1600001`)

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (array [TransactionHeader List])
        + Pagination (Pagination)
        + Response (200 SuccessResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 Response)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)


# Group Contract-Physical

## Physical Trade [/Contract/{TradingEntityId}/Physical/PhysicalTrade/{ContractId}]
Principle Physical Contract (agreement) details
### Read Physical Trade  [GET]


|property|description|type|max length|notes|constraint|
|--------|-----------|----|----------|-----|----------|
|ContractId|Contract Code|`string`|10||Required|
|ContractType|Contract Type Code|`string`|1||`P` or `S`|
|ContractDate|Contract Date|`datetime`||||
|Department|see <b><a href="/#reference/nominal-reference-data/department">Department</a></b> endpoint|`object`||||
|Trader|see <b><a href="/#reference/global-reference-data/useraccount-list">UserAccount List</a></b> endpoint|`object`||||
|ClientReference|Client Reference|`string`|40|||
|Buyer|see <b><a href="/#reference/data-object-definitions">Account Header</a></b> object|`object`||||
|Seller|see <b><a href="/#reference/data-object-definitions">Account Header</a></b> object|`object`||||
|Counterparty|see <b><a href="/#reference/data-object-definitions">Account Header</a></b> object|`object`||||
|Commodity|see <b><a href="/#reference/physicals-reference-data/commodity-list/list-commodities">Commodity List</a></b> endpoint|`object`||||
|PaymentTerm|see <b><a href="/#reference/physicals-reference-data/paymentterm-list/list-paymentterms">PaymentTerm List</a></b> endpoint|`object`||||
|ContractTerm|see <b><a href="/#reference/physicals-reference-data/contract-term-list/list-contractterms">ContractTerm List</a></b> endpoint|`object`||||
|ContractTermPort|see <b><a href="/#reference/physicals-reference-data/port-list/list-ports">Port List</a></b> endpoint|`object`||||
|UnitOfMeasurement|see <b><a href="/#reference/physicals-reference-data/weight-list/list-weights">Weight List</a></b> endpoint|`object`||||
|OriginalContractQuantity|Original Contract Quantity|`number`||||
|CurrentContractQuantity|Current Contract Quantity|`number`||||
|ContractStatus|Contract Status|`string`|1||`O`, `C` or `Q`|
|ContractApproved|Is Contract Approved|`boolean`||||


+ Request
    [AccessToken][]
    
+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity. 
    + ContractId (required, string, `P00004.000`) ... Code for physical trade to read.

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (PhysicalTrade)
        + Response (200 SuccessResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 Response)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

## Physical Trade List [/Contract/{TradingEntityId}/Physical/PhysicalTrade/{Property}/{PropertyValue}]
List of Principle Physical Contracts (agreements)
### List Physical Trades  [GET]


|property|description|type|max length|notes|constraint|
|-------|-----------|----|----------|-----|----------|
|ContractId|phys01_contract|`string`|10|filter|`KEY`|
|ContractType|phys01_contype|`string`|1||‘P’, ‘S’|
|ContractDate|phys01_condate|`datetime`||||
|DepartmentCode|phys01_dept|`string`|4|filter||
|TraderCode|phys01_trader|`string`|3|filter||
|ClientReference|phys01_clref|`string`|40|||
|BuyerAccountCode|phys01_buyer|`string`|10|||
|SellerAccountCode|phys01_seller|`string`|10|||
|CounterpartyCode|phys01_counterparty|`string`|10|filter||
|CommodityCode| phys01_commod, phys01_origin, phys01_grade, phys01_cmycode4, phys01_cmycode5|`string`|50||`Composite Key` delimited by double pipe "&#124;&#124;"|
|PaymentTermCode|phys01_payterms|`string`|8|||
|ContractTermCode|phys01_conterms|`string`|8|||
|ContractTermPortCode|phys01_contermsport|`string`|8|||
|UnitOfMeasurementCode|phys01_wtcode|`string`|4|||
|OriginalContractQuantity|phys01_origquan|`number`||||
|CurrentContractQuantity|phys01_conquan|`number`||||
|ContractStatus|phys01_status|`string`|1|filter|‘O’, ‘C’, ‘Q’|
|ContractApproved|phys01_approved|`boolean`|1|filter||



+ Request
    [AccessToken][]

+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity. 
    + Property (optional, enum[string])  
       + Members
            + ContractId (optional, string) 
            + DepartmentCode (optional, string)
            + TraderCode (optional, string)
            + CounterpartyCode (optional, string)
            + ContractStatus (optional, string)
            + ContractApproved (optional, string)
    + PropertyValue (optional, string, `P00004.000`)

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (array [PhysicalTrade List])
        + Pagination (Pagination)
        + Response (200 SuccessResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 Response)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

## Physical Trade Commission [/Contract/{TradingEntityId}/Physical/PhysicalTradeCommission/{ContractId}]
Broker commissions held against Physical Contracts.
### Read Physical Trade Commission [GET]


|property|description|type|max length|notes|constraint|
|--------|-----------|----|----------|-----|----------|
|ContractId|phys02_contract|`string`|10|||
|AgentAccount|phys02_agent|`object`|10|||
|AgentReference|phys02_agref|`string`|40|||

+ Request
    [AccessToken][]
    
+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity. 
    + ContractId (required, string, `P00004.000`) ... Code for physical trade commission to read.

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (PhysicalTradeCommission)
        + Response (200 SuccessResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 Response)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

## Physical Trade Commissions List [/Contract/{TradingEntityId}/Physical/PhysicalTradeCommission/{Property}/{PropertyValue}]
List of Broker commissions held against Physical Contracts.
### List Physical Trade Commissions [GET]


|property|description|type|max length|notes|constraint|
|--------|-----------|----|----------|-----|----------|
|ContractId|phys02_contract|`string`|10|||
|AgentAccountCode|phys02_agent|`string`|10|||
|AgentReference|phys02_agref|`string`|40|||

+ Request
    [AccessToken][]

+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity. 
    + Property (optional, enum[string])  
       + Members
            + ContractId (optional, string) 
            + AgentAccountCode (optional, string)
    + PropertyValue (optional, string, `P00004.000`)

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (array [PhysicalTradeCommission List])
        + Pagination (Pagination)
        + Response (200 SuccessResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 Response)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

## Physical Trade Shipments List [/Contract/{TradingEntityId}/Physical/PhysicalTradeShipment/{Property}/{PropertyValue}]
List of Logistics information for Physical Contracts.
### List Physical Trade Shipment [GET]
`Updated` in release 2.5

|property|description|type|max length|notes|constraint|
|--------|-----------|----|----------|-----|----------|
|ContractId|phys01_contract|`string`|10|||
|VesselReference|phys01_vessel|`string`|30|||
|BillOfLadingDate|phys01_bldate|`datetime`||||
|BillOfLadingReference|phys01_blref|`string`|255|||
|DocumentsAcknowledged|phys01_docsrec|`boolean`||`new`||
|DocumentsAcknowledgedDate |phys01_docsrecdate|`datetime`||`new`||


+ Request
    [AccessToken][]

+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity. 
    + Property (optional, enum[string])  
       + Members
            + ContractId (optional, string) 
            + VesselReference (optional, string)
    + PropertyValue (optional, string, `P00004.000`)

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (array [PhysicalTradeShipment List])
        + Pagination (Pagination)
        + Response (200 SuccessResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 Response)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

# Group Finance-Cash
Data Objects and endpoints providing access to cash create, match and authorisation functionality.

## AuthoriseForPosting [/Finance/{TradingEntityId}/Cash/AuthoriseForPosting/{DocumentReference}]
Authorise an entity to be added to the Posting process.
### AuthoriseForPosting [PUT]


<strong>URI Parameters</strong>


|property|description|type|max length|notes|constraint|
|--------|-----------|----|----------|-----|----------|
|DocumentReference|dhl21_docref|`string`|9|`required'||

<strong>Body Parameters</strong>
<br />
None.

+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity. 
    + DocumentReference (required, string, `CP1515151`)

+ Request (application/json)
    + Header

            AccessToken: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1bmlxdWVfbmFtZSI6ImRlZXBhayIsInN1YiI6ImRlZXBhayIsInJvbGUiOlsiNzk5YjhhNDEtYWI0ZS00MTBhLWI5MTktYzU3ZWFlMmFlMDI5IiwiZGVlcGFrIiwiQVNQLk5FVCBJZGVudGl0eSIsIjViNDE4ODE2LTI3ZjQtNGRlOC1iNmMyLTJlZTcxNjI3ZmJmYyIsIkFkbWluIiwiU3VwZXJBZG1pbiJdLCJpc3MiOiJodHRwOi8vbG9jYWxob3N0OjgwMjciLCJhdWQiOiI4MjkzNjk0MjJmNzA0NTIzODUxZDk4NTU2YjZkNTQyYiIsImV4cCI6MTQ1OTQzMjk0MSwibmJmIjoxNDU5NDMxMTQxfQ.JgPGxt0Ok5baKx0YMXlO6D9kUYrCWM-Kma9b9iMW8tg

    + Body 
    
            {
                none
            }



+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data
            + DocumentReference: CP1515151 (string)
        + Response (200 AuthoriseResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 Response)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

## PayableManual [/Finance/{TradingEntityId}/Cash/PayableManual]
Allows generic cash payments to be created between multiple accounts  
### Create PayableManual [POST]


|property|description|type|max length|notes|constraint|
|--------|-----------|----|----------|-----|----------|
|DocumentBody||`object`||see <a href="/#reference/data-object-definitions/documentdetails/documentdetails">Document Details</a> object|`required`|
|AccountDetails||[array] of `object`||see <a href="/#reference/data-object-definitions/accountpostingdetails/accountpostingdetails">Account Posting Details</a> object|`required`|

+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity. 

+ Request (application/json)
    + Header

            AccessToken: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1bmlxdWVfbmFtZSI6ImRlZXBhayIsInN1YiI6ImRlZXBhayIsInJvbGUiOlsiNzk5YjhhNDEtYWI0ZS00MTBhLWI5MTktYzU3ZWFlMmFlMDI5IiwiZGVlcGFrIiwiQVNQLk5FVCBJZGVudGl0eSIsIjViNDE4ODE2LTI3ZjQtNGRlOC1iNmMyLTJlZTcxNjI3ZmJmYyIsIkFkbWluIiwiU3VwZXJBZG1pbiJdLCJpc3MiOiJodHRwOi8vbG9jYWxob3N0OjgwMjciLCJhdWQiOiI4MjkzNjk0MjJmNzA0NTIzODUxZDk4NTU2YjZkNTQyYiIsImV4cCI6MTQ1OTQzMjk0MSwibmJmIjoxNDU5NDMxMTQxfQ.JgPGxt0Ok5baKx0YMXlO6D9kUYrCWM-Kma9b9iMW8tg

    + Attributes (PayableReceivableManual)

+ Response 201 (application/json; charset=utf-8)
    + Attributes 
        + Data (CashDocRefResponse)
        + Response (201 CreateResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 Response)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

## PayableOnAccount [/Finance/{TradingEntityId}/Cash/PayableOnAccount]
Allows cash payments to be created on account of existing (posted) accounting documents (e.g. Purchase Invoices) 
### Create PayableOnAccount [POST]


|property|description|type|max length|notes|constraint|
|--------|-----------|----|----------|-----|----------|
|DocumentBody||`object`||see <a href="/#reference/data-object-definitions/documentdetails/documentdetails">Document Details</a> object|`required`|
|BankDetails||`object`||see <a href="/#reference/data-object-definitions/accountpostingdetails/accountpostingdetails">Account Posting Details</a> object|`required`|
|TransactionsToMatch||[array] of `object`||see <a href="/#reference/data-object-definitions/onaccountdetails/onaccountdetails">On Account Details</a> object|`required`|
|OtherCosts||[array] of `object`||see <a href="/#reference/data-object-definitions/accountpostingdetails/accountpostingdetails">Account Posting Details</a> object||


+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity. 

+ Request (application/json)
    + Header

            AccessToken: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1bmlxdWVfbmFtZSI6ImRlZXBhayIsInN1YiI6ImRlZXBhayIsInJvbGUiOlsiNzk5YjhhNDEtYWI0ZS00MTBhLWI5MTktYzU3ZWFlMmFlMDI5IiwiZGVlcGFrIiwiQVNQLk5FVCBJZGVudGl0eSIsIjViNDE4ODE2LTI3ZjQtNGRlOC1iNmMyLTJlZTcxNjI3ZmJmYyIsIkFkbWluIiwiU3VwZXJBZG1pbiJdLCJpc3MiOiJodHRwOi8vbG9jYWxob3N0OjgwMjciLCJhdWQiOiI4MjkzNjk0MjJmNzA0NTIzODUxZDk4NTU2YjZkNTQyYiIsImV4cCI6MTQ1OTQzMjk0MSwibmJmIjoxNDU5NDMxMTQxfQ.JgPGxt0Ok5baKx0YMXlO6D9kUYrCWM-Kma9b9iMW8tg

    + Attributes (PayableReceivableOnAccount)

+ Response 201 (application/json; charset=utf-8)
    + Attributes 
        + Data (CashDocRefResponse)
        + Response (201 CreateResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 Response)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)


## ReceivableManual [/Finance/{TradingEntityId}/Cash/ReceivableManual]
Allows generic cash receipts to be created between multiple accounts  
### Create ReceivableManual [POST]


|property|description|type|max length|notes|constraint|
|--------|-----------|----|----------|-----|----------|
|DocumentBody||`object`||see <a href="/#reference/data-object-definitions/documentdetails/documentdetails">Document Details</a> object|`required`|
|AccountDetails||[array] of `object`||see <a href="/#reference/data-object-definitions/accountpostingdetails/accountpostingdetails">Account Posting Details</a> object|`required`|

+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity. 

+ Request (application/json)
    + Header

            AccessToken: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1bmlxdWVfbmFtZSI6ImRlZXBhayIsInN1YiI6ImRlZXBhayIsInJvbGUiOlsiNzk5YjhhNDEtYWI0ZS00MTBhLWI5MTktYzU3ZWFlMmFlMDI5IiwiZGVlcGFrIiwiQVNQLk5FVCBJZGVudGl0eSIsIjViNDE4ODE2LTI3ZjQtNGRlOC1iNmMyLTJlZTcxNjI3ZmJmYyIsIkFkbWluIiwiU3VwZXJBZG1pbiJdLCJpc3MiOiJodHRwOi8vbG9jYWxob3N0OjgwMjciLCJhdWQiOiI4MjkzNjk0MjJmNzA0NTIzODUxZDk4NTU2YjZkNTQyYiIsImV4cCI6MTQ1OTQzMjk0MSwibmJmIjoxNDU5NDMxMTQxfQ.JgPGxt0Ok5baKx0YMXlO6D9kUYrCWM-Kma9b9iMW8tg

    + Attributes (PayableReceivableManual)

+ Response 201 (application/json; charset=utf-8)
    + Attributes 
        + Data (CashDocRefResponse)
        + Response (201 CreateResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 Response)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)


## ReceivableOnAccount [/Finance/{TradingEntityId}/Cash/ReceivableOnAccount]
Allows cash receipts to be created on account of existing (posted) accounting documents (e.g. Sales Invoices) 
### Create ReceivableOnAccount [POST]


|property|description|type|max length|notes|constraint|
|--------|-----------|----|----------|-----|----------|
|DocumentBody||`object`||see <a href="/#reference/data-object-definitions/documentdetails/documentdetails">Document Details</a> object|`required`|
|BankDetails||`object`||see <a href="/#reference/data-object-definitions/accountpostingdetails/accountpostingdetails">Account Posting Details</a> object|`required`|
|TransactionsToMatch||[array] of `object`||see <a href="/#reference/data-object-definitions/onaccountdetails/onaccountdetails">On Account Details</a> object|`required`|
|OtherCosts||[array] of `object`||see <a href="/#reference/data-object-definitions/accountpostingdetails/accountpostingdetails">Account Posting Details</a> object||


+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity. 

+ Request (application/json)
    + Header

            AccessToken: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1bmlxdWVfbmFtZSI6ImRlZXBhayIsInN1YiI6ImRlZXBhayIsInJvbGUiOlsiNzk5YjhhNDEtYWI0ZS00MTBhLWI5MTktYzU3ZWFlMmFlMDI5IiwiZGVlcGFrIiwiQVNQLk5FVCBJZGVudGl0eSIsIjViNDE4ODE2LTI3ZjQtNGRlOC1iNmMyLTJlZTcxNjI3ZmJmYyIsIkFkbWluIiwiU3VwZXJBZG1pbiJdLCJpc3MiOiJodHRwOi8vbG9jYWxob3N0OjgwMjciLCJhdWQiOiI4MjkzNjk0MjJmNzA0NTIzODUxZDk4NTU2YjZkNTQyYiIsImV4cCI6MTQ1OTQzMjk0MSwibmJmIjoxNDU5NDMxMTQxfQ.JgPGxt0Ok5baKx0YMXlO6D9kUYrCWM-Kma9b9iMW8tg

    + Attributes (PayableReceivableOnAccount)

+ Response 201 (application/json; charset=utf-8)
    + Attributes 
        + Data (CashDocRefResponse)
        + Response (201 CreateResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 Response)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)



# Group Inventory-Physicals-Order Scheduling
Production Order scheduling services.

## DeliveryInOrder [/Inventory/{TradingEntityId}/Physicals/OrderScheduling/DeliveryInOrder/{ReleaseId}]
Orders (CallOffs) specifically representing incoming goods.
### Read DeliveryInOrder [GET]

|property|description|type|max length|notes|constraint|
|--------|-----------|----|----------|-----|----------|
|ReleaseId|phys09_releasenr|`number`|0|||
|ExpedOrderDetails||`object`||see <a href="/#reference/inventory-physicals-order-scheduling/expedcalloff">ExpedCallOff</a> endpoint||
|PumpingMemo|phys09_pumpmemo|`string`|250|||
|ProcessComplete|phys09_processed|`boolean`|1|||
|TargetStockUnitCode||`object`||see <a href="/#reference/wip-reference-data/stockunit">StockUnit</a> endpoint||


+ Request
    [AccessToken][]
    
+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity. 
    + ReleaseId (required, number, `12345`)

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (DeliveryInOrder)
        + Response (200 SuccessResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 Response)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

## DeliveryOutOrder [/Inventory/{TradingEntityId}/Physicals/OrderScheduling/DeliveryOutOrder/{ReleaseId}]
Orders (CallOffs) specifically representing outgoing goods.
### Read DeliveryOutOrder [GET]

|property|description|type|max length|notes|constraint|
|--------|-----------|----|----------|-----|----------|
|ReleaseId|phys09_releasenr|`number`|0|||
|ExpedOrderDetails||`object`||see <a href="/#reference/inventory-physicals-order-scheduling/expedcalloff">ExpedCallOff</a> endpoint||
|PumpingMemo|phys09_pumpmemo|`string`|250|||
|ProcessComplete|phys09_processed|`boolean`|1|||
|SourceStockUnitCode||`[object]`|array of StockLoading objects|see <a href="/#reference/inventory-physicals-stock-processing/stockloading">StockLoading</a> endpoint||

+ Request
    [AccessToken][]
    
+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity. 
    + ReleaseId (required, number, `12345`)

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (DeliveryOutOrder)
        + Response (200 SuccessResponse)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

## ExpedCallOff [/Inventory/{TradingEntityId}/Physicals/OrderScheduling/ExpedCallOff/{ReleaseId}]
Orders (CallOffs) generated through EXPED
### Read ExpedCallOffs [GET]

|property|description|type|max length|notes|constraint|
|--------|-----------|----|----------|-----|----------|
|ReleaseId|phys01_releasenr|`number`||||
|ContractType|phys01_contype|`string`|1|||
|ContractDate|phys01_condate|`number`||DateTime||
|DeliveryDate|phys01_startper|`number`||DateTime||
|Department||`object`||see <a href="/#reference/nominal-reference-data/departments">Departments List</a> endpoint||
|Counterparty||`object`||see <a href="/#reference/data-object-definitions/read-expedcalloffss">Account Header</a> object||
|Memorandum|phys01_memo|`string`|4000|||
|InternalMemo|phys01_memo2|`string`|4000|||
|OrderStatus||`object`||see <a href="/#reference/physicals-reference-data/shippingstatus-list">Shipping Status</a> endpoint||
|<strong>References</strong>|
|ContractReference|phys01_contract|`string`|10|||
|ClientReference|phys01_clref|`string`|40|||
|BuyerOrderNumber|phys01_buyerorderno|`string`|40|||
|BuyerSecondaryReference|phys01_buyersecref|`string`|40|||
|DeliveryClientOrderNumber|phys01_delorderno|`string`|40|||
|DeliveryClientSecondaryReference|phys01_delsecref|`string`|40|||
|<strong>GoodsDetails</strong>|
|Terminal||`object`||see <a href="/#reference/physicals-reference-data/terminal-list">Terminals List</a> endpoint||
|Commodity||`object`||see <a href="/#reference/physicals-reference-data/commodity-list">Commodies List</a> endpoint||
|Sample||`object`||see <a href="/#reference/physicals-reference-data/sample-list">Samples List</a> endpoint||
|UnitOfMeasurement||`object`||see <a href="/#reference/physicals-reference-data/weight-list">Weights List</a> endpoint||
|Quantity|phys01_conquan|`number`||||
|PackingType||`object`||see <a href="/#reference/physicals-reference-data/packingtype-list">PackingType List</a> endpoint||
|<strong>TransportDetails</strong>|
|DeliveryClient||`object`||see <a href="/#reference/data-object-definitions/accountheader">Account Header</a> object||
|Haulier||`object`||see <a href="/#reference/data-object-definitions/accountheader">Account Header</a> object||
|Expeditor||`object`||see <a href="/#reference/data-object-definitions/accountheader">Account Header</a> object||
|VehicleReference|phys01_vehicle|`string`|4|||
|VehicleRegistration|phys01_vehiclereg|`string`|50|||
|TrailerRegistration|phys01_trailerplate|`string`|50|||
|EarlyLoadAllowed|phys01_earlyload|`boolean`|1|||
|MaxLoadWeight|phys01_maxloadwt|`number`||||

+ Request
    [AccessToken][]
    
+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity. 
    + ReleaseId (required, string, `123`)

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (ExpedCallOff)
        + Response (200 SuccessResponse)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

## ExpedCallOff List [/Inventory/{TradingEntityId}/Physicals/OrderScheduling/ExpedCallOff/{Property}/{PropertyValue}]
Orders (CallOffs) generated through EXPED
### List ExpedCallOff [GET]

|property|description|type|max length|notes|constraint|
|--------|-----------|----|----------|-----|----------|
|ReleaseId|phys01_releasenr|`number`||||
|ContractType|phys01_contype|`string`|1|||
|ContractDate|phys01_condate|`number`||DateTime||
|DeliveryDate|phys01_startper|`number`||DateTime||
|DepartmentCode|phys01_dept|`string`|4|||
|CounterpartyCode|phys01_counterparty|`string`|10|||  
|Memorandum|phys01_memo|`string`|4000|||
|InternalMemo|phys01_memo2|`string`|4000|||
|OrderStatusCode|phys01_afi|`string`|2|||
|ContractReference|phys01_contract|`string`|10|||
|ClientReference|phys01_clref|`string`|40|||
|BuyerOrderNumber|phys01_buyerorderno|`string`|40|||
|BuyerSecondaryReference|phys01_buyersecref|`string`|40|||
|DeliveryClientOrderNumber|phys01_delorderno|`string`|40|||
|DeliveryClientSecondaryReference|phys01_delsecref|`string`|40|||
|TerminalCode|phys01_terminal|`string`|4|||
|CommodityFullCode|phys01_commod|`string`|3|||
|SampleCode|phys01_samplecode|`string`|4|||
|UnitOfMeasurementCode|phys01_wtcode|`string`|4|||
|Quantity|phys01_conquan|`number`||||
|PackingTypeCode|phys01_packcode|`string`|4|||
|DeliveryClientCode|phys01_delclient|`string`|10|||
|HaulierCode|phys01_haulageacc|`string`|10|||
|ExpeditorCode|phys01_expeditor|`string`|10|||
|VehicleReference|phys01_vehicle|`string`|4|||
|VehicleRegistration|phys01_vehiclereg|`string`|50|||
|TrailerRegistration|phys01_trailerplate|`string`|50|||
|EarlyLoadAllowed|phys01_earlyload|`boolean`|1|||
|MaxLoadWeight|phys01_maxloadwt|`number`||||

+ Request
    [AccessToken][]
    
+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity. 
    + Property (optional, enum[string]) ... identify property name to filter by 
       + Members
            + ReleaseId 
            + DepartmentId
            + CounterpartyId
            + ContractReference
            + TerminaId
    + PropertyValue (optional, string, `12345`) ... required if property specified.

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (array [ExpedCallOff List])
        + Pagination (Pagination)
        + Response (200 SuccessResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 BadPropertyResponse)
    
+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

## StockToStockOrder [/Inventory/{TradingEntityId}/Physicals/OrderScheduling/StockToStockOrder/{ReleaseId}]
Orders specifically representing movements of goods between Stock Units (aka Manufacturing Orders).
### Read StockToStockOrder [GET]

|property|description|type|max length|notes|constraint|
|--------|-----------|----|----------|-----|----------|
|ReleaseId|phys09_releasenr|`number`||||
|TargetStockUnitCode||`object`||see <a href="/#reference/wip-reference-data/stockunit">StockUnit</a> endpoint||
|Quantity|phys09_loaded|`number`||||
|TargetDate|phys09_targetdate|`string`||||
|PumpingMemo|phys09_pumpmemo|`string`|250|||
|ProcessComplete|phys09_processed|`boolean`|1|||
|SourceStockUnitCode||`[object]`|array of StockLoading objects|see <a href="/#reference/inventory-physicals-stock-processing/stockloading">StockLoading</a> endpoint||


+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity. 
    + ReleaseId (required, number, `12345`)

+ Request (application/json)
    + Header

            AccessToken: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1bmlxdWVfbmFtZSI6ImRlZXBhayIsInN1YiI6ImRlZXBhayIsInJvbGUiOlsiNzk5YjhhNDEtYWI0ZS00MTBhLWI5MTktYzU3ZWFlMmFlMDI5IiwiZGVlcGFrIiwiQVNQLk5FVCBJZGVudGl0eSIsIjViNDE4ODE2LTI3ZjQtNGRlOC1iNmMyLTJlZTcxNjI3ZmJmYyIsIkFkbWluIiwiU3VwZXJBZG1pbiJdLCJpc3MiOiJodHRwOi8vbG9jYWxob3N0OjgwMjciLCJhdWQiOiI4MjkzNjk0MjJmNzA0NTIzODUxZDk4NTU2YjZkNTQyYiIsImV4cCI6MTQ1OTQzMjk0MSwibmJmIjoxNDU5NDMxMTQxfQ.JgPGxt0Ok5baKx0YMXlO6D9kUYrCWM-Kma9b9iMW8tg


+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (StockToStockOrder)
        + Response (200 SuccessResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 Response)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)



# Group Inventory-Physicals-Stock Management
Management activities of Stock Units (where represented by WIP Accounts).

## StockBatch [/Inventory/{TradingEntityId}/Physicals/StockManagement/StockBatch/{StockBatchId}]
Batch record information by Stock Unit.
### Read StockBatch [GET]

|property|description|type|max length|notes|constraint|
|--------|-----------|----|----------|-----|----------|
|StockBatchId|cna70_batchid|`string`|20|||
|StockUnitCode||`object`||see <a href="/#reference/wip-reference-data/stockunit">StockUnit</a> endpoint||
|BatchCreateDate|cna70_batchcreated|`datetime`|0|||
|BatchText|cna70_text|`string`|1000|||


+ Request
    [AccessToken][]
    
+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity. 
    + StockBatchId (required, string, `abc123`)

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (StockBatch)
        + Response (200 SuccessResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 Response)
    
+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

## StockBatch List [/Inventory/{TradingEntityId}/Physicals/StockManagement/StockBatch/{Property}/{PropertyValue}]
Batch record information by Stock Unit.
### List StockBatches [GET]

|property|description|type|max length|notes|constraint|
|--------|-----------|----|----------|-----|----------|
|StockBatchId|cna70_batchid|`string`|20|||
|StockUnitCode|cna70_acc|`string`|11|||
|BatchCreateDate|cna70_batchcreated|`datetime`|0|||
|BatchText|cna70_text|`string`|1000|||


+ Request
    [AccessToken][]
    
+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity. 
    + Property (optional, enum[string]) ... identify property name to filter by 
       + Members
            + StockBatchId 
            + StockUnitCode
    + PropertyValue (optional, string, `abc123`) ... required if property specified.

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (StockBatch List)
        + Pagination (Pagination)
        + Response (200 SuccessResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 BadPropertyResponse)
    
+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)


# Group Inventory-Physicals-Stock Processing
Production Order processing services.

## MarkOrderAsProcessed [/Inventory/{TradingEntityId}/Physicals/OrderProcessing/MarkOrderAsProcessed/{ReleaseId}]
Trigger call to complete an order (e.g. create stock journals etc)
### Update MarkOrderAsProcessed [PUT]


<strong>URI Parameters</strong>

|property|description|type|max length|notes|constraint|
|--------|-----------|----|----------|-----|----------|
|ReleaseId|phys09_releasenr|`number`|||Unique Key|

<strong>Body Parameters</strong>
<br />
None.

+ Request (application/json)
    + Header

            AccessToken: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1bmlxdWVfbmFtZSI6ImRlZXBhayIsInN1YiI6ImRlZXBhayIsInJvbGUiOlsiNzk5YjhhNDEtYWI0ZS00MTBhLWI5MTktYzU3ZWFlMmFlMDI5IiwiZGVlcGFrIiwiQVNQLk5FVCBJZGVudGl0eSIsIjViNDE4ODE2LTI3ZjQtNGRlOC1iNmMyLTJlZTcxNjI3ZmJmYyIsIkFkbWluIiwiU3VwZXJBZG1pbiJdLCJpc3MiOiJodHRwOi8vbG9jYWxob3N0OjgwMjciLCJhdWQiOiI4MjkzNjk0MjJmNzA0NTIzODUxZDk4NTU2YjZkNTQyYiIsImV4cCI6MTQ1OTQzMjk0MSwibmJmIjoxNDU5NDMxMTQxfQ.JgPGxt0Ok5baKx0YMXlO6D9kUYrCWM-Kma9b9iMW8tg

    + Body 
    
            {
                none
            }

+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity. 
    + ReleaseId (required, number, `123`)

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data
            + ReleaseId: 123 (number)
        + Response (200 UpdateResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 Response)
    
+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

## StockLoading [/Inventory/{TradingEntityId}/Physicals/OrderProcessing/StockLoading/{ReleaseId}]
Information specific to the source of the goods generated during any movement (Delivery Out or Stock to Stock).
### Read StockLoading [GET]

|property|description|type|max length|notes|constraint|
|--------|-----------|----|----------|-----|----------|
|ReleaseId|phys10_releasenr|`number`|||Unique Key|
|SourceStockUnitCode||`object`|||see <a href="/#reference/wip-reference-data/stockunit">StockUnit</a> endpoint||
|Weight|phys10_qty|`number`||||

+ Request
    [AccessToken][]

+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity. 
    + ReleaseId (required, number, `123`)

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (array [StockLoading])
        + Response (200 SuccessResponse)
    
+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 Response)
    
+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

### Create StockLoading [PUT]
Remove current suggestions for Tanks and Create Stock Loadings


|property|description|type|max length|notes|constraint|
|--------|-----------|----|----------|-----|----------|
|ReleaseId|phys10_releasenr|`number`||required|Unique Key|
|SourceStockUnitCode|phys10_tank|`string`|11|required|must exist in xx_cna50|
|Weight|phys10_qty|`number`||required||

+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity. 
    + ReleaseId (required, number, `123`)

+ Request (application/json)
    + Header

            AccessToken: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1bmlxdWVfbmFtZSI6ImRlZXBhayIsInN1YiI6ImRlZXBhayIsInJvbGUiOlsiNzk5YjhhNDEtYWI0ZS00MTBhLWI5MTktYzU3ZWFlMmFlMDI5IiwiZGVlcGFrIiwiQVNQLk5FVCBJZGVudGl0eSIsIjViNDE4ODE2LTI3ZjQtNGRlOC1iNmMyLTJlZTcxNjI3ZmJmYyIsIkFkbWluIiwiU3VwZXJBZG1pbiJdLCJpc3MiOiJodHRwOi8vbG9jYWxob3N0OjgwMjciLCJhdWQiOiI4MjkzNjk0MjJmNzA0NTIzODUxZDk4NTU2YjZkNTQyYiIsImV4cCI6MTQ1OTQzMjk0MSwibmJmIjoxNDU5NDMxMTQxfQ.JgPGxt0Ok5baKx0YMXlO6D9kUYrCWM-Kma9b9iMW8tg

    + Attributes (array [StockLoadingFlat])

+ Response 201 (application/json; charset=utf-8)
    + Attributes 
        + Attributes 
        + Data
            + ReleaseId: 123 (number)
        + Response (201 CreateResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 Response)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)


## StockMovement [/Inventory/{TradingEntityId}/Physicals/OrderProcessing/StockMovement/{ReleaseId}]
Information relating to the processing of the Order. 
### Read StockMovement [GET]

|property|description|type|max length|notes|constraint|
|--------|-----------|----|----------|-----|----------|
|ReleaseId|phys09_releasenr|`number`||`Required`||
|OrderAcknowledged|phys09_sent|`string`|1|||
|NetLoadedWeight|phys09_loaded|`number`||||
|NetPumpedWeight|phys09_pumped|`number`||||
|NetDeliveredWeight|phys09_delivered|`number`||||
|LoadedDate|phys09_loadeddate|`datetime`||||
|PumpedDate|phys09_pumpeddate|`datetime`||||
|TargetStockUnit||`object`||see <a href="/#reference/wip-reference-data/stockunit">StockUnit</a> endpoint||
|ArrivalDate|phys09_arrivaldate|`datetime`||||
|ArrivalMemo|phys09_arrivalmemo|`string`|250|||
|ArrivalWeight|phys09_arrivalweight|`number`||||
|LoadingStartDate|phys09_loadstartdate|`datetime`||||
|LoadingStartMemo|phys09_loadstartmemo|`string`|250|||
|LoadingEndDate|phys09_loadenddate|`datetime`||||
|LoadingPoint|phys09_loadendmemo|`string`|250|||
|FirstWeight|phys09_firstweight|`number`||||
|FirstWeightWeighbridgeId|phys09_firstweightwbid|`string`|10|||
|FirstWeightId|phys09_firstweightid|`string`|10|||
|SecondWeight|phys09_secondweight|`number`||||
|SecondWeightWeighbridgeId|phys09_secondweightwbid|`string`|10|||
|SecondWeightId|phys09_secondweightid|`string`|10|||

+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity. 
    + ReleaseId (required, number, `123`)

+ Request (application/json)
    + Header

            AccessToken: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1bmlxdWVfbmFtZSI6ImRlZXBhayIsInN1YiI6ImRlZXBhayIsInJvbGUiOlsiNzk5YjhhNDEtYWI0ZS00MTBhLWI5MTktYzU3ZWFlMmFlMDI5IiwiZGVlcGFrIiwiQVNQLk5FVCBJZGVudGl0eSIsIjViNDE4ODE2LTI3ZjQtNGRlOC1iNmMyLTJlZTcxNjI3ZmJmYyIsIkFkbWluIiwiU3VwZXJBZG1pbiJdLCJpc3MiOiJodHRwOi8vbG9jYWxob3N0OjgwMjciLCJhdWQiOiI4MjkzNjk0MjJmNzA0NTIzODUxZDk4NTU2YjZkNTQyYiIsImV4cCI6MTQ1OTQzMjk0MSwibmJmIjoxNDU5NDMxMTQxfQ.JgPGxt0Ok5baKx0YMXlO6D9kUYrCWM-Kma9b9iMW8tg

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (StockMovement)
        + Response (200 SuccessResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 Response)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

### Update StockMovement [PUT]

|property|description|type|max length|notes|constraint|
|--------|-----------|----|----------|-----|----------|
|ReleaseId|phys09_releasenr|`number`||`Required`||
|OrderAcknowledged|phys09_sent|`string`|1|||
|NetLoadedWeight|phys09_loaded|`number`||||
|NetPumpedWeight|phys09_pumped|`number`||||
|NetDeliveredWeight|phys09_delivered|`number`||||
|LoadedDate|phys09_loadeddate|`datetime`||||
|PumpedDate|phys09_pumpeddate|`datetime`||||
|TargetStockUnitCode|phys09_stock|`string`|11||must exist in xx_cna50|
|ArrivalDate|phys09_arrivaldate|`datetime`||||
|ArrivalMemo|phys09_arrivalmemo|`string`|250|||
|ArrivalWeight|phys09_arrivalweight|`number`||||
[...]
