FORMAT: 1A
HOST: http://itas.apiary.io/
VERSION: 2.6

# ITAS API 2.6
<strong>Release notes</strong> (1st August 2016)

<div>~ New endpoints added in this release :</div>
<div>
<ul>
<li>Client Reference Data <strong>Delta Update ClientAccount</strong>: Update ClientAccount data with only ClientAccountId mandatory. <a href="/#reference/client-reference-data/clientaccount/delta-update-clientaccount"> Link</a></li>
<li>Nominal Reference Data <strong>Delta Update NominalAccount</strong>: Update NominalAccount data with only NominalAccountId mandatory. <a href="/#reference/nominal-reference-data/nominalaccount/delta-update-nominalaccount"> Link</a></li>
<li>Accounting <strong>Delta Update Transaction Header</strong>: Update Transaction Header. <a href="/#reference/accounting>transactions/transaction-header/delta-update-transaction-header"> Link</a></li>
</ul>
</div>
<br /> 
<br />
<div>** ends ** </div>


## AccessToken [/AT]
Model Header containing AccessToken

+ Model 
    + Header

            Authorization: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1bmlxdWVfbmFtZSI6ImRlZXBhayIsInN1YiI6ImRlZXBhayIsInJvbGUiOlsiNzk5YjhhNDEtYWI0ZS00MTBhLWI5MTktYzU3ZWFlMmFlMDI5IiwiZGVlcGFrIiwiQVNQLk5FVCBJZGVudGl0eSIsIjViNDE4ODE2LTI3ZjQtNGRlOC1iNmMyLTJlZTcxNjI3ZmJmYyIsIkFkbWluIiwiU3VwZXJBZG1pbiJdLCJpc3MiOiJodHRwOi8vbG9jYWxob3N0OjgwMjciLCJhdWQiOiI4MjkzNjk0MjJmNzA0NTIzODUxZDk4NTU2YjZkNTQyYiIsImV4cCI6MTQ1OTQzMjk0MSwibmJmIjoxNDU5NDMxMTQxfQ.JgPGxt0Ok5baKx0YMXlO6D9kUYrCWM-Kma9b9iMW8tg

# Group Client Reference Data
Codes relating to the Client Ledger and related endpoints.

## ClientAccount List [/ReferenceData/{TradingEntityId}/ClientLedger/ClientAccount/{Property}/{PropertyValue}]
Client Ledger Account profile.
### List ClientAccounts [GET]

|property|description|type|max length|notes|constraint|
|--------|-----------|----|----------|-----|----------|
|ClientAccountId|chr20_acc|`string`|10|||
|Title|chr20_title|`string`|200|||
|ClientTypeCode|chr20_type|`string`|1|||
|Status|chr20_status|`string`|1|||
|PrivilegeLevel|chr20_priv|`number`|1|||
|CanBeBuyer|chr20_canbeabuyer|`boolean`|0|||
|CanBeSeller|chr20_canbeaseller|`boolean`|0|||
|CanBeAgent|chr20_canbeaagent|`boolean`|0|||
|CanBeShipper|chr20_canbeashipper|`boolean`|0|||
|CanBeDerivativeClient|chr20_canbeatermclient|`boolean`|0|||
|CanBeDerivativeBroker|chr20_canbeatermbroker|`boolean`|0|||
|EDICode|chr20_ediaddr|`string`|50|||


+ Request
    [AccessToken][]
    
+ Parameters
    + TradingEntityId (required, string, `JT`) 
    + Property (optional, enum[string]) 
       + Members
            + Status
            + CanBeBuyer
            + CanBeSeller 
            + CanBeAgent
            + CanBeShipper
            + CanBeDerivativeClient 
            + CanBeDerivativeBroker 
            + EDICode
    + PropertyValue (optional, string, `O`) 

+ Response 200 (application/json; charset=utf-8)
    + Attributes (object)
        + Data (array [ClientAccount List])
        + Pagination (Pagination)
        + Response (200 SuccessResponse)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)    

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 BadPropertyResponse)
    


## ClientAccount [/ReferenceData/{TradingEntityId}/ClientLedger/ClientAccount/{ClientAccountId}]
Client Ledger Account profile.
### Read ClientAccount [GET]

|property|description|type|max length|notes|constraint|
|--------|-----------|----|----------|-----|----------|
|ClientAccountId|chr20_acc|`string`|10||required|
|Title|chr20_title|`string`|200||required|
|ClientType||`object`||see <a href="/#reference/client-reference-data/clienttype-list">Client Type List</a> endpoint||
|Status|chr20_status|`string`|1|||
|PrivilegeLevel|chr20_priv|`number`|1|||
|CanBeBuyer|chr20_canbeabuyer|`boolean`|0|||
|CanBeSeller|chr20_canbeaseller|`boolean`|0|||
|CanBeAgent|chr20_canbeaagent|`boolean`|0|||
|CanBeShipper|chr20_canbeashipper|`boolean`|0|||
|CanBeDerivativeClient|chr20_canbeatermclient|`boolean`|0|||
|CanBeDerivativeBroker|chr20_canbeatermbroker|`boolean`|0|||
|GlobalTraderProgramMember|chr20_gtp|`boolean`|1|||
|GroupAccountMember|chr20_group|`boolean`|1|||
|HeadOfFamilyAccountCode|chr20_headcl|`string`|10|||
|EDICode|chr20_ediaddr|`string`|50|||
|Address|`object'|||see <a href="/#reference/data-object-definitions/address">Address</a> object||
|<strong>Client Limits</strong>|
|ClientDateLimitsApproved|chr20_limit_date|`datetime`|0|||
|ClientLimitsCurrencyCode|chr20_clccy|`string`|3|||
|ClientPaymentLimit|chr20_paylimit|`number`|18,8|||
|ClientMarketDefaultRiskLimit|chr20_mktdefrisklimit|`number`|18,8|||
|ClientCommitmentLimit|chr20_fwdlimit|`number`|18,8|||
|<strong>Family Limits</strong>|
|FamilyDateLimitsApproved|chr31_limit_date|`datetime`|0|||
|FamilyLimitsCurrencyCode|chr31_clccy|`string`|3|||
|FamilyPaymentLimit|chr31_paylimit|`number`|0|||
|FamilyMarketDefaultRiskLimit|chr31_mktdefrisklimit|`number`|0|||
|FamilyCommitmentLimit|chr31_fwdlimit|`number`|0|||


+ Request
    [AccessToken][]
    
+ Parameters
    + TradingEntityId (required, string, `JT`) 
    + ClientAccountId (required, string, `ABCDEF.P`) 

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (ClientAccount)
        + Response (200 SuccessResponse)
    
+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)



### Create Update ClientAccount [PUT]
For Update requests the field `ClientAccountId` is used to check the corresponding value in the URI

|property|description|type|max length|notes|constraint|
|--------|-----------|----|----------|-----|----------|
|ClientAccountId|chr20_acc|`string`|10||required|
|Title|chr20_title|`string`|200||required|
|ClientTypeCode|chr20_type|`string`|1||required|
|Status|chr20_status|`string`|1|||
|PrivilegeLevel|chr20_priv|`number`|1|||
|CanBeBuyer|chr20_canbeabuyer|`boolean`|0|||
|CanBeSeller|chr20_canbeaseller|`boolean`|0|||
|CanBeAgent|chr20_canbeaagent|`boolean`|0|||
|CanBeShipper|chr20_canbeashipper|`boolean`|0|||
|CanBeDerivativeClient|chr20_canbeatermclient|`boolean`|0|||
|CanBeDerivativeBroker|chr20_canbeatermbroker|`boolean`|0|||
|GlobalTraderProgramMember|chr20_gtp|`boolean`|1|||
|GroupAccountMember|chr20_group|`boolean`|1|||
|HeadOfFamilyAccountCode|chr20_headcl|`string`|10|||
|EDICode|chr20_ediaddr|`string`|50|||
|<strong>Contact Details</strong>|
|AddressLine1|chr20_addr1|`string`|60|||
|AddressLine2|chr20_addr2|`string`|60|||
|AddressLine3|chr20_addr3|`string`|60|||
|AddressLine4|chr20_addr4|`string`|60|||
|ZipCode|chr20_zipcode|`string`|40|||
|CountryCode|chr20_geogcd|`string`|3||required|
|EmailAddress|chr20_emailaddr|`string`|100|||
|PhoneNumber|chr20_phoneno|`string`|40|||
|FaxNumber|chr20_faxno|`string`|40|||
|<strong>Client Limits</strong>|
|ClientDateLimitsApproved|chr20_limit_date|`datetime`|0|||
|ClientLimitsCurrencyCode|chr20_clccy|`string`|3|||
|ClientPaymentLimit|chr20_paylimit|`number`|18,8|||
|ClientMarketDefaultRiskLimit|chr20_mktdefrisklimit|`number`|18,8|||
|ClientCommitmentLimit|chr20_fwdlimit|`number`|18,8|||
|<strong>Family Limits</strong>|
|FamilyDateLimitsApproved|chr31_limit_date|`datetime`|0|||
|FamilyLimitsCurrencyCode|chr31_clccy|`string`|3|||
|FamilyPaymentLimit|chr31_paylimit|`number`|0|||
|FamilyMarketDefaultRiskLimit|chr31_mktdefrisklimit|`number`|0|||
|FamilyCommitmentLimit|chr31_fwdlimit|`number`|0|||


+ Request (application/json)
    + Header

            AccessToken:Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1bmlxdWVfbmFtZSI6ImRlZXBhayIsInN1YiI6ImRlZXBhayIsInJvbGUiOlsiNzk5YjhhNDEtYWI0ZS00MTBhLWI5MTktYzU3ZWFlMmFlMDI5IiwiZGVlcGFrIiwiQVNQLk5FVCBJZGVudGl0eSIsIjViNDE4ODE2LTI3ZjQtNGRlOC1iNmMyLTJlZTcxNjI3ZmJmYyIsIkFkbWluIiwiU3VwZXJBZG1pbiJdLCJpc3MiOiJodHRwOi8vbG9jYWxob3N0OjgwMjciLCJhdWQiOiI4MjkzNjk0MjJmNzA0NTIzODUxZDk4NTU2YjZkNTQyYiIsImV4cCI6MTQ1OTQzMjk0MSwibmJmIjoxNDU5NDMxMTQxfQ.JgPGxt0Ok5baKx0YMXlO6D9kUYrCWM-Kma9b9iMW8tg

    + Attributes (ClientAccount CreateUpdate)

+ Parameters
    + TradingEntityId (required, string) - identify specific trading entity
    + ClientAccountId (required, string) - code for client account to create

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data
            + ClientAccountID: ABCDEF.P (string)
        + Response (200 CreateResponse)

+ Response 201 (application/json; charset=utf-8)
    + Attributes 
        + Data
            + ClientAccountID: ABCDEF.P (string)
        + Response (201 UpdateResponse)
    
+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 Response)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

### Delta Update ClientAccount [PATCH]
Delta Update is to be used to update ClientAcount, where the field `ClientAccountId` is the only mandatory field, it cannot be changed but is used to cross reference the Id in the URI

|property|description|type|max length|notes|constraint|
|--------|-----------|----|----------|-----|----------|
|ClientAccountId|chr20_acc|`string`|10||required|
|Title|chr20_title|`string`|200|||
|ClientTypeCode|chr20_type|`string`|1|||
|Status|chr20_status|`string`|1|||
|PrivilegeLevel|chr20_priv|`number`|1|||
|CanBeBuyer|chr20_canbeabuyer|`boolean`|0|||
|CanBeSeller|chr20_canbeaseller|`boolean`|0|||
|CanBeAgent|chr20_canbeaagent|`boolean`|0|||
|CanBeShipper|chr20_canbeashipper|`boolean`|0|||
|CanBeDerivativeClient|chr20_canbeatermclient|`boolean`|0|||
|CanBeDerivativeBroker|chr20_canbeatermbroker|`boolean`|0|||
|GlobalTraderProgramMember|chr20_gtp|`boolean`|1|||
|GroupAccountMember|chr20_group|`boolean`|1|||
|HeadOfFamilyAccountCode|chr20_headcl|`string`|10|||
|EDICode|chr20_ediaddr|`string`|50|||
|<strong>Contact Details</strong>|
|AddressLine1|chr20_addr1|`string`|60|||
|AddressLine2|chr20_addr2|`string`|60|||
|AddressLine3|chr20_addr3|`string`|60|||
|AddressLine4|chr20_addr4|`string`|60|||
|ZipCode|chr20_zipcode|`string`|40|||
|CountryCode|chr20_geogcd|`string`|3|||
|EmailAddress|chr20_emailaddr|`string`|100|||
|PhoneNumber|chr20_phoneno|`string`|40|||
|FaxNumber|chr20_faxno|`string`|40|||
|<strong>Client Limits</strong>|
|ClientDateLimitsApproved|chr20_limit_date|`datetime`|0|||
|ClientLimitsCurrencyCode|chr20_clccy|`string`|3|||
|ClientPaymentLimit|chr20_paylimit|`number`|18,8|||
|ClientMarketDefaultRiskLimit|chr20_mktdefrisklimit|`number`|18,8|||
|ClientCommitmentLimit|chr20_fwdlimit|`number`|18,8|||
|<strong>Family Limits</strong>|
|FamilyDateLimitsApproved|chr31_limit_date|`datetime`|0|||
|FamilyLimitsCurrencyCode|chr31_clccy|`string`|3|||
|FamilyPaymentLimit|chr31_paylimit|`number`|0|||
|FamilyMarketDefaultRiskLimit|chr31_mktdefrisklimit|`number`|0|||
|FamilyCommitmentLimit|chr31_fwdlimit|`number`|0|||

+ Request (application/json)
    + Header

            AccessToken:Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1bmlxdWVfbmFtZSI6ImRlZXBhayIsInN1YiI6ImRlZXBhayIsInJvbGUiOlsiNzk5YjhhNDEtYWI0ZS00MTBhLWI5MTktYzU3ZWFlMmFlMDI5IiwiZGVlcGFrIiwiQVNQLk5FVCBJZGVudGl0eSIsIjViNDE4ODE2LTI3ZjQtNGRlOC1iNmMyLTJlZTcxNjI3ZmJmYyIsIkFkbWluIiwiU3VwZXJBZG1pbiJdLCJpc3MiOiJodHRwOi8vbG9jYWxob3N0OjgwMjciLCJhdWQiOiI4MjkzNjk0MjJmNzA0NTIzODUxZDk4NTU2YjZkNTQyYiIsImV4cCI6MTQ1OTQzMjk0MSwibmJmIjoxNDU5NDMxMTQxfQ.JgPGxt0Ok5baKx0YMXlO6D9kUYrCWM-Kma9b9iMW8tg

    + Attributes (ClientAccount Update)

+ Parameters
    + TradingEntityId (required, string) - identify specific trading entity
    + ClientAccountId (required, string) - code for client account to update

+ Response 201 (application/json; charset=utf-8)
    + Attributes 
        + Data
            + ClientAccountID: ABCDEF.P (string)
        + Response (201 UpdateResponse)
    
+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 Response)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

## ClientType List [/ReferenceData/{TradingEntityId}/ClientLedger/ClientType/{Property}/{PropertyValue}]
User-defined list of codes used for classification purposes on Client Account profile.
### List ClientTypes [GET]
|property|description|type|max length|notes|constraint|
|--------|-----------|----|----------|-----|----------|
|ClientTypeId|cmy107_code|`string`|1|||
|ClientTypeDescription|cmy107_descr|`string`|50|||


+ Request
    [AccessToken][]
    
+ Parameters
    + TradingEntityId (required, string, `JT`) ... identify specific trading entity
    + Property (optional, enum[string]) ... identify property name to filter by 
       + Members
            + ClientTypeId
    + PropertyValue (optional, string, `H`) ... required if property specified 

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (array [ClientType List])
        + Pagination (Pagination)
        + Response (200 SuccessResponse)


    
+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 BadPropertyResponse)
  
+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)


# Group Global Reference Data
Global (system-wide) codes 

## Country List [/ReferenceData/Global/Country/{Property}/{PropertyValue}]
Country codes.
### List Countries [GET]
|property|description|type|max length|notes|constraint|
|--------|-----------|----|----------|-----|----------|
|CountryId|boec_code|`string`|3|||
|CountryDescription|boec_descr|`string`|50|||

+ Request
    [AccessToken][]

+ Parameters
    + Property (optional, enum[string]) 
       + Members
            + CountryId
    + PropertyValue (optional, string, `UK`)

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (array [Country])
        + Pagination (Pagination)
        + Response (200 SuccessResponse)
    

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 BadPropertyResponse)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

## Currency List [/ReferenceData/Global/Currency/{Property}/{PropertyValue}]
Currency codes.
### List Currencies [GET]
|property|description|type|max length|notes|constraint|
|--------|-----------|----|----------|-----|----------|
|CurrencyId|fxr20_ccy|`string`|3|||
|CurrencyDescription|fxr20_descr|`string`|20|||

+ Request
    [AccessToken][]

+ Parameters
    + Property (optional, enum[string]) 
       + Members
            + CurrencyId
    + PropertyValue (optional, string, `UK`)

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (array [Currency])
        + Pagination (Pagination)
        + Response (200 SuccessResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 BadPropertyResponse)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

## UserAccount List  [/ReferenceData/Global/UserAccount/{Property}/{PropertyValue}]
ITAS User Account profiles.
### List User Accounts [GET]



|property|description|type|max length|notes|constraint|
|--------|-----------|----|----------|-----|----------|
|UserAccountId|prv40_inits|`string`|3|||
|UserAccountName|prv40_username|`string`|255|||
|UserAccountDescription|prv40_fullname|`string`|40|||


+ Request
    [AccessToken][]

+ Parameters
    + Property (optional, enum[string]) 
       + Members
            + UserAccountId
            + UserAccountName
    + PropertyValue (optional, string, `JSMITH`)

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (array [UserAccount])
        + Pagination (Pagination)
        + Response (200 SuccessResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 BadPropertyResponse)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)


# Group Nominal Reference Data
Codes relating to Nominal Ledger and related endpoints.

## Department List [/ReferenceData/{TradingEntityId}/NominalLedger/Department/{Property}/{PropertyValue}]
Codes used to segregate business sectors within a trading company, and can be applied to contracts and accounting transactions.
### List Departments [GET]

|property|description|type|max length|notes|constraint|
|--------|-----------|----|----------|-----|----------|
|DepartmentId|cmy102_dept|`string`|4||Unique Key|
|DepartmentDescription|cmy102_descr|`string`|30|||
|NominalCategoryCode|cmy102_category|`string`|2||must exist in gf_boec|
|CountryCode|cmy102_ctry|`string`|3||must exist in xx_cmy50|
|EDICode|cmy102_altcode|`string`|15|||
|Status|cmy102_inactive|`string`|1||`O` or `F`|

+ Request
    [AccessToken][]
    
+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity.
    + Property (optional, enum[string]) ... identify property name to filter by 
       + Members
            + DepartmentId
            + Status
            + EDICode
    + PropertyValue (optional, string, `F`) ... Required if property specified.


+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (array[Department List])
        + Pagination (Pagination)
        + Response (200 SuccessResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 BadPropertyResponse)
    
+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

## Department [/ReferenceData/{TradingEntityId}/NominalLedger/Department/{DepartmentId}]
Codes used to segregate business sectors within a trading company, and can be applied to contracts and accounting transactions.
### Read Department [GET]
|property|description|type|max length|notes|constraint|
|--------|-----------|----|----------|-----|----------|
|DepartmentId|cmy102_dept|`string`|4||Unique Key|
|DepartmentDescription|cmy102_descr|`string`|30|||
|NominalCategory||`object`||see <a href="/#reference/nominal-reference-data/nominalcategories-list">Nominal Category List</a> endpoint||
|Country||`object`||see <a href="http://docs.itasapiv2r1.apiary.io/#reference/global-reference-data/countries-list">Countries List</a> endpoint||
|EDICode|cmy102_altcode|`string`|15|||
|Status|cmy102_inactive|`string`|1||`O` or `F`|

+ Request
    [AccessToken][]

+ Parameters
    + TradingEntityId (required, string, `JT`) ...  specific trading entity
    + DepartmentId (required, string, `5100`) ...  property department id 

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (Department)
        + Response (200 SuccessResponse)


+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 Response)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

## Expense List [/ReferenceData/{TradingEntityId}/NominalLedger/Expense/{Property}/{PropertyValue}]
Codes that are primarily used for accounting transaction analysis purposes.
### List Expenses [GET]


|property|description|type|max length|notes|constraint|
|--------|-----------|----|----------|-----|----------|
|ExpenseId|cmy101_exp|`string`|7|||
|ExpenseDescription|cmy101_name|`string`|40|||
|EDICode|cmy101_altcode|`string`|15|||
|Status|cmy101_inactive|`string`|1|||


+ Request
    [AccessToken][]

+ Parameters
    + TradingEntityId (required, string, `JT`) 
    + Property (optional, enum[string])  
       + Members
            + ExpenseId
            + EDICode
            + Status 
    + PropertyValue (optional, string, `F`) 

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (array [Expense List])
        + Pagination (Pagination)
        + Response (200 SuccessResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 Response)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

## NominalAccount List [/ReferenceData/{TradingEntityId}/NominalLedger/NominalAccount/{Property}/{PropertyValue}]
Nominal (General) Ledger Account profile.
### List NominalAccounts [GET]
|property|description|type|max length|notes|constraint|
|--------|-----------|----|----------|-----|----------|
|NominalAccountId|nhr20_acc|`string`|9|||
|MainGroupingDescription|nhr20_titdescr|`string`|40|||
|DetailDescription|nhr20_detdescr|`string`|40|||
|BankAccount|nhr20_bankacc|`number`||||
|PrivilegeLevel|nhr20_priv|`number`|1|||
|EDICode|nhr20_altcode|`string`|30|||
|Status|nhr20_status|`string`|1|||


+ Request
    [AccessToken][]

+ Parameters
    + TradingEntityId (required, string, `JT`) ... identify specific trading entity
    + Property (optional, enum[string]) ... identify property name to filter by 
       + Members
            + NominalAccountId
            + BankAccount
            + EDICode
            + Status 
    + PropertyValue (optional, string, `AF`) ... required if property specified


+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (array[NominalAccount])
        + Pagination (Pagination)
        + Response (200 SuccessResponse)


+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

## NominalAccount [/ReferenceData/{TradingEntityId}/NominalLedger/NominalAccount/{NominalAccountId}]
Nominal (General) Ledger Account profile.
### Read NominalAccount [GET]
|property|description|type|max length|notes|constraint|
|--------|-----------|----|----------|-----|----------|
|NominalAccountId|nhr20_acc|`string`|9|||
|MainGroupingDescription|nhr20_titdescr|`string`|40|||
|DetailDescription|nhr20_detdescr|`string`|40|||
|BankAccount|nhr20_bankacc|`number`||||
|PrivilegeLevel|nhr20_priv|`number`|1|||
|EDICode|nhr20_altcode|`string`|30|||
|Status|nhr20_status|`string`|1|||

+ Request
    [AccessToken][]

+ Parameters
    + TradingEntityId (required, string, `JT`) 
    + NominalAccountId (required, string, `1234.5678`) 


+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (NominalAccount)
        + Response (200 SuccessResponse)


+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)
    
### Update NominalAccount [PUT]
|property|description|type|max length|notes|constraint|
|--------|-----------|----|----------|-----|----------|
|NominalAccountId|nhr20_acc|`string`|9|required||
|MainGroupingDescription|nhr20_titdescr|`string`|40|required||
|DetailDescription|nhr20_detdescr|`string`|40|required||
|BankAccount|nhr20_bankacc|`number`||||
|PrivilegeLevel|nhr20_priv|`number`|1|||
|EDICode|nhr20_altcode|`string`|30|Status|nhr20_status|`string`|1|||

+ Request (application/json)
    + Header

            AccessToken:Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1bmlxdWVfbmFtZSI6ImRlZXBhayIsInN1YiI6ImRlZXBhayIsInJvbGUiOlsiNzk5YjhhNDEtYWI0ZS00MTBhLWI5MTktYzU3ZWFlMmFlMDI5IiwiZGVlcGFrIiwiQVNQLk5FVCBJZGVudGl0eSIsIjViNDE4ODE2LTI3ZjQtNGRlOC1iNmMyLTJlZTcxNjI3ZmJmYyIsIkFkbWluIiwiU3VwZXJBZG1pbiJdLCJpc3MiOiJodHRwOi8vbG9jYWxob3N0OjgwMjciLCJhdWQiOiI4MjkzNjk0MjJmNzA0NTIzODUxZDk4NTU2YjZkNTQyYiIsImV4cCI6MTQ1OTQzMjk0MSwibmJmIjoxNDU5NDMxMTQxfQ.JgPGxt0Ok5baKx0YMXlO6D9kUYrCWM-Kma9b9iMW8tg

    + Attributes (NominalAccount)

+ Parameters
    + TradingEntityId (required, string, `JT`) 
    + NominalAccountId (required, string, `1234.5678`) 

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data
            + NominalAccountId: 1234.5678 (string)
        + Response (201 UpdateResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 Response)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

### Delta Update NominalAccount [PATCH]
|property|description|type|max length|notes|constraint|
|--------|-----------|----|----------|-----|----------|
|NominalAccountId|nhr20_acc|`string`|9|required||
|MainGroupingDescription|nhr20_titdescr|`string`|40|||
|DetailDescription|nhr20_detdescr|`string`|40|||
|BankAccount|nhr20_bankacc|`number`||||
|PrivilegeLevel|nhr20_priv|`number`|1|||
|EDICode|nhr20_altcode|`string`|30|Status|nhr20_status|`string`|1|||

+ Request (application/json)
    + Header

            AccessToken:Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1bmlxdWVfbmFtZSI6ImRlZXBhayIsInN1YiI6ImRlZXBhayIsInJvbGUiOlsiNzk5YjhhNDEtYWI0ZS00MTBhLWI5MTktYzU3ZWFlMmFlMDI5IiwiZGVlcGFrIiwiQVNQLk5FVCBJZGVudGl0eSIsIjViNDE4ODE2LTI3ZjQtNGRlOC1iNmMyLTJlZTcxNjI3ZmJmYyIsIkFkbWluIiwiU3VwZXJBZG1pbiJdLCJpc3MiOiJodHRwOi8vbG9jYWxob3N0OjgwMjciLCJhdWQiOiI4MjkzNjk0MjJmNzA0NTIzODUxZDk4NTU2YjZkNTQyYiIsImV4cCI6MTQ1OTQzMjk0MSwibmJmIjoxNDU5NDMxMTQxfQ.JgPGxt0Ok5baKx0YMXlO6D9kUYrCWM-Kma9b9iMW8tg

    + Attributes (NominalAccountDelta)

+ Parameters
    + TradingEntityId (required, string, `JT`) 
    + NominalAccountId (required, string, `1234.5678`) 

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data
            + NominalAccountId: 1234.5678 (string)
        + Response (201 UpdateResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 Response)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

## NominalCategory List [/ReferenceData/{TradingEntityId}/NominalLedger/NominalCategory/{Property}/{PropertyValue}]
User-defined categorisation codes that can be applied to departments and bank accounts.
### List NominalCategories [GET]

|property|description|type|max length|notes|constraint|
|--------|-----------|----|----------|-----|----------|
|NominalCategoryId|cmy50_category|`string`|2||Unique Key |
|NominalCategoryDescription|cmy50_descr|`string`|50|||
|NominalGroup|cmy50_group|`string`|15|||


+ Request
    [AccessToken][]

+ Parameters
    + TradingEntityId (required, string, `JT`) ... identify specific trading entity
    + Property (optional, enum[string]) ... identify property name to filter by 
       + Members
            + NominalCategoryId
    + PropertyValue (optional, string, `AF`) ... required if property specified


+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (array[NominalCategory])
        + Response (200 SuccessResponse)


+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 Response)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

## Vat Rate List [/ReferenceData/{TradingEntityId}/NominalLedger/VATRate/{Property}/{PropertyValue}]
Codes and rates applied as part of any VAT/GST accounting practise.
### List VATRates [GET]


|property|description|type|max length|notes|constraint|
|--------|-----------|----|----------|-----|----------|
|VatRateId|cmy100_vatcode|`string`|2|||
|VatRateDescription|cmy100_descr|`string`|40|||
|VatRate|cmy100_vatrate|`float`|8|||
|Status|cmy100_inactive|`string`|1|||

+ Request
    [AccessToken][]

+ Parameters
    + TradingEntityId (required, string, `JT`) 
    + Property (optional, enum[string]) 
       + Members
            + VATRateId
            + VATRate
            + Status
    + PropertyValue (optional, string, `AF`) 

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (array [VATRate])
        + Response (200 SuccessResponse)


+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 BadPropertyResponse)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)


# Group Physicals Reference Data
Codes relating to Physicals Trading and related endpoints.

## Commodity List [/ReferenceData/{TradingEntityId}/Physicals/Commodity/{Property}/{PropertyValue}]
Commodity/Product codes, used to identify goods
### List Commodities [GET]

|property|description|type|max length|notes|constraint|
|--------|-----------|----|----------|-----|----------|
|CommodityCodePart1|cmy03_commod|`string`|3|||
|CommodityCodePart2|cmy03_origin|`string`|6|||
|CommodityCodePart3|cmy03_grade|`string`|6|||
|CommodityCodePart4|cmy03_code4|`string`|6|||
|CommodityCodePart5|cmy03_code5|`string`|6|||
|CommodityDescription|cmy03_descr|`string`|250|||
|DocumentText|cmy03_text|`string`|4000|||
|CommodityGroup|cmy03_groupcd|`string`|3|||
|CountryCode|cmy03_ctry|`string`|3|||
|EDICode|cmy03_cmynum|`string`|15|||
|Status|cmy03_inactive|`string`|1||`O` or `F`|

+ Request
    [AccessToken][]

+ Parameters
    + TradingEntityId: AB (required, string) ... identify specific trading entity
    + Property (optional, enum[string]) ... identify property name to filter by 
       + Members
            + CommodityCodePart1 (optional, string) 
            + CommodityCodePart2 (optional, string)
            + CommodityCodePart3 (optional, string)
            + CommodityCodePart4 (optional, string)
            + CommodityCodePart5 (optional, string)
            + CommodityGroup (optional, string)
            + EDICode (optional, string)
            + Status (optional, string)
    + PropertyValue (optional, string, `O`) ... required if property specified.

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (array[Commodity])
        + Pagination (Pagination)
        + Response (200 SuccessResponse)
    
+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 BadPropertyResponse)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

## Contract Term List [/ReferenceData/{TradingEntityId}/Physicals/ContractTerm/{Property}/{PropertyValue}]
Contract Terms (aka Incoterms) usually setup to represent pre-defined, internationally recognised, commercial terms of contract.
### List ContractTerms [GET]


|property|description|type|max length|notes|constraint|
|--------|-----------|----|----------|-----|----------|
|ContractTermId|cmy14_cterms|`string`|8|||
|ContractTermDescription|cmy14_descr|`string`|50|||
|DocumentText|cmy14_text|`string`|4000|||
|EDICode|master_edicode|`string`|50|||
|Status|cmy14_inactive|`string`|1|||

+ Request
    [AccessToken][]

+ Parameters
    + TradingEntityId: AB (required, string)
    + Property (optional, enum[string])
       + Members
            + ContractTermId (optional, string) 
            + EDICode (optional, string)
            + Status (optional, string)
    + PropertyValue (optional, string, `O`)

+ Response 200 (application/json; charset=utf-8)
    + Attributes
        + Data (array[ContractTerm])
        + Pagination (Pagination)
        + Response (200 SuccessResponse)
    
+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 BadPropertyResponse)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

## PackingType List [/ReferenceData/{TradingEntityId}/Physicals/PackingType/{Property}/{PropertyValue}]
Codes used to describe the units of packing applied in physical contracts.
### List PackingTypes [GET]

|property|description|type|max length|notes|constraint|
|--------|-----------|----|----------|-----|----------|
|PackingTypeId|cmy23_packcode|`string`|4||Unique Key |
|PackingTypeDescription|cmy23_descr|`string`|70|||
|EDICode|master_edicode|`string`|50|||
|Status|cmy23_inactive|`string`|1||`O` or `F`|

+ Request
    [AccessToken][]

+ Parameters
    + TradingEntityId: AB (required, string) ... identify specific trading entity
    + Property (optional, enum[string]) ... identify property name to filter by 
       + Members
            + PackingTypeId (optional, string) 
            + EDICode (optional, string)
            + Status (optional, string)
    + PropertyValue (optional, string, `O`) ... required if property specified.

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (array[PackingType])
        + Pagination (Pagination)
        + Response (200 SuccessResponse)
    
+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 BadPropertyResponse)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

## PaymentTerm List [/ReferenceData/{TradingEntityId}/Physicals/PaymentTerm/{Property}/{PropertyValue}]
`Updated` in release

Codes used to describe terms of payment applied to physical contracts through to accounting
### List PaymentTerms [GET]
|property|description|type|max length|notes|constraint|
|--------|-----------|----|----------|-----|----------|
|PaymentTermId|cmy15_pterms|`string`|8|||
|PaymentTermDescription|cmy15_descr|`string`|99|||
|DocumentText|cmy15_text|`string`|8000|||
|EDICode|cmy15_altcode|`string`|20|||
|Status|cmy15_inactive|`string`|1|||
|NumberOfDaysCredit |cmy15_creditdays|`number`||`new`||


+ Request
    [AccessToken][]
    
+ Parameters
    + TradingEntityId: AB (required, string) ... identify specific trading entity
    + Property (optional, enum[string]) ... identify property name to filter by 
       + Members
            + PaymentTermsId (optional, string) 
            + EDICode (optional, string)
            + Status (optional, string)
    + PropertyValue (optional, string, `O`) ... required if property specified.

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (array[PaymentTerm])
        + Pagination (Pagination)
        + Response (200 SuccessResponse)
    
+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 BadPropertyResponse)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

## Port List [/ReferenceData/{TradingEntityId}/Physicals/Port/{Property}/{PropertyValue}]
Codes used to identify physical port locations.
### List Ports [GET]
|property|description|type|max length|notes|constraint|
|--------|-----------|----|----------|-----|----------|
|PortId|cmy16_port|`string`|8|||
|PortDescription|cmy16_descr|`string`|60|||
|DocumentText|cmy16_text|`string`|4000|||
|CountryCode|cmy16_ctry|`string`|3|||
|EDICode|cmy16_localcode|`string`|10|||
|Status|cmy16_inactive|`string`|1|||

+ Request
    [AccessToken][]

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (array [Port List])
        + Pagination (Pagination)
        + Response (200 SuccessResponse)
    
+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 BadPropertyResponse)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

## Sample List [/ReferenceData/{TradingEntityId}/Physicals/Sample/{Property}/{PropertyValue}]
Codes used to identify specific product qualities.
### List Samples [GET]

|property|description|type|max length|notes|constraint|
|--------|-----------|----|----------|-----|----------|
|SampleId|cmy36_sample|`string`|4||Unique Key |
|SampleDescription|cmy36_descr|`string`|50|||
|DocumentText|cmy36_text|`string`|4000|||
|NoOfCopiesRequired|cmy36_copies|`number`||||


+ Request
    [AccessToken][]

+ Parameters
    + TradingEntityId: AB (required, string) ... identify specific trading entity
    + Property (optional, enum[string]) ... identify property name to filter by 
       + Members
            + SampleId (optional, string,) 
    + PropertyValue (optional, string, `abc123`) ... required if property specified.

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (array[Sample])
        + Pagination (Pagination)
        + Response (200 SuccessResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 BadPropertyResponse)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

## ShippingStatus List [/ReferenceData/{TradingEntityId}/Physicals/ShippingStatus/{Property}/{PropertyValue}]
Codes used to classify the status in terms of movement, useful for reporting purposes.
### List ShippingStatuses [GET]

|property|description|type|max length|notes|constraint|
|--------|-----------|----|----------|-----|----------|
|ShippingStatusId|cmy28_afi|`string`|2||Unique Key |
|ShippingStatusDescription|cmy28_descr|`string`|50|||

+ Request
    [AccessToken][]

+ Parameters
    + TradingEntityId: AB (required, string) ... identify specific trading entity
    + Property (optional, enum[string]) ... identify property name to filter by 
       + Members
            + ShippingStatusId (optional, string,) 
    + PropertyValue (optional, string, `OR`) ... required if property specified.

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (array[ShippingStatus])
        + Pagination (Pagination)
        + Response (200 SuccessResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 BadPropertyResponse)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

## Terminal List [/ReferenceData/{TradingEntityId}/Physicals/Terminal/{Property}/{PropertyValue}]
Codes used to identify specific terminal location, useful for reporting purposes.
### List Terminals [GET]

|property|description|type|max length|notes|constraint|
|--------|-----------|----|----------|-----|----------|
|TerminalId|cmy21_terminal|`string`|4|||
|TerminalDescription|cmy21_descr|`string`|50|||
|CountryCode|cmy21_ctry|`string`|3||must exist in gf_boec|


+ Request
    [AccessToken][]

+ Parameters
    + TradingEntityId: AB (required, string) ... identify specific trading entity
    + Property (optional, enum[string]) ... identify property name to filter by 
       + Members
            + TerminalId (optional, string) 
    + PropertyValue (optional, string, `O`) ... required if property specified.

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (array[Terminal])
        + Pagination (Pagination)
        + Response (200 SuccessResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 BadPropertyResponse)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

## Vessel List [/ReferenceData/{TradingEntityId}/Physicals/Vessel/{Property}/{PropertyValue}]
List of Vessel names that can be applied as part of any physical logistics strategy
### List Vessels [GET]
|property|description|type|max length|notes|constraint|
|--------|-----------|----|----------|-----|----------|
|VesselId|ves01_vessel|`string`|30|||
|VesselDescription|ves01_descr|`string`|50|||
|CountryCode|ves01_flag|`string`|3|||
|Status|ves01_inactive|`string`|1|||

+ Request
    [AccessToken][]

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (array [Vessel List])
        + Pagination (Pagination)
        + Response (200 SuccessResponse)
    
+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 BadPropertyResponse)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

## Weight List [/ReferenceData/{TradingEntityId}/Physicals/Weight/{Property}/{PropertyValue}]
Codes used to describe the units of measurement applied in physical contracts.
### List Weights [GET]

|property|description|type|max length|notes|constraint|
|--------|-----------|----|----------|-----|----------|
|WeightId|cmy11_wtcode|`string`|4||Unique Key |
|WeightDescription|cmy11_descr|`string`|50|||
|DocumentText|cmy11_text|`string`|4000|||
|DecimalPlacesPresentation|cmy11_plc|`number`||||
|ConversionFactorToKilos|cmy11_conversion|`number`|24,17|||
|EDICode|cmy11_altcode|`string`|50|||
|Status|cmy11_inactive|`string`|1||`O` or `F`|

+ Request
    [AccessToken][]

+ Parameters
    + TradingEntityId: AB (required, string) ... identify specific trading entity
    + Property (optional, enum[string]) ... identify property name to filter by 
       + Members
            + WeightId (optional, string) 
            + EDICode (optional, string)
            + Status (optional, string)
    + PropertyValue (optional, string, `abc123`) ... required if property specified.

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (array[Weight])
        + Pagination (Pagination)
        + Response (200 SuccessResponse)
    
+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 BadPropertyResponse)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)


# Group WIP Reference Data
WIP Ledger related reference data.

## Charter [/ReferenceData/{TradingEntityId}/WIPLedger/Charter/{CharterId}]
Charter profile – restricted by WIPAccountType of `C`.
### Read Charter [GET]



|property|description|type|max length|notes|constraint|
|--------|-----------|----|----------|-----|----------|
|CharterId|cna50_acc|`string`|11||required|
|CharterDescription|cna50_descr|`string`|60||required|
|Department||`object`||see <a href="/#reference/nominal-reference-data/department/department-list">Department</a> endpoint||
|Commodity||`object`||see <a href"/#reference/physicals-reference-data/commodities-list">Commodies List</a> endpoint||
|NominalAccount||`object`||Nominal Account delivered as an <a href="/#reference/data-object-definitions/accountheader">AccountHeader</a> object||
|ShipmentStatus|cna50_afi|`string`|2|see <a href"/#reference/physicals-reference-data/shippingstatus-list/list-shippingstatuses">ShippingStatus</a> endpoint|~
|VesselReference|cna50_vessel|`string`|30|||
|ShippingLine|cna50_shippingline|`string`|10|Shipping Line delivered as an <a href="/#reference/data-object-definitions/accountheader">AccountHeader</a> object||||
|PrivilegeLevel|cna50_priv|`number`|||0-9|
|EDICode|cna50_c2cacc|`string`|9|||
|Status|cna50_status|`string`|1||`O` or `F`|

+ Request
    [AccessToken][]
    
+ Parameters
    + TradingEntityId (required, string, `JT`) 
    + CharterId (required, string, `CHART01.000`)

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (Charter)
        + Response (200 SuccessResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 Response)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)


## Charter List [/ReferenceData/{TradingEntityId}/WipLedger/Charter/{Property}/{PropertyValue}]
List of charter profiles – restricted by WIPAccountType of `C`.
### List Charter [GET]


|property|description|type|max length|notes|constraint|
|--------|-----------|----|----------|-----|----------|
|CharterId|cna50_acc|`string`|11|filter||
|CharterDescription|cna50_descr|`string`|60|||
|DepartmentCode|cna50_dept|`string`|4|||
|CommodityCode|phys01_commod, phys01_origin, phys01_grade, phys01_cmycode4, phys01_cmycode5|`string`|50||`Composite Key` delimited by double pipe "&#124;&#124;"|
|NominalAccountCode|cna50_liqplacc|`string`|9|||
|ShipmentStatusCode|cna50_afi|`string`|2|filter||
|VesselReference|cna50_vessel|`string`|30|||
|ShippingLineCode|cna50_shippingline|`string`|10|||
|PrivilegeLevel|cna50_priv|`number`|||0-9|
|EDICode|cna50_c2cacc|`string`|9|filter||
|Status|cna50_status|`string`|1|filter|`O` or `F`|


+ Request
    [AccessToken][]

+ Parameters
    + TradingEntityId: AB (required, string) ... identify specific trading entity
    + Property (optional, enum[string]) ... identify property name to filter by 
       + Members
            + CharterId (optional, string) 
            + ShippingStatusCode (optional, string)
            + EdiCode (optional, string)
            + Status (optional, string)
    + PropertyValue (optional, string, `abc`) ... required if property specified.

+ Response 200 (application/json; charset=utf-8)
    + Attributes (object)
        + Data (array [Charter List])
        + Pagination (Pagination)
        + Response (200 SuccessResponse)

    
+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 BadPropertyResponse)
    
+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)



## StockUnit [/ReferenceData/{TradingEntityId}/WipLedger/StockUnit/{StockUnitId}]
Stock Account profile - restricted by WIPAccountType of `S`.
### Read StockUnit [GET]

|property|description|type|max length|notes|constraint|
|--------|-----------|----|----------|-----|----------|
|StockUnitId|cna50_acc|`string`|11|||
|StockUnitDescription|cna50_descr|`string`|60|||
|Terminal||`object`||see <a href="/#reference/physicals-reference-data/terminals-list">Terminals List</a> endpoint||
|Department||`object`||see <a href="/#reference/nominal-reference-data/department/department-list">Department</a> endpoint||
|Commodity||`object`||see <a href"/#reference/physicals-reference-data/commodities-list">Commodity List</a> endpoint||
|NominalAccount||`object`||Nominal Account delivered as an <a href="/#reference/data-object-definitions/accountheader">AccountHeader</a> object||
|StockOwner||`object`||Stock Owner delivered as an <a href="/#reference/data-object-definitions/accountheader">AccountHeader</a> object||
|ReleaseState|cna50_siemenrel|`number`||||
|CurrentStatus|cna50_siemenstatus|`number`||||
|PrivilegeLevel|cna50_priv|`number`|||0-9|
|EDICode|cna50_c2cacc|`string`|9|||
|Status|cna50_status|`string`|1||`O` or `F`|

+ Request
    [AccessToken][]
    
+ Parameters
    + TradingEntityId (required, string, `JT`) 
    + StockUnitId (required, string, `5100.MEP`)

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (StockUnit)
        + Response (200 SuccessResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 Response)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)


## StockUnit List [/ReferenceData/{TradingEntityId}/WipLedger/StockUnit/{Property}/{PropertyValue}]
Stock Account profile – restricted by WIPAccountType of `S`.
### List StockUnits [GET]

|property|description|type|max length|notes|constraint|
|--------|-----------|----|----------|-----|----------|
|StockUnitId|cna50_acc|`string`|11|filter||
|StockUnitDescription|cna50_descr|`string`|60|||
|TerminalCode|cna50_terminal|`string`|4||must exist in xx_cmy21|
|DepartmentCode|cna50_dept|`string`|4||must exist in xx_cmy102|
|CommodityCode|phys01_commod, phys01_origin, phys01_grade, phys01_cmycode4, phys01_cmycode5|`string`|50||`Composite Key` delimited by double pipe "&#124;&#124;"|
|NominalAccountCode|cna50_liqplacc|`string`|9||must exist in xx_nhr20|
|StockOwnerCode|cna50_vendor|`string`|50||must exist in xx_chr20|
|ReleaseState|cna50_siemenrel|`number`||||
|CurrentStatus|cna50_siemenstatus|`number`||||
|PrivilegeLevel|cna50_priv|`number`|||0-9|
|EDICode|cna50_c2cacc|`string`|9|filter||
|Status|cna50_status|`string`|1|filter|`O` or `F`|

+ Request
    [AccessToken][]

+ Parameters
    + TradingEntityId: AB (required, string) ... identify specific trading entity
    + Property (optional, enum[string]) ... identify property name to filter by 
       + Members
            + StockunitId (optional, string) 
            + TerminalCode (optional, string)
            + EdiCode (optional, string)
            + Status (optional, string)
    + PropertyValue (optional, string, `abc`) ... required if property specified.

+ Response 200 (application/json; charset=utf-8)
    + Attributes
        + Data (array [StockUnitList])
        + Pagination (Pagination)
        + Response (200 SuccessResponse)
    
+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 BadPropertyResponse)
    
+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)



## WIP Account [/ReferenceData/{TradingEntityId}/WipLedger/WipAccount/{WipAccountId}]
Charter profile
### Read WIP Account [GET]


|property|description|type|max length|notes|constraint|
|--------|-----------|----|----------|-----|----------|
|WIPAccountId|cna50_acc|`string`|11||required|
|WIPAccountDescription|cna50_descr|`string`|60||required|
|WIPAccountType|cna50_acctype|`string`|1|||
|Department||`object`|4|see <a href="/#reference/nominal-reference-data/department/read-department">Department</a> object||
|NominalAccount||`object`|9|see <a href="/#reference/data-object-definitions/accountheader">AccountHeader</a> object||
|PrivilegeLevel|cna50_priv|`number`|||0-9|
|EDICode|cna50_c2cacc|`string`|9|||
|Status|cna50_status|`string`|1||`O` or `F`|


+ Request
    [AccessToken][]
    
+ Parameters
    + TradingEntityId (required, string, `JT`) 
    + WipAccountId (required, string, `5100.MEP`)

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (WIPAccount)
        + Response (200 SuccessResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 Response)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)


## WIP Account List [/ReferenceData/{TradingEntityId}/WipLedger/WIPAccount/{Property}/{PropertyValue}]
List of charter profiles.
### List WIP Accounts [GET]


|property|description|type|max length|notes|constraint|
|--------|-----------|----|----------|-----|----------|
|WIPAccountId|cna50_acc|`string`|11|filter|required|
|WIPAccountDescription|cna50_descr|`string`|60||required|
|WIPAccountType|cna50_acctype|`string`|1|filter||
|DepartmentCode|cna50_dept|`string`|4|||
|NominalAccountCode|cna50_liqplacc|`string`|9|||
|PrivilegeLevel|cna50_priv|`number`|||0-9|
|EDICode|cna50_c2cacc|`string`|9|filter||
|Status|cna50_status|`string`|1|filter|`O` or `F`|



+ Request
    [AccessToken][]

+ Parameters
    + TradingEntityId: AB (required, string) ... identify specific trading entity
    + Property (optional, enum[string]) ... identify property name to filter by 
       + Members
            + WIPAccountId (optional, string) 
            + WIPAccountType (optional, string)
            + EdiCode (optional, string)
            + Status (optional, string)
    + PropertyValue (optional, string, `abc`) ... required if property specified.

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (array[WIPAccount List])
        + Pagination (Pagination)
        + Response (200 SuccessResponse)
    
+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 BadPropertyResponse)
    
+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)


# Group Accounting>Transactions
Data Objects and endpoints providing access to accounting transactions generated through ITAS processes.

## Posted Transaction [/Accounting/{TradingEntityId}/Transaction/PostedTransaction/{DocumentReference}]
Provides access to full accounting ledger by Document Reference.
### Read Posted Transaction [GET]


|property|description|type|max length|notes|constraint|
|--------|-----------|----|----------|-----|----------|
|DocumentReference|txx_docref|`string`|9|||
|AccountLedgerType|txx_acctype|`string`|1|`C`, `N` or `K`||
|TransactionKey|txx_account, txx_ccy, txx_period, txx_postdate, txx_posttime|`string`|50|filter|`Composite Key` delimited by double pipe "&#124;&#124;"|
|Account||`object`||see <a href="/#reference/data-object-definitions/accountheader">AccountHeader</a> object||
|DocumentCurrency||`object`||see <a href="/#reference/nominal-reference-data/nominalaccount">Currency</a> endpoint||
|AccountingPeriod|txx_period|`number`||||
|PostingDate|txx_postdate|`number`||||
|PostingTime|txx_posttime|`number`||||
|DocumentDate|txx_ddate|`datetime`||||
|ValueDate|txx_vdate|`datetime`||||
|FunctionalCurrency||`object`||see <a href="/#reference/nominal-reference-data/nominalaccount">Currency</a> endpoint||
|AmountInDocumentCurrency|txx_amt|`number`||||
|AmountInFunctionalCurrency|txx_namt|`number`||||
|AmountInLocalCurrency|txx_namt2|`number`||||
|RateOfExchangeApplied|txx_roe|`number`|18,8|||
|RateOfExchangeType|txx_roetype|`string`|1|||
|WeightInQtyCode|txx_units|`number`||||
|ContractReference|txx_contractno|`string`|10|||
|Expense||`object`||see <a href="/#reference/global-reference-data/currency-list">Currency</a> endpoint||
|Department||`object`||see <a href="/#reference/nominal-reference-data/department">Department</a> endpoint||
|PaymentTerm||`object`||see <a href="/#reference/physicals-reference-data/paymentterm-list">PaymentTerm</a> endpoint||
|VatRate||`object`||see <a href="/#reference/nominal-reference-data/vat-rate-list">VATRate</a> endpoint||
|ClientReference|txx_cliref|`string`|25|||
|Narrative|txx_narr|`string`|30|||
|MarketReference|txx_comod|`string`|8|||
|PromptMonth|txx_delp|`number`||||
|OptionType|txx_extype|`string`|1|||
|CommodityReference|txx_component|`string`|15|||
|TransactionIsMatched|txx_matchflg|`boolean`||||
|PreMatchDocumentReference|txx_prematch|`string`|9|||


+ Request
    [AccessToken][]
    
+ Parameters
    + TradingEntityId (required, string, `JT`) 
    + DocumentReference (required, string, `PI1500000`)

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (array [PostedTransaction])
        + Pagination (Pagination)
        + Response (200 SuccessResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 Response)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)



## UnPosted Transaction [/Accounting/{TradingEntityId}/Transaction/UnPostedTransaction/{DocumentReference}]
Provides access to financial transaction details yet to be posted to the ledgers (either held-authorised or not authorised) by Document Reference.
### Read Unposted Transaction [GET]


|property|description|type|max length|notes|constraint|
|--------|-----------|----|----------|-----|----------|
|DocumentReference|dhl21_docref|`string`|9|||
|AccountLedgerType|dhlxx_ledger|`string`|1|`C`, `N` or `K`||
|DocumentDate|dhl21_ddate|`datetime`||||
|ValueDate|dhl21_vdate|`datetime`||||
|Account||`object`||see <a href="/#reference/data-object-definitions/accountheader">AccountHeader</a> object||
|DocumentCurrency||`object`||see <a href="/#reference/nominal-reference-data/nominalaccount">Currency</a> endpoint||
|AmountInDocumentCurrency|dhlxx_amount|`number`||||
|FunctionalCurrency||`object`||see <a href="/#reference/nominal-reference-data/nominalaccount">Currency</a> endpoint||
|AmountInFunctionalCurrency|dhlxx_namt|`number`||||
|AmountInLocalCurrency|dhlxx_namt2|`number`||||
|RateOfExchangeApplied|dhl21_roe|`number`|18,8|||
|RateOfExchangeType|dhl21_roetype|`string`|1||‘M’, ‘D’|
|WeightInQtyCode|dhlxx_qty|`number`||||
|ContractReference|dhlxx_contractno|`string`|10|||
|Expense||`object`||see <a href="/#reference/global-reference-data/currency-list">Currency</a> endpoint||
|Department||`object`||see <a href="/#reference/nominal-reference-data/department">Department</a> endpoint||
|PaymentTerm||`object`||see <a href="/#reference/physicals-reference-data/paymentterm-list">PaymentTerm</a> endpoint||
|VatRate||`object`||see <a href="/#reference/nominal-reference-data/vat-rate-list">VATRate</a> endpoint||
|ClientReference|dhlxx_cliref|`string`|25|||
|Narrative|dhlxx_narr|`string`|30|||
|MarketReference|dhl21_comod|`string`|8|||
|PromptMonth|dhl21_prompt|`number`||||
|OptionType|dhl21_extype|`string`|1||‘C’, ‘P’, ‘ ‘|
|CommodityReference|dhlxx_component|`string`|15|||


+ Request
    [AccessToken][]
    
+ Parameters
    + TradingEntityId (required, string, `JT`) 
    + DocumentReference (required, string, `CN1600001`)

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (array [UnPostedTransaction])
        + Pagination (Pagination)
        + Response (200 SuccessResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 Response)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)



## Transaction Header [/Accounting/{TradingEntityId}/Transaction/TransactionHeader/{DocumentReference}]
Document summary information including properties specific to integration requirements.
### Update Transaction Header [PUT]


|property|description|type|max length|notes|constraint|
|--------|-----------|----|----------|-----|----------|
|DocumentReference|xtx01_docref|`string`|9||required|
|EDICode|xtx01_axdocref|`string`|25|||
|InterfaceStatus|xtx01_senttocashman|`string`|1|||
|PostedDate|xtx01_postdatetime|`datetime`||||
|DocumentDate|xtx01_txxddate|`datetime`||||

+ Request (application/json)
    + Header

            AccessToken: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1bmlxdWVfbmFtZSI6ImRlZXBhayIsInN1YiI6ImRlZXBhayIsInJvbGUiOlsiNzk5YjhhNDEtYWI0ZS00MTBhLWI5MTktYzU3ZWFlMmFlMDI5IiwiZGVlcGFrIiwiQVNQLk5FVCBJZGVudGl0eSIsIjViNDE4ODE2LTI3ZjQtNGRlOC1iNmMyLTJlZTcxNjI3ZmJmYyIsIkFkbWluIiwiU3VwZXJBZG1pbiJdLCJpc3MiOiJodHRwOi8vbG9jYWxob3N0OjgwMjciLCJhdWQiOiI4MjkzNjk0MjJmNzA0NTIzODUxZDk4NTU2YjZkNTQyYiIsImV4cCI6MTQ1OTQzMjk0MSwibmJmIjoxNDU5NDMxMTQxfQ.JgPGxt0Ok5baKx0YMXlO6D9kUYrCWM-Kma9b9iMW8tg

    + Attributes (TransactionHeader)
    
+ Parameters
    + TradingEntityId (required, string, `JT`) 
    + DocumentReference (required, string, `CN1600001`)

+ Response 201 (application/json; charset=utf-8)
    + Attributes 
        + Data
            + DocumentReference: CN1600001 (string)
        + Response (201 UpdateResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 Response)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

### Delta Update Transaction Header [PATCH]


|property|description|type|max length|notes|constraint|
|--------|-----------|----|----------|-----|----------|
|DocumentReference|xtx01_docref|`string`|9||required|
|EDICode|xtx01_axdocref|`string`|25|||
|InterfaceStatus|xtx01_senttocashman|`string`|1|||

+ Request (application/json)
    + Header

            AccessToken: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1bmlxdWVfbmFtZSI6ImRlZXBhayIsInN1YiI6ImRlZXBhayIsInJvbGUiOlsiNzk5YjhhNDEtYWI0ZS00MTBhLWI5MTktYzU3ZWFlMmFlMDI5IiwiZGVlcGFrIiwiQVNQLk5FVCBJZGVudGl0eSIsIjViNDE4ODE2LTI3ZjQtNGRlOC1iNmMyLTJlZTcxNjI3ZmJmYyIsIkFkbWluIiwiU3VwZXJBZG1pbiJdLCJpc3MiOiJodHRwOi8vbG9jYWxob3N0OjgwMjciLCJhdWQiOiI4MjkzNjk0MjJmNzA0NTIzODUxZDk4NTU2YjZkNTQyYiIsImV4cCI6MTQ1OTQzMjk0MSwibmJmIjoxNDU5NDMxMTQxfQ.JgPGxt0Ok5baKx0YMXlO6D9kUYrCWM-Kma9b9iMW8tg

    + Attributes (TransactionHeaderDelta)

+ Parameters
    + TradingEntityId (required, string, `JT`) 
    + DocumentReference (required, string, `CN1600001`)

+ Response 201 (application/json; charset=utf-8)
    + Attributes 
        + Data
            + DocumentReference: CN1600001 (string)
        + Response (201 UpdateResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 Response)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

## Transaction Header List [/Accounting/{TradingEntityId}/Transaction/TransactionHeader/{Property}/{PropertyValue}]
Document summary information including properties specific to integration requirements.
### List Transaction Headers [GET]


|property|description|type|max length|notes|constraint|
|--------|-----------|----|----------|-----|----------|
|DocumentReference|xtx01_docref|`string`|9||required|
|EDICode|xtx01_axdocref|`string`|25|||
|InterfaceStatus|xtx01_senttocashman|`string`|1|||
|PostedDate|xtx01_postdatetime|`datetime`||||
|DocumentDate|xtx01_txxddate|`datetime`||||

+ Request
    [AccessToken][]

+ Parameters
    + TradingEntityId: AB (required, string) 
    + Property (optional, enum[string])  
       + Members
            + DocumentReference (optional, string) 
            + EDICode (optional, string)
    + PropertyValue (optional, string, `abc`)

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (array [TransactionHeader List])
        + Pagination (Pagination)
        + Response (200 SuccessResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 Response)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)


# Group Contract>Physical

## Physical Trade [/Contract/{TradingEntityId}/Physical/PhysicalTrade/{ContractId}]
Principle Physical Contract (agreement) details
### Read Physical Trade  [GET]


|property|description|type|max length|notes|constraint|
|--------|-----------|----|----------|-----|----------|
|ContractId|phys01_contract|`string`|10||`KEY`|
|ContractType|phys01_contype|`string`|1|||
|ContractDate|phys01_condate|`number`||||
|Department||`object`||see <a href="/#reference/nominal-reference-data/department">Department</a> endpoint||
|Trader||`object`||see <a href="/#reference/global-reference-data/useraccount-list">UserAccount List</a> endpoint||
|ClientReference|phys01_clref|`string`|40|||
|Buyer||`object`||see <a href="/#reference/data-object-definitions">Account Header</a> object||
|Seller||`object`||see <a href="/#reference/data-object-definitions">Account Header</a> object||
|Counterparty||`object`||see <a href="/#reference/data-object-definitions">Account Header</a> object||
|Commodity||`object`||see <a href="/#reference/physicals-reference-data/commodity-list/list-commodities">Commodity List</a> endpoint||
|PaymentTerm||`object`||see <a href="/#reference/physicals-reference-data/paymentterm-list/list-paymentterms">PaymentTerm List</a> endpoint||
|ContractTerm||`object`||see <a href="/#reference/physicals-reference-data/contract-term-list/list-contractterms">ContractTerm List</a> endpoint||
|ContractTermPort||`object`||see <a href="/#reference/physicals-reference-data/port-list/list-ports">Port List</a> endpoint||
|UnitOfMeasurement||`object`||see <a href="/#reference/physicals-reference-data/weight-list/list-weights">Weight List</a> endpoint||
|OriginalContractQuantity|phys01_origquan|`number`||||
|CurrentContractQuantity|phys01_conquan|`number`||||
|ContractStatus|phys01_status|`string`|1|||
|ContractApproved|phys01_approved|`string`|1|||


+ Request
    [AccessToken][]
    
+ Parameters
    + TradingEntityId (required, string, `JT`) 
    + ContractId (required, string, `P40000.000`)

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (PhysicalTrade)
        + Response (200 SuccessResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 Response)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

## Physical Trade List [/Contract/{TradingEntityId}/Physical/PhysicalTrade/{Property}/{PropertyValue}]
List of Principle Physical Contracts (agreements)
### List Physical Trades  [GET]


|property|description|type|max length|notes|constraint|
|-------|-----------|----|----------|-----|----------|
|ContractId|phys01_contract|`string`|10|filter|`KEY`|
|ContractType|phys01_contype|`string`|1||‘P’, ‘S’|
|ContractDate|phys01_condate|`datetime`||||
|DepartmentCode|phys01_dept|`string`|4|filter||
|TraderCode|phys01_trader|`string`|3|filter||
|ClientReference|phys01_clref|`string`|40|||
|BuyerAccountCode|phys01_buyer|`string`|10|||
|SellerAccountCode|phys01_seller|`string`|10|||
|CounterpartyCode|phys01_counterparty|`string`|10|filter||
|CommodityCode| phys01_commod, phys01_origin, phys01_grade, phys01_cmycode4, phys01_cmycode5|`string`|50||`Composite Key` delimited by double pipe "&#124;&#124;"|
|PaymentTermCode|phys01_payterms|`string`|8|||
|ContractTermCode|phys01_conterms|`string`|8|||
|ContractTermPortCode|phys01_contermsport|`string`|8|||
|UnitOfMeasurementCode|phys01_wtcode|`string`|4|||
|OriginalContractQuantity|phys01_origquan|`number`||||
|CurrentContractQuantity|phys01_conquan|`number`||||
|ContractStatus|phys01_status|`string`|1|filter|‘O’, ‘C’, ‘Q’|
|ContractApproved|phys01_approved|`boolean`|1|filter||



+ Request
    [AccessToken][]

+ Parameters
    + TradingEntityId: AB (required, string) 
    + Property (optional, enum[string])  
       + Members
            + ContractId (optional, string) 
            + DepartmentCode (optional, string)
            + TraderCode (optional, string)
            + CounterpartyCode (optional, string)
            + ContractStatus (optional, string)
            + ContractApproved (optional, string)
    + PropertyValue (optional, string, `P40000.000`)

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (array [PhysicalTrade List])
        + Pagination (Pagination)
        + Response (200 SuccessResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 Response)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

## Physical Trade Commission [/Contract/{TradingEntityId}/Physical/PhysicalTradeCommission/{ContractId}]
Broker commissions held against Physical Contracts.
### Read Physical Trade Commission [GET]


|property|description|type|max length|notes|constraint|
|--------|-----------|----|----------|-----|----------|
|ContractId|phys02_contract|`string`|10|||
|AgentAccount|phys02_agent|`object`|10|||
|AgentReference|phys02_agref|`string`|40|||

+ Request
    [AccessToken][]
    
+ Parameters
    + TradingEntityId (required, string, `JT`) 
    + ContractId (required, string, `P40000.000`)

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (PhysicalTradeCommission)
        + Response (200 SuccessResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 Response)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

## Physical Trade Commissions List [/Contract/{TradingEntityId}/Physical/PhysicalTradeCommission/{Property}/{PropertyValue}]
List of Broker commissions held against Physical Contracts.
### List Physical Trade Commissions [GET]


|property|description|type|max length|notes|constraint|
|--------|-----------|----|----------|-----|----------|
|ContractId|phys02_contract|`string`|10|||
|AgentAccountCode|phys02_agent|`string`|10|||
|AgentReference|phys02_agref|`string`|40|||

+ Request
    [AccessToken][]

+ Parameters
    + TradingEntityId: AB (required, string) 
    + Property (optional, enum[string])  
       + Members
            + ContractId (optional, string) 
            + AgentAccountCode (optional, string)
    + PropertyValue (optional, string, `abc`)

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (array [PhysicalTradeCommission List])
        + Pagination (Pagination)
        + Response (200 SuccessResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 Response)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

## Physical Trade Shipments List [/Contract/{TradingEntityId}/Physical/PhysicalTradeShipment/{Property}/{PropertyValue}]
List of Logistics information for Physical Contracts.
### List Physical Trade Shipment [GET]
`Updated` in release 2.5

|property|description|type|max length|notes|constraint|
|--------|-----------|----|----------|-----|----------|
|ContractId|phys01_contract|`string`|10|||
|VesselReference|phys01_vessel|`string`|30|||
|BillOfLadingDate|phys01_bldate|`datetime`||||
|BillOfLadingReference|phys01_blref|`string`|255|||
|DocumentsAcknowledged|phys01_docsrec|`boolean`||`new`||
|DocumentsAcknowledgedDate |phys01_docsrecdate|`datetime`||`new`||


+ Request
    [AccessToken][]

+ Parameters
    + TradingEntityId: AB (required, string) 
    + Property (optional, enum[string])  
       + Members
            + ContractId (optional, string) 
            + VesselReference (optional, string)
    + PropertyValue (optional, string, `abc`)

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (array [PhysicalTradeShipment List])
        + Pagination (Pagination)
        + Response (200 SuccessResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 Response)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

# Group Finance>Cash
Data Objects and endpoints providing access to cash create, match and authorisation functionality.

## AuthoriseForPosting [/Finance/{TradingEntityId}/Cash/AuthoriseForPosting/{DocumentReference}]
Authorise an entity to be added to the Posting process.
### AuthoriseForPosting [PUT]


<strong>URI Parameters</strong>


|property|description|type|max length|notes|constraint|
|--------|-----------|----|----------|-----|----------|
|DocumentReference|dhl21_docref|`string`|9|`required'||

<strong>Body Parameters</strong>
<br />
None.

+ Parameters
    + TradingEntityId (required, string, `JT`) 
    + DocumentReference (required, string, `abc123`)

+ Request (application/json)
    + Header

            AccessToken: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1bmlxdWVfbmFtZSI6ImRlZXBhayIsInN1YiI6ImRlZXBhayIsInJvbGUiOlsiNzk5YjhhNDEtYWI0ZS00MTBhLWI5MTktYzU3ZWFlMmFlMDI5IiwiZGVlcGFrIiwiQVNQLk5FVCBJZGVudGl0eSIsIjViNDE4ODE2LTI3ZjQtNGRlOC1iNmMyLTJlZTcxNjI3ZmJmYyIsIkFkbWluIiwiU3VwZXJBZG1pbiJdLCJpc3MiOiJodHRwOi8vbG9jYWxob3N0OjgwMjciLCJhdWQiOiI4MjkzNjk0MjJmNzA0NTIzODUxZDk4NTU2YjZkNTQyYiIsImV4cCI6MTQ1OTQzMjk0MSwibmJmIjoxNDU5NDMxMTQxfQ.JgPGxt0Ok5baKx0YMXlO6D9kUYrCWM-Kma9b9iMW8tg

    + Body 
    
            {
                none
            }



+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data
            + DocumentReference: abc123 (string)
        + Response (200 AuthoriseResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 Response)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

## PayableManual [/Finance/{TradingEntityId}/Cash/PayableManual]
Allows generic cash payments to be created between multiple accounts  
### Create PayableManual [POST]


|property|description|type|max length|notes|constraint|
|--------|-----------|----|----------|-----|----------|
|DocumentBody||`object`||see <a href="/#reference/data-object-definitions/documentdetails/documentdetails">Document Details</a> object|`required`|
|AccountDetails||[array] of `object`||see <a href="/#reference/data-object-definitions/accountpostingdetails/accountpostingdetails">Account Posting Details</a> object|`required`|

+ Parameters
    + TradingEntityId (required, string, `JT`) 

+ Request (application/json)
    + Header

            AccessToken: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1bmlxdWVfbmFtZSI6ImRlZXBhayIsInN1YiI6ImRlZXBhayIsInJvbGUiOlsiNzk5YjhhNDEtYWI0ZS00MTBhLWI5MTktYzU3ZWFlMmFlMDI5IiwiZGVlcGFrIiwiQVNQLk5FVCBJZGVudGl0eSIsIjViNDE4ODE2LTI3ZjQtNGRlOC1iNmMyLTJlZTcxNjI3ZmJmYyIsIkFkbWluIiwiU3VwZXJBZG1pbiJdLCJpc3MiOiJodHRwOi8vbG9jYWxob3N0OjgwMjciLCJhdWQiOiI4MjkzNjk0MjJmNzA0NTIzODUxZDk4NTU2YjZkNTQyYiIsImV4cCI6MTQ1OTQzMjk0MSwibmJmIjoxNDU5NDMxMTQxfQ.JgPGxt0Ok5baKx0YMXlO6D9kUYrCWM-Kma9b9iMW8tg

    + Attributes (PayableReceivableManual)

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (CashDocRefResponse)
        + Response (200 CreateResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 Response)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

## PayableOnAccount [/Finance/{TradingEntityId}/Cash/PayableOnAccount]
Allows cash payments to be created on account of existing (posted) accounting documents (e.g. Purchase Invoices) 
### Create PayableOnAccount [POST]


|property|description|type|max length|notes|constraint|
|--------|-----------|----|----------|-----|----------|
|DocumentBody||`object`||see <a href="/#reference/data-object-definitions/documentdetails/documentdetails">Document Details</a> object|`required`|
|BankDetails||`object`||see <a href="/#reference/data-object-definitions/accountpostingdetails/accountpostingdetails">Account Posting Details</a> object|`required`|
|TransactionsToMatch||[array] of `object`||see <a href="/#reference/data-object-definitions/onaccountdetails/onaccountdetails">On Account Details</a> object|`required`|
|OtherCosts||[array] of `object`||see <a href="/#reference/data-object-definitions/accountpostingdetails/accountpostingdetails">Account Posting Details</a> object||


+ Parameters
    + TradingEntityId (required, string, `JT`) 

+ Request (application/json)
    + Header

            AccessToken: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1bmlxdWVfbmFtZSI6ImRlZXBhayIsInN1YiI6ImRlZXBhayIsInJvbGUiOlsiNzk5YjhhNDEtYWI0ZS00MTBhLWI5MTktYzU3ZWFlMmFlMDI5IiwiZGVlcGFrIiwiQVNQLk5FVCBJZGVudGl0eSIsIjViNDE4ODE2LTI3ZjQtNGRlOC1iNmMyLTJlZTcxNjI3ZmJmYyIsIkFkbWluIiwiU3VwZXJBZG1pbiJdLCJpc3MiOiJodHRwOi8vbG9jYWxob3N0OjgwMjciLCJhdWQiOiI4MjkzNjk0MjJmNzA0NTIzODUxZDk4NTU2YjZkNTQyYiIsImV4cCI6MTQ1OTQzMjk0MSwibmJmIjoxNDU5NDMxMTQxfQ.JgPGxt0Ok5baKx0YMXlO6D9kUYrCWM-Kma9b9iMW8tg

    + Attributes (PayableReceivableOnAccount)

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (CashDocRefResponse)
        + Response (200 CreateResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 Response)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)


## ReceivableManual [/Finance/{TradingEntityId}/Cash/ReceivableManual]
Allows generic cash receipts to be created between multiple accounts  
### Create ReceivableManual [POST]


|property|description|type|max length|notes|constraint|
|--------|-----------|----|----------|-----|----------|
|DocumentBody||`object`||see <a href="/#reference/data-object-definitions/documentdetails/documentdetails">Document Details</a> object|`required`|
|AccountDetails||[array] of `object`||see <a href="/#reference/data-object-definitions/accountpostingdetails/accountpostingdetails">Account Posting Details</a> object|`required`|

+ Parameters
    + TradingEntityId (required, string, `JT`) 

+ Request (application/json)
    + Header

            AccessToken: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1bmlxdWVfbmFtZSI6ImRlZXBhayIsInN1YiI6ImRlZXBhayIsInJvbGUiOlsiNzk5YjhhNDEtYWI0ZS00MTBhLWI5MTktYzU3ZWFlMmFlMDI5IiwiZGVlcGFrIiwiQVNQLk5FVCBJZGVudGl0eSIsIjViNDE4ODE2LTI3ZjQtNGRlOC1iNmMyLTJlZTcxNjI3ZmJmYyIsIkFkbWluIiwiU3VwZXJBZG1pbiJdLCJpc3MiOiJodHRwOi8vbG9jYWxob3N0OjgwMjciLCJhdWQiOiI4MjkzNjk0MjJmNzA0NTIzODUxZDk4NTU2YjZkNTQyYiIsImV4cCI6MTQ1OTQzMjk0MSwibmJmIjoxNDU5NDMxMTQxfQ.JgPGxt0Ok5baKx0YMXlO6D9kUYrCWM-Kma9b9iMW8tg

    + Attributes (PayableReceivableManual)

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (CashDocRefResponse)
        + Response (200 CreateResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 Response)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)


## ReceivableOnAccount [/Finance/{TradingEntityId}/Cash/ReceivableOnAccount]
Allows cash receipts to be created on account of existing (posted) accounting documents (e.g. Sales Invoices) 
### Create ReceivableOnAccount [POST]


|property|description|type|max length|notes|constraint|
|--------|-----------|----|----------|-----|----------|
|DocumentBody||`object`||see <a href="/#reference/data-object-definitions/documentdetails/documentdetails">Document Details</a> object|`required`|
|BankDetails||`object`||see <a href="/#reference/data-object-definitions/accountpostingdetails/accountpostingdetails">Account Posting Details</a> object|`required`|
|TransactionsToMatch||[array] of `object`||see <a href="/#reference/data-object-definitions/onaccountdetails/onaccountdetails">On Account Details</a> object|`required`|
|OtherCosts||[array] of `object`||see <a href="/#reference/data-object-definitions/accountpostingdetails/accountpostingdetails">Account Posting Details</a> object||


+ Parameters
    + TradingEntityId (required, string, `JT`) 

+ Request (application/json)
    + Header

            AccessToken: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1bmlxdWVfbmFtZSI6ImRlZXBhayIsInN1YiI6ImRlZXBhayIsInJvbGUiOlsiNzk5YjhhNDEtYWI0ZS00MTBhLWI5MTktYzU3ZWFlMmFlMDI5IiwiZGVlcGFrIiwiQVNQLk5FVCBJZGVudGl0eSIsIjViNDE4ODE2LTI3ZjQtNGRlOC1iNmMyLTJlZTcxNjI3ZmJmYyIsIkFkbWluIiwiU3VwZXJBZG1pbiJdLCJpc3MiOiJodHRwOi8vbG9jYWxob3N0OjgwMjciLCJhdWQiOiI4MjkzNjk0MjJmNzA0NTIzODUxZDk4NTU2YjZkNTQyYiIsImV4cCI6MTQ1OTQzMjk0MSwibmJmIjoxNDU5NDMxMTQxfQ.JgPGxt0Ok5baKx0YMXlO6D9kUYrCWM-Kma9b9iMW8tg

    + Attributes (PayableReceivableOnAccount)

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (CashDocRefResponse)
        + Response (200 CreateResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 Response)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)



# Group Inventory>Physicals>Order Scheduling
Production Order scheduling services.

## DeliveryInOrder [/Inventory/{TradingEntityId}/Physicals/OrderScheduling/DeliveryInOrder/{ReleaseId}]
Orders (CallOffs) specifically representing incoming goods.
### Read DeliveryInOrder [GET]

|property|description|type|max length|notes|constraint|
|--------|-----------|----|----------|-----|----------|
|ReleaseId|phys09_releasenr|`number`|0|||
|ExpedOrderDetails||`object`||see <a href="/#reference/inventory-management/expedcalloff">ExpedCallOff</a> endpoint||
|PumpingMemo|phys09_pumpmemo|`string`|250|||
|ProcessComplete|phys09_processed|`boolean`|1|||
|TargetStockUnitCode||`object`||see <a href="/#reference/wip-reference-data/stockunit">StockUnit</a> endpoint||


+ Request
    [AccessToken][]
    
+ Parameters
    + TradingEntityId (required, string, `JT`) 
    + ReleaseId (required, number, `123`)

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (DeliveryInOrder)
        + Response (200 SuccessResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 Response)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

## DeliveryOutOrder [/Inventory/{TradingEntityId}/Physicals/OrderScheduling/DeliveryOutOrder/{ReleaseId}]
Orders (CallOffs) specifically representing outgoing goods.
### Read DeliveryOutOrder [GET]

|property|description|type|max length|notes|constraint|
|--------|-----------|----|----------|-----|----------|
|ReleaseId|phys09_releasenr|`number`|0|||
|ExpedOrderDetails||`object`||see <a href="/#reference/inventory-management/expedcalloff">ExpedCallOff</a> endpoint||
|PumpingMemo|phys09_pumpmemo|`string`|250|||
|ProcessComplete|phys09_processed|`boolean`|1|||
|SourceStockUnitCode||`[object]`|array of StockLoading objects|see <a href="/#reference/inventory-management/stockloading">StockLoading</a> endpoint||

+ Request
    [AccessToken][]
    
+ Parameters
    + TradingEntityId (required, string, `JT`) 
    + ReleaseId (required, number, `123`)

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (DeliveryOutOrder)
        + Response (200 SuccessResponse)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

## ExpedCallOff [/Inventory/{TradingEntityId}/Physicals/OrderScheduling/ExpedCallOff/{ReleaseId}]
Orders (CallOffs) generated through EXPED
### Read ExpedCallOffs [GET]

|property|description|type|max length|notes|constraint|
|--------|-----------|----|----------|-----|----------|
|ReleaseId|phys01_releasenr|`number`||||
|ContractType|phys01_contype|`string`|1|||
|ContractDate|phys01_condate|`number`||DateTime||
|DeliveryDate|phys01_startper|`number`||DateTime||
|Department||`object`||see <a href="/#reference/nominal-reference-data/departments">Departments List</a> endpoint||
|Counterparty||`object`||see <a href="/#reference/data-object-definitions/read-expedcalloffss">Account Header</a> object||
|Memorandum|phys01_memo|`string`|4000|||
|InternalMemo|phys01_memo2|`string`|4000|||
|OrderStatus||`object`||see <a href="/#reference/physicals-reference-data/shippingstatus-list">Shipping Status</a> endpoint||
|<strong>References</strong>|
|ContractReference|phys01_contract|`string`|10|||
|ClientReference|phys01_clref|`string`|40|||
|BuyerOrderNumber|phys01_buyerorderno|`string`|40|||
|BuyerSecondaryReference|phys01_buyersecref|`string`|40|||
|DeliveryClientOrderNumber|phys01_delorderno|`string`|40|||
|DeliveryClientSecondaryReference|phys01_delsecref|`string`|40|||
|<strong>GoodsDetails</strong>|
|Terminal||`object`||see <a href="/#reference/physicals-reference-data/terminals-list">Terminals List</a> endpoint||
|Commodity||`object`||see <a href"/#reference/physicals-reference-data/commodities-list">Commodies List</a> endpoint||
|Sample||`object`||see <a href"/#reference/physicals-reference-data/sample-list">Samples List</a> endpoint||
|UnitOfMeasurement||`object`||see <a href"/#reference/physicals-reference-data/weight-list">Weights List</a> endpoint||
|Quantity|phys01_conquan|`number`||||
|PackingType||`object`||see <a href"/#reference/physicals-reference-data/packingtype-list">PackingType List</a> endpoint||
|<strong>TransportDetails</strong>|
|DeliveryClient||`object`||see <a href="/#reference/data-object-definitions/read-expedcalloffss">Account Header</a> object||
|Haulier||`object`||see <a href="/#reference/data-object-definitions/read-expedcalloffss">Account Header</a> object||
|Expeditor||`object`||see <a href="/#reference/data-object-definitions/read-expedcalloffss">Account Header</a> object||
|VehicleReference|phys01_vehicle|`string`|4|||
|VehicleRegistration|phys01_vehiclereg|`string`|50|||
|TrailerRegistration|phys01_trailerplate|`string`|50|||
|EarlyLoadAllowed|phys01_earlyload|`boolean`|1|||
|MaxLoadWeight|phys01_maxloadwt|`number`||||

+ Request
    [AccessToken][]
    
+ Parameters
    + TradingEntityId (required, string, `JT`) 
    + ReleaseId (required, string, `abc123`)

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (ExpedCallOff)
        + Response (200 SuccessResponse)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

## ExpedCallOff List [/Inventory/{TradingEntityId}/Physicals/OrderScheduling/ExpedCallOff/{Property}/{PropertyValue}]
Orders (CallOffs) generated through EXPED
### List ExpedCallOff [GET]

|property|description|type|max length|notes|constraint|
|--------|-----------|----|----------|-----|----------|
|ReleaseId|phys01_releasenr|`number`||||
|ContractType|phys01_contype|`string`|1|||
|ContractDate|phys01_condate|`number`||DateTime||
|DeliveryDate|phys01_startper|`number`||DateTime||
|DepartmentCode|phys01_dept|`string`|4|||
|CounterpartyCode|phys01_counterparty|`string`|10|||  
|Memorandum|phys01_memo|`string`|4000|||
|InternalMemo|phys01_memo2|`string`|4000|||
|OrderStatusCode|phys01_afi|`string`|2|||
|ContractReference|phys01_contract|`string`|10|||
|ClientReference|phys01_clref|`string`|40|||
|BuyerOrderNumber|phys01_buyerorderno|`string`|40|||
|BuyerSecondaryReference|phys01_buyersecref|`string`|40|||
|DeliveryClientOrderNumber|phys01_delorderno|`string`|40|||
|DeliveryClientSecondaryReference|phys01_delsecref|`string`|40|||
|TerminalCode|phys01_terminal|`string`|4|||
|CommodityFullCode|phys01_commod|`string`|3|||
|SampleCode|phys01_samplecode|`string`|4|||
|UnitOfMeasurementCode|phys01_wtcode|`string`|4|||
|Quantity|phys01_conquan|`number`||||
|PackingTypeCode|phys01_packcode|`string`|4|||
|DeliveryClientCode|phys01_delclient|`string`|10|||
|HaulierCode|phys01_haulageacc|`string`|10|||
|ExpeditorCode|phys01_expeditor|`string`|10|||
|VehicleReference|phys01_vehicle|`string`|4|||
|VehicleRegistration|phys01_vehiclereg|`string`|50|||
|TrailerRegistration|phys01_trailerplate|`string`|50|||
|EarlyLoadAllowed|phys01_earlyload|`boolean`|1|||
|MaxLoadWeight|phys01_maxloadwt|`number`||||

+ Request
    [AccessToken][]
    
+ Parameters
    + TradingEntityId (required, string, `JT`) 
    + Property (optional, enum[string]) ... identify property name to filter by 
       + Members
            + ReleaseId 
            + DepartmentId
            + CounterpartyId
            + ContractReference
            + TerminaId
    + PropertyValue (optional, string, `abc123`) ... required if property specified.

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (array [ExpedCallOff List])
        + Pagination (Pagination)
        + Response (200 SuccessResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 BadPropertyResponse)
    
+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

## StockToStockOrder [/Inventory/{TradingEntityId}/Physicals/OrderScheduling/StockToStockOrder/{ReleaseId}]
Orders specifically representing movements of goods between Stock Units (aka Manufacturing Orders).
### Read StockToStockOrder [GET]

|property|description|type|max length|notes|constraint|
|--------|-----------|----|----------|-----|----------|
|ReleaseId|phys09_releasenr|`number`||||
|TargetStockUnitCode||`object`||see <a href="/#reference/wip-reference-data/stockunit">StockUnit</a> endpoint||
|Quantity|phys09_loaded|`number`||||
|TargetDate|phys09_targetdate|`string`||||
|PumpingMemo|phys09_pumpmemo|`string`|250|||
|ProcessComplete|phys09_processed|`boolean`|1|||
|SourceStockUnitCode||`[object]`|array of StockLoading objects|see <a href="/#reference/inventory-management/stockloading">StockLoading</a> endpoint||


+ Parameters
    + TradingEntityId (required, string, `JT`) 
    + ReleaseId (required, number, `123`)

+ Request (application/json)
    + Header

            AccessToken: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1bmlxdWVfbmFtZSI6ImRlZXBhayIsInN1YiI6ImRlZXBhayIsInJvbGUiOlsiNzk5YjhhNDEtYWI0ZS00MTBhLWI5MTktYzU3ZWFlMmFlMDI5IiwiZGVlcGFrIiwiQVNQLk5FVCBJZGVudGl0eSIsIjViNDE4ODE2LTI3ZjQtNGRlOC1iNmMyLTJlZTcxNjI3ZmJmYyIsIkFkbWluIiwiU3VwZXJBZG1pbiJdLCJpc3MiOiJodHRwOi8vbG9jYWxob3N0OjgwMjciLCJhdWQiOiI4MjkzNjk0MjJmNzA0NTIzODUxZDk4NTU2YjZkNTQyYiIsImV4cCI6MTQ1OTQzMjk0MSwibmJmIjoxNDU5NDMxMTQxfQ.JgPGxt0Ok5baKx0YMXlO6D9kUYrCWM-Kma9b9iMW8tg


+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (StockToStockOrder)
        + Response (200 SuccessResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 Response)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)



# Group Inventory>Physicals>Stock Management
Management activities of Stock Units (where represented by WIP Accounts).

## StockBatch [/Inventory/{TradingEntityId}/Physicals/StockManagement/StockBatch/{StockBatchId}]
Batch record information by Stock Unit.
### Read StockBatch [GET]

|property|description|type|max length|notes|constraint|
|--------|-----------|----|----------|-----|----------|
|StockBatchId|cna70_batchid|`string`|20|||
|StockUnitCode||`object`||see <a href="/#reference/wip-reference-data/stockunit">StockUnit</a> endpoint||
|BatchCreateDate|cna70_batchcreated|`datetime`|0|||
|BatchText|cna70_text|`string`|1000|||


+ Request
    [AccessToken][]
    
+ Parameters
    + TradingEntityId (required, string, `JT`) 
    + StockBatchId (required, string, `abc123`)

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (StockBatch)
        + Response (200 SuccessResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 Response)
    
+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

## StockBatch List [/Inventory/{TradingEntityId}/Physicals/StockManagement/StockBatch/{Property}/{PropertyValue}]
Batch record information by Stock Unit.
### List StockBatches [GET]

|property|description|type|max length|notes|constraint|
|--------|-----------|----|----------|-----|----------|
|StockBatchId|cna70_batchid|`string`|20|||
|StockUnitCode|cna70_acc|`string`|11|||
|BatchCreateDate|cna70_batchcreated|`datetime`|0|||
|BatchText|cna70_text|`string`|1000|||


+ Request
    [AccessToken][]
    
+ Parameters
    + TradingEntityId (required, string, `JT`) 
    + Property (optional, enum[string]) ... identify property name to filter by 
       + Members
            + StockBatchId 
            + StockUnitCode
    + PropertyValue (optional, string, `abc123`) ... required if property specified.

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (StockBatch List)
        + Pagination (Pagination)
        + Response (200 SuccessResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 BadPropertyResponse)
    
+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)


# Group Inventory>Physicals>Stock Processing
Production Order processing services.

## MarkOrderAsProcessed [/Inventory/{TradingEntityId}/Physicals/OrderProcessing/MarkOrderAsProcessed/{ReleaseId}]
Trigger call to complete an order (e.g. create stock journals etc)
### Update MarkOrderAsProcessed [PUT]


<strong>URI Parameters</strong>

|property|description|type|max length|notes|constraint|
|--------|-----------|----|----------|-----|----------|
|ReleaseId|phys09_releasenr|`number`|||Unique Key|

<strong>Body Parameters</strong>
<br />
None.

+ Request (application/json)
    + Header

            AccessToken: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1bmlxdWVfbmFtZSI6ImRlZXBhayIsInN1YiI6ImRlZXBhayIsInJvbGUiOlsiNzk5YjhhNDEtYWI0ZS00MTBhLWI5MTktYzU3ZWFlMmFlMDI5IiwiZGVlcGFrIiwiQVNQLk5FVCBJZGVudGl0eSIsIjViNDE4ODE2LTI3ZjQtNGRlOC1iNmMyLTJlZTcxNjI3ZmJmYyIsIkFkbWluIiwiU3VwZXJBZG1pbiJdLCJpc3MiOiJodHRwOi8vbG9jYWxob3N0OjgwMjciLCJhdWQiOiI4MjkzNjk0MjJmNzA0NTIzODUxZDk4NTU2YjZkNTQyYiIsImV4cCI6MTQ1OTQzMjk0MSwibmJmIjoxNDU5NDMxMTQxfQ.JgPGxt0Ok5baKx0YMXlO6D9kUYrCWM-Kma9b9iMW8tg

    + Body 
    
            {
                none
            }

+ Parameters
    + TradingEntityId (required, string, `JT`) 
    + ReleaseId (required, number, `123`)

+ Response 201 (application/json; charset=utf-8)
    + Attributes 
        + Data
            + ReleaseId: 123 (number)
        + Response (201 UpdateResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 Response)
    
+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

## StockLoading [/Inventory/{TradingEntityId}/Physicals/OrderProcessing/StockLoading/{ReleaseId}]
Information specific to the source of the goods generated during any movement (Delivery Out or Stock to Stock).
### Read StockLoading [GET]

|property|description|type|max length|notes|constraint|
|--------|-----------|----|----------|-----|----------|
|ReleaseId|phys10_releasenr|`number`|||Unique Key|
|SourceStockUnitCode||`object`|||see <a href="/#reference/wip-reference-data/stockunit">StockUnit</a> endpoint||
|Weight|phys10_qty|`number`||||

+ Request
    [AccessToken][]

+ Parameters
    + TradingEntityId (required, string, `JT`) 
    + ReleaseId (required, number, `123`)

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (array [StockLoading])
        + Response (200 SuccessResponse)
    
+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 Response)
    
+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

### Create StockLoading [PUT]
Remove current suggestions for Tanks and Create Stock Loadings


|property|description|type|max length|notes|constraint|
|--------|-----------|----|----------|-----|----------|
|ReleaseId|phys10_releasenr|`number`||required|Unique Key|
|SourceStockUnitCode|phys10_tank|`string`|11|required|must exist in xx_cna50|
|Weight|phys10_qty|`number`||required||

+ Parameters
    + TradingEntityId (required, string, `JT`) 
    + ReleaseId (required, number, `123`)

+ Request (application/json)
    + Header

            AccessToken: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1bmlxdWVfbmFtZSI6ImRlZXBhayIsInN1YiI6ImRlZXBhayIsInJvbGUiOlsiNzk5YjhhNDEtYWI0ZS00MTBhLWI5MTktYzU3ZWFlMmFlMDI5IiwiZGVlcGFrIiwiQVNQLk5FVCBJZGVudGl0eSIsIjViNDE4ODE2LTI3ZjQtNGRlOC1iNmMyLTJlZTcxNjI3ZmJmYyIsIkFkbWluIiwiU3VwZXJBZG1pbiJdLCJpc3MiOiJodHRwOi8vbG9jYWxob3N0OjgwMjciLCJhdWQiOiI4MjkzNjk0MjJmNzA0NTIzODUxZDk4NTU2YjZkNTQyYiIsImV4cCI6MTQ1OTQzMjk0MSwibmJmIjoxNDU5NDMxMTQxfQ.JgPGxt0Ok5baKx0YMXlO6D9kUYrCWM-Kma9b9iMW8tg

    + Attributes (array [StockLoadingFlat])

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Attributes 
        + Data
            + ReleaseId: 123 (number)
        + Response (200 CreateResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 Response)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)


## StockMovement [/Inventory/{TradingEntityId}/Physicals/OrderProcessing/StockMovement/{ReleaseId}]
Information relating to the processing of the Order. 
### Read StockMovement [GET]

|property|description|type|max length|notes|constraint|
|--------|-----------|----|----------|-----|----------|
|ReleaseId|phys09_releasenr|`number`||`Required`||
|OrderAcknowledged|phys09_sent|`string`|1|||
|NetLoadedWeight|phys09_loaded|`number`||||
|NetPumpedWeight|phys09_pumped|`number`||||
|NetDeliveredWeight|phys09_delivered|`number`||||
|LoadedDate|phys09_loadeddate|`datetime`||||
|PumpedDate|phys09_pumpeddate|`datetime`||||
|TargetStockUnit||`object`||see <a href="/#reference/wip-reference-data/stockunit">StockUnit</a> endpoint||
|ArrivalDate|phys09_arrivaldate|`datetime`||||
|ArrivalMemo|phys09_arrivalmemo|`string`|250|||
|ArrivalWeight|phys09_arrivalweight|`number`||||
|LoadingStartDate|phys09_loadstartdate|`datetime`||||
|LoadingStartMemo|phys09_loadstartmemo|`string`|250|||
|LoadingEndDate|phys09_loadenddate|`datetime`||||
|LoadingPoint|phys09_loadendmemo|`string`|250|||
|FirstWeight|phys09_firstweight|`number`||||
|FirstWeightWeighbridgeId|phys09_firstweightwbid|`string`|10|||
|FirstWeightId|phys09_firstweightid|`string`|10|||
|SecondWeight|phys09_secondweight|`number`||||
|SecondWeightWeighbridgeId|phys09_secondweightwbid|`string`|10|||
|SecondWeightId|phys09_secondweightid|`string`|10|||

+ Parameters
    + TradingEntityId (required, string, `JT`) 
    + ReleaseId (required, number, `123`)

+ Request (application/json)
    + Header

            AccessToken: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1bmlxdWVfbmFtZSI6ImRlZXBhayIsInN1YiI6ImRlZXBhayIsInJvbGUiOlsiNzk5YjhhNDEtYWI0ZS00MTBhLWI5MTktYzU3ZWFlMmFlMDI5IiwiZGVlcGFrIiwiQVNQLk5FVCBJZGVudGl0eSIsIjViNDE4ODE2LTI3ZjQtNGRlOC1iNmMyLTJlZTcxNjI3ZmJmYyIsIkFkbWluIiwiU3VwZXJBZG1pbiJdLCJpc3MiOiJodHRwOi8vbG9jYWxob3N0OjgwMjciLCJhdWQiOiI4MjkzNjk0MjJmNzA0NTIzODUxZDk4NTU2YjZkNTQyYiIsImV4cCI6MTQ1OTQzMjk0MSwibmJmIjoxNDU5NDMxMTQxfQ.JgPGxt0Ok5baKx0YMXlO6D9kUYrCWM-Kma9b9iMW8tg

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (StockMovement)
        + Response (200 SuccessResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 Response)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

### Update StockMovement [PUT]

|property|description|type|max length|notes|constraint|
|--------|-----------|----|----------|-----|----------|
|ReleaseId|phys09_releasenr|`number`||`Required`||
|OrderAcknowledged|phys09_sent|`string`|1|||
|NetLoadedWeight|phys09_loaded|`number`||||
|NetPumpedWeight|phys09_pumped|`number`||||
|NetDeliveredWeight|phys09_delivered|`number`||||
|LoadedDate|phys09_loadeddate|`datetime`||||
|PumpedDate|phys09_pumpeddate|`datetime`||||
|TargetStockUnitCode|phys09_stock|`string`|11||must exist in xx_cna50|
|ArrivalDate|phys09_arrivaldate|`datetime`||||
|ArrivalMemo|phys09_arrivalmemo|`string`|250|||
|ArrivalWeight|phys09_arrivalweight|`number`||||
|LoadingStartDate|phys09_loadstartdate|`datetime`||||
|LoadingStartMemo|phys09_loadstartmemo|`string`|250|||
|LoadingEndDate|phys09_loadenddate|`datetime`||||
|LoadingPoint|phys09_loadendmemo|`string`|250|||
|FirstWeight|phys09_firstweight|`number`||||
|FirstWeightWeighbridgeId|phys09_firstweightwbid|`string`|10|||
|FirstWeightId|phys09_firstweightid|`string`|10|||
|SecondWeight|phys09_secondweight|`number`||||
|SecondWeightWeighbridgeId|phys09_secondweightwbid|`string`|10|||
|SecondWeightId|phys09_secondweightid|`string`|10|||


+ Parameters
    + TradingEntityId (required, string, `JT`) 
    + ReleaseId (required, number, `123`)

+ Request (application/json)
    + Header

            AccessToken: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1bmlxdWVfbmFtZSI6ImRlZXBhayIsInN1YiI6ImRlZXBhayIsInJvbGUiOlsiNzk5YjhhNDEtYWI0ZS00MTBhLWI5MTktYzU3ZWFlMmFlMDI5IiwiZGVlcGFrIiwiQVNQLk5FVCBJZGVudGl0eSIsIjViNDE4ODE2LTI3ZjQtNGRlOC1iNmMyLTJlZTcxNjI3ZmJmYyIsIkFkbWluIiwiU3VwZXJBZG1pbiJdLCJpc3MiOiJodHRwOi8vbG9jYWxob3N0OjgwMjciLCJhdWQiOiI4MjkzNjk0MjJmNzA0NTIzODUxZDk4NTU2YjZkNTQyYiIsImV4cCI6MTQ1OTQzMjk0MSwibmJmIjoxNDU5NDMxMTQxfQ.JgPGxt0Ok5baKx0YMXlO6D9kUYrCWM-Kma9b9iMW8tg

   + Attributes (StockMovement Flat)

+ Response 201 (application/json; charset=utf-8)
    + Attributes  
        + Data 
            + ReleaseId: 123 (number)
        + Response (201 UpdateResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 Response)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)



# Group Data Object Definitions
List of re-usable Data Objects referenced as `object` types. Not that these endpoints are not accessable and only here for reference purposes.

## AccountHeader [/AccountHeader]
A multipurpose object used by several endpoints and with multiple source tables depending on context. The object described below is generic. 

### AccountHeader [GET]
The account header object is derived from multiple locations of the database depending on the the value of AccountType. All are documented below.
<br /><br />
<strong>AccountType: C</strong>

|property|description|type|max length|notes|constraint|
|--------|-----------|----|----------|-----|----------|
|AccountType|A single letter denoting type|`string`|1|`C`||
|AccountId|chr20_acc|`string`|11|||
|AccountDescription|chr20_title|`string`|200|||
|EDICode|chr20_ediaddr|`string`|50|||
|Status|chr20_status|`string`|1|||

<br />
<strong>AccountType: N</strong>

|property|description|type|max length|notes|constraint|
|--------|-----------|----|----------|-----|----------|
|AccountType|A single letter denoting type|`string`|1|`N`||
|AccountId|nhr20_acc|`string`|11|||
|AccountDescription|nhr20_titdescr &#124; nhr20_detdescr|`string`|200|||
|EDICode|nhr20_altcode|`string`|50|||
|Status|nhr20_status|`string`|1|||

<br />
<strong>AccountType: K</strong>

|property|description|type|max length|notes|constraint|
|--------|-----------|----|----------|-----|----------|
|AccountType|A single letter denoting type|`string`|1|`K`||
|AccountId|cna50_acc|`string`|11|||
|AccountDescription|cna50_descr|`string`|200|||
|EDICode|cna50_c2cacc|`string`|50|||
|Status|cna50_status|`string`|1|||

+ Response 200 (application/json; charset=utf-8)
+ Attributes (AccountHeader)

## AccountPostingDetails [/AccountPostingDetails]

### AccountPostingDetails[GET]


|property|description|type|max length|notes|constraint|
|--------|-----------|----|----------|-----|----------|
|AccountCode|dhlxx_account|`string`|11|required|must exist in `xx_chr20`|
|AccountLedgerType|dhlxx_ledger|`string`|1|required|`C`, `N`, `K`|
|ExpenseCode|dhlxx_expcode|`string`|7|required|must exist in `xx_cmy101`|
|DepartmentCode|dhlxx_dept|`string`|4|required|must exist in `xx_cmy102`|
|AmountInDocumentCurrency|dhlxx_amount|`decimal`||required|can contain negative values|


+ Response 200 (application/json; charset=utf-8)
+ Attributes (AccountPostingDetails)

## Address [/Address]
A multipurpose object used by several endpoints. 

### Address[GET]

|property|description|type|max length|notes|constraint|
|--------|-----------|----|----------|-----|----------|
|AddressLine1|chr20_addr1|`string`|60|||
|AddressLine2|chr20_addr2|`string`|60|||
|AddressLine3|chr20_addr3|`string`|60|||
|AddressLine4|chr20_addr4|`string`|60|||
|ZipCode|chr20_zipcode|`string`|40|||
|CountryCode|`object`|||see <a href="/#reference/data-object-definitions/addresscountry">AddressCountry</a> object||
|EmailAddress|chr20_emailaddr|`string`|100|||
|PhoneNumber|chr20_phoneno|`string`|40|||
|FaxNumber|chr20_faxno|`string`|40|||

+ Response 200 (application/json; charset=utf-8)
+ Attributes (ContactDetails)

## AddressCountry [/AddressCountry]
A multipurpose object used by several endpoints. 

### AddressCountry[GET]

|property|description|type|max length|notes|constraint|
|--------|-----------|----|----------|-----|----------|
|CountryId|boec_code|`string`|3|||
|CountryDescription|boec_descr|`string`|50|||

+ Response 200 (application/json; charset=utf-8)
+ Attributes (Country)

## DocumentDetails [/DocumentDetails]

### DocumentDetails[GET]


|property|description|type|max length|notes|constraint|
|--------|-----------|----|----------|-----|----------|
|DocumentDate|dhl21_ddate|`datetime`||required||
|ValueDate|dhl21_vdate|`datetime`||required||
|DocumentCurrencyCode|dhl21_ccy|`string`|3|required|must exist in `gf_fxr20`|
|PayeeName|dhl21_payer|`string`|60|||
|Narrative|dhl21_narr|`string`|30|||
|EDICode|xtx01_axdocref|`string`|25|||


+ Response 200 (application/json; charset=utf-8)
+ Attributes (DocumentDetails)

## OnAccountDetails [/OnAccountDetails]

### OnAccountDetails[GET]


|property|description|type|max length|notes|constraint|
[...]
